.fl /* Float left */
{
  float: left;
}

.fr /* Float right */
{
  float: right;
}

.hide  /* Hide */
{
  display: none;
}

.tr /* Transparent */
{
  background-color: transparent;
  border: 0;
}

ul /* Unmarked list */
{
  margin: 0;
  padding-left: 20;
}