* {margin: 0; padding: 0;}

/* Login and Registration screens */
body {
    background-image: url(../images/bg-unauthorized.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

#log_main {
  top: 190px;
  position: relative;
  width: 450px;
  background-repeat: none;
  border:1px solid #FFFFFF;

  font-color: #0a1c25;
  color:  #b1daf2;

  background-color     : #000000;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

#log_status, #log_title
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: #0a1c25;
  width: 100%;
  text-align: center;

  background-color     : #FFFFFF;
  filter               : alpha(opacity=90);
  -moz-opacity         : 0.9;
  -khtml-opacity       : 0.9;
  opacity              : 0.9;
}

#log_title
{
  font-size: 20px;
}

#log_description
{
  margin: 20px;
  color:  #b1daf2;
  text-align: justify;
}

#log_register {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;

  margin:20px;
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  color:#497ec7;
  cursor: pointer;

  background-color     : #000000;
  border:1px solid #FFFFFF;
}

#log_register:hover
{
  color:#ffffff;
}

#log_form {
  padding: 2%;
  height: 5em;
}

.log_input_wrapper
{
  float: left;
  margin-left: 2%;
  width: 46%;
  text-align: left;
}

.log_input
{
  border:1px solid #000000;
  background:#ffffff url(../templates/OpenGame/img/eingabe_back.png) repeat-x;
  color: #000000;
  font-size:10px;
  width: 100%;
  left: 0px;
}

form
{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#log_menu {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px;
}

/* System classes */
.fl /* Float left */
{
  float: left;
}

.fr /* Float right */
{
  float: right;
}

.hide  /* Hide */
{
  display: none;
}

.tr /* Transparent */
{
  background-color: transparent;
  border: 0;
}

ul /* Unmarked list */
{
  margin: 0;
  padding-left: 20;
}

.icon_alpha /* Partially transparent background for over-planet-image icons */
{
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.75 opacity */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7. 0.75*255 = 191.25 ~ 0xC0 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000, endColorstr=#C0000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000, endColorstr=#C0000000)";
}

/* jQuery-UI */
/*--------------------------------------------------------*/
/* Patches */
/* Turning off headers in dialogs */
.ui-dialog .ui-dialog-titlebar { display: none; }
/* Turning off resize grapplers */
.ui-dialog .ui-resizable-se { display: none; }
/* Setting no-padding to content inside dialog */
.ui-dialog .ui-dialog-content { padding: 0; }

/* Hack: Setting no background and border for dialogs */
body .ui-dialog, div .ui-dialog-content { background: transparent; border: none; }

/* Coloring Slider Range */
.ui-slider-range { background: #f6a828; }
