<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
  var ally_id = "{ALLY}";
  var IS_HISTORY = '{HISTORY}';
  var chat_refresh_rate = parseInt("{CHAT_REFRESH_RATE}") * 1000;
  var L_chat_advanced_command_mute = "{LA_chat_advanced_command_mute}";
  var L_chat_advanced_online_ban = "{LA_chat_advanced_online_ban}";
  var L_chat_advanced_online_mute = "{LA_chat_advanced_online_mute}";
  var L_chat_advanced_online_banned_via_chat = "{LA_chat_advanced_online_banned_via_chat}";
  var L_chat_advanced_online_unmute = "{LA_chat_advanced_online_unmute}";
  var L_chat_advanced_command_reason = "{LA_chat_advanced_command_reason}";
</script>

<script type="text/javascript" src="js/chat_advanced.min.js?{C_var_db_update}"></script>
