;--------------------------------------------------------------------
; Example Environment Configuration file
;
; This file can be used as a starting point for your own
; custom .env files, and contains most of the possible settings
; available in a default install.
;
; By default, all of the settings are commented out. If you want
; to override the setting, you must un-comment it by removing the ';'
; at the beginning of the line.
;--------------------------------------------------------------------

;--------------------------------------------------------------------
; ENVIRONMENT
;--------------------------------------------------------------------

; SN_ENV = production
