# Ignore config.php in any directory
config.php

# Ignore forums
phpBB3/
forum/
xcache-admin/

# Ignore backup folder
admin/backup/
admin/sxd/backup/
admin/sxd/cfg.php
admin/sxd/error.log
admin/sxd/ses.php

# Ignore all dotfiles...
.*
# ...except for .gitignore
!.gitignore
!.gitattributes

# Ignore backups
admin/backup/*.gz