/* ______________________________________________________________

VERSION 1.6 =)

Diese Skin basiert auf dem alten Gecko Skin und wurde von mir verändert!
Es ist nun ein völlig neuer Skin mit neuen Bilder und Planeten!

 BBBBBB        LLL           UU    UU       EEEEEEEE      PPPPPP         LLL              AAAAAAA         N         N       EEEEEEEE    TTTTTTTTTTTTT
BBB   BBB      LLL          UUU    UUU     EEEEEEEE       PPP   PPP      LLL             AA     AA       NNN       NNN     EEEEEEEE     TTTTTTTTTTTTT
BBB    BBB     LLL          UUU    UUU     EEE            PPP    PPP     LLL            AAA     AAA      NNN       NNN     EEE              TTTTT
BBB   BBB      LLL          UUU    UUU     EEEEEE         PPP   PPP      LLL            AAAA   AAAA      NNNNNN    NNN     EEEEEE            TTT
BBBBBBB        LLL          UUU    UUU     EEEEEEE        PPPPPPP        LLL            AAAAAAAAAAA      NNN NNN   NNN     EEEEEEE           TTT
BBB   BBBB     LLL          UUU    UUU     EEEEEE         PPP            LLL            AAAA   AAAA      NNN  NNN  NNN     EEEEEE            TTT
BBB    BBBB    LLL          UUU    UUU     EEE            PPP            LLL            AAA     AAA      NNN   NNN NNN     EEE               TTT
BBB   BBBB     LLLLLLLL      UU    UU      EEEEEEEEE      PPP            LLLLLLLLL     AAAA     AAAA     NNN    NNNNN      EEEEEEEEE         TTT
 BBBBBBBB       LLLLLLLL      UUUUUU        EEEEEEEEE      P              LLLLLLLLL   AAAAA     AAAAA   NNN      NNN        EEEEEEEEE       TTTTT


MM       MM IIII CCCCCCCC 2003
MMM     MMM IIII CCCCCCCC
MMMM   MMMM IIII CCC
MM MM MM MM IIII CCC
MM  MMM  MM IIII CCCCCCCC
MM   m   MM IIII CCCCCCCC
______________________________________________________ */

., #, td, th, textarea, body, table
{
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size            : 11px;
  font-weight          : bold;

}

img
{
  border               : 0px;
}

p table
{
  border               : 0px;
  text-align           : left;
}

p td
{
  text-align           : left;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

/*'''''''''''''''''''###################''''''''''''''''''''############*/
/*Galaxieansicht*/
/*'''''''''''''''''''###################''''''''''''''''''''############*/

/*Allianzmember*/
.allymember
{
  color: lime;
}

/*Anfänger*/
.noob
{
  color                : #a0ffa0;
}

/*Starke Spieler*/
.strong
{
  color		      : #ffa0a0;
}

/*U-Mod*/
.vacation
{
  color		      : #0000ff;
}

/*Inaktiv*/
.inactive
{
  color                : #CCCCCC;
}

/*Toter Acc*/
.longinactive
{
  color                : #999999;
}

/*Gesperrter Acc*/
.banned
{
  text-decoration      : line-through;
}

/*###################################################################*/
/*###################################################################*/
/*###################################################################*/
/*Übersicht*/

/*'''''''''''''''''''''Angriff'''''''''''''''''''''*/
/*Angriff Hinflug*/
tr.flight span.ownattack
{
  color                : #0080FF;
}
tr.flight span.ownattack a
{
  color                : #BFBFBF;
}
tr.return span.ownattack a:hover
{
  color                : #FFFFFF;
}

/*Angriff Rückflug*/
tr.return span.ownattack
{
  color                : #0060FF;
}
tr.return span.ownattack a
{
  color                : #0060FF;
}
tr.return span.ownattack a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Abbau'''''''''''''''''''''*/
/* Recyclen Hinflug*/
tr.flight span.ownharvest
{
  color                : #00DF00;
}
tr.flight span.ownharvest a
{
  color                : #BFBFBF;
}
tr.flight span.ownharvest a:hover
{
  color                : #FFFFFF;
}

/* Recyclen Rückflug*/
tr.return span.ownharvest
{
  color                : #009F00;
}
tr.return span.ownharvest a
{
  color                : #009F00;
}
tr.return span.ownharvest a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Transport'''''''''''''''''''''*/
/* Transport Hinflug*/
tr.flight span.owntransport
{
  color                : #00DF00;
}
tr.flight span.owntransport a
{
  color                : #BFBFBF;
}
tr.flight span.owntransport a:hover
{
  color                : #FFFFFF;
}

/*Transport Rückflug*/
tr.return span.owntransport
{
  color                : #009F00;
}
tr.return span.owntransport a
{
  color                : #009F00;
}
tr.return span.owntransport a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''stationieren'''''''''''''''''''''*/
/*stationieren Hinflug*/
tr.flight span.owndeploy
{
  color                : #9F9F9F;
}
tr.flight span.owndeploy a
{
  color                : #BFBFBF;
}
tr.flight span.owndeploy a:hover
{
  color                : #FFFFFF;
}

/*stationieren Rückflug*/
tr.return span.owndeploy
{
  color                : #7F7F7F;
}
tr.return span.owndeploy a
{
  color                : #7F7F7F;
}
tr.return span.owndeploy a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Spionage'''''''''''''''''''''*/
/*Spionage Hinflug*/
tr.flight span.ownespionage
{
  color                : #FF8500;
}
tr.flight span.ownespionage a
{
  color                : #BFBFBF;
}
tr.flight span.ownespionage a:hover
{
  color                : #FFFFFF;
}

/*Spionage Rückflug*/
tr.return span.ownespionage
{
  color                : #FFA500;
}
tr.return span.ownespionage a
{
  color                : #FFA500;
}
tr.return span.ownespionage a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''kolonisieren'''''''''''''''''''''*/
/*kolonisieren Hinflug*/
tr.flight span.owncolony
{
  color                : #00DF00;
}
tr.flight span.owncolony a
{
  color                : #BFBFBF;
}
tr.flight span.owncolony a:hover
{
  color                : #FFFFFF;
}

/*kolonisieren Rückflug*/
tr.return span.owncolony
{
  color                : #009F00;
}
tr.return span.owncolony a
{
  color                : #009F00;
}
tr.return span.owncolony a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Verbandsangriff'''''''''''''''''''''*/
/*Verbandsangriff Hinflug*/
tr.flight span.ownfederation
{
  color                : #00A0FF;
}
tr.flight span.ownfederation a
{
  color                : #BFBFBF;
}
tr.flight span.ownfederation a:hover
{
  color                : #FFFFFF;
}

/*Verbandsangriff Rückflug*/
tr.return span.ownfederation
{
  color                : #0060FF;
}
tr.return span.ownfederation a
{
  color                : #0060FF;
}
tr.return span.ownfederation a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Mondangriff'''''''''''''''''''''*/
/*Mondangriff Hinflug*/
tr.flight span.owndestroy
{
  color                : #00C0FF;
}
tr.flight span.owndestroy a
{
  color                : #BFBFBF;
}
tr.flight span.owndestroy a:hover
{
  color                : #FFFFFF;
}

/*Mondangriff Rückflug*/
tr.return span.owndestroy
{
  color                : #0060FF;
}
tr.return span.owndestroy a
{
  color                : #0060FF;
}
tr.return span.oowndestroy a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Halten'''''''''''''''''''''*/
/*Halten Hinflug*/
tr.flight span.ownhold
{
  color                : #FCFCFE;
}
tr.flight span.ownhold a
{
  color                : #BFBFBF;
}
tr.flight span.ownhold a:hover
{
  color                : #FFFFFF;
}

/*Halten Halten*/
tr.holding  span.ownhold
{
  color                : #5F5F5F;
}
tr.holding  span.ownhold a
{
  color                : #BFBFBF;
}
tr.holding  span.ownhold a:hover
{
  color                : #FFFFFF;
}

/*Halten Rückflug*/
tr.return span.ownhold
{
  color                : #DFDFDF;
}
tr.return span.ownhold a
{
  color                : #DFDFDF;
}
tr.return span.ownhold a:hover
{
  color                : #FFFFFF;
}

/*'''''''''''''''''''''Freundlicher Transport'''''''''''''''''''''*/
/*Freundlicher Transport*/
tr.flight span.transport
{
  color                : #00DF00;
}
tr.flight span.transport a
{
  color                : #BFBFBF;
}
tr.flight span.transport a:hover
{
  color                : #FFFFFF;
}
/*########################################################################*/
                            /*Feindliches*/
/*########################################################################*/

/*'''''''''''''''''''''Mondzerstörung'''''''''''''''''''''*/
/*Mondzerstörung*/
tr.flight span.destroy
{
  color                : #FFDF00;
}
tr.flight span.destroy a
{
  color                : #BFBFBF;
}
tr.flight span.destroy a:hover
{
  color                : #FFFFFF;
}

/*Angriff*/
tr.flight span.attack
{
  color                : #DF0000;
}
tr.flight span.attack  a
{
  color                : #BFBFBF;
}
tr.flight span.attack  a:hover
{
  color                : #FFFFFF;
}

/*Spionage*/
tr.flight span.espionage
{
  color                : #BF0000;
}
tr.flight span.espionage a
{
  color                : #BFBFBF;
}
tr.flight span.espionage a:hover
{
  color                : #FFFFFF;
}

/*Spionage*/
tr.flight span.federation
{
  color                : #DF0000;
}
tr.flight span.federation a
{
  color                : #BFBFBF;
}
tr.flight span.federation a:hover
{
  color                : #FFFFFF;
}

/*########################################################################*/
                            /*Raketenzeug*/
/*########################################################################*/

/*feindlich*/
tr.flight span.missile
{
  color                : #FF0000;
}
tr.flight span.missile a
{
  color                : #BFBFBF;
}
tr.flight span.missile a:hover
{
  color                : #FFFFFF;
}

/*eigene*/
tr.flight span.ownmissile
{
  color                : #0080FF;
}
tr.flight span.ownmissile a
{
  color                : #BFBFBF;
}
tr.flight span.ownmissile a:hover
{
  color                : #FFFFFF;
}

/*###################################################################*/
/*###################################################################*/
/*###################################################################*/

table
{
  border               : 0px;
}

table table td
{
  color                : #2183EF;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

body
{
  font-weight          : bold;
  color                : #BFBFBF;
  margin-top           : 1px;
  margin-left          : 1px;
  background           : #000000;
  background-image     : url(img/erdemond.jpg);
  background-attachment: fixed;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

input
{
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  background-image     : url(img/form.jpg);
  color                : #BFBFBF;
  font-weight          : bold;
  text-align           : left;
  border               : 1px #3F3F3F solid;
  background-color     : #111111;
}

select
{
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  background-color     : #111111;
  color                : #2183EF;
  border               : 1px #3F3F3F solid;
  font-weight          : bold;
}

textarea
{
  background-attachment: fixed;
  background-image     : url(img/text.jpg);
  font-weight          : bold;
  color                : #BFBFBF;
  background-color     : #545454;
  width                : 100%;
  border               : 1px #3F3F3F solid;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

body form table th table input
{
  width                : 60px;
  text-align           : left;
}

td.a, td.b, td.f,td.g, td.h, td.i, td.j, td.k, td.l, td.m,
td.n, td.o, td.q, td.r, td.v, .style td, p td
{
  border               : 1px #3F3F3F solid;
  font-size            : 11px;
  font-weight          : bold;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

td.a, td.b, td.f, td.g,
td.h, td.i, td.j, td.k, td.m, td.o, td.q, td.r,
td.v, td.s, .style td, p td
{
  background-color     : #111111;
}

th
{
  padding-left         : 2px;
  padding-right        : 2px;
  border               : 1px #3F3F3F solid;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  background-color     : #111111;
  color                : #2183EF;
}

th.s
{
  border               : 0px;
  background-color     : #111111;
}

td
{
  border               : 0px;
  font-weight          : bold;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

td.a
{
  height               : 37px;
  text-align           : left;
}

td.b
{
  padding              : 2px;
  color                : #BFBFBF;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

td.c
{
  font-weight          : bold;
  color                : #BFBFBF;
  padding-left         : 3px;
  background-image     : url(img/balken.jpg);
  text-align           : left;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  background-color     : #111111;
  border               : 1px #3F3F3F solid;
}

td.f
{
  color                : #BFBFBF;
  background-color     : #545454;
  text-align           : left;
  border               : 1px #3F3F3F solid;
}

td.g
{
  text-align           : right;
  color                : #2183EF;
}

td.h
{
  text-align           : left;
  color                : #2183EF;
}

td.i
{
  text-align           : left;
  color                : #2183EF;
}

td.j
{
  text-align           : left;
  color                : #2183EF;
}

td.k
{
  text-align           : left;
  color                : #BFBFBF;
  background-image     : url(img/input.jpg);
}

td.l
{
  background-color     : #111111;
  color                : #2183EF;
  vertical-align       : top;
  padding              : 3px;
  background-image     : url(img/bgg.jpg);
  background-repeat    : no-repeat;
}

td.m
{
  text-align           : right;
  width                : 86px;
  color                : #2183EF;
}

td.n
{
  font-weight          : bold;
  text-align           : right;
  width                : 88px;
  text-align           : left;
  color                : #2183EF;
}

td.o
{
  text-align           : left;
  color                : #2183EF;
}

td.q
{
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  text-align           : left;
  vertical-align       : middle;
  color                : #2183EF;
}

td.r
{
  text-align           : right;
  color                : #2183EF;
}

td.v
{
  text-align           : right;
  color                : #2183EF;
}

td.s
{
  color                : #2183EF;
}

table.s
{
  border               : 0px;
}

table.s tr
{

  text-align           : left;
  vertical-align       : middle;
}

table.s th
{
  text-align           : left;
  border               : 0px;
}

table.s img
{
  width                : 88px;
  height               : 88px;
}

div.z
{
  color                : #2183EF;
}

th a
{
  color                : #2183EF;
  text-decoration      : none;
  font-weight          : bold;
}

th a.s
{
  color                : #2183EF;
}

th a.t
{
  color                : #2183EF;
}

th a:hover
{
  color                : #BFBFBF;
}

a
{
  color                : #BFBFBF;
  text-decoration      : none;
  font-weight          : bold;
}

a.s
{
  color                : #BFBFBF;
}

a.t
{
  color                : #BFBFBF;
}

a:hover
{
  color                : #2183EF;
}

.style table
{
  border-bottom        : 3px #2183EF solid;
}

.style td
{
  background-repeat    : no-repeat;
  background-position  : left;
  text-align           : left;
  background-color     : transparent;
  color                : #FFFFFF;
  border               : 0px #3F3F3F solid;
  border-top           : 1px;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  background-image     : url(img/links.gif);
}

.style td:hover
{
  background-image     : url(img/animenue.gif);
  background-position  : center;
  background-repeat    : no-repeat;
}

.style td.c
{
  font-weight          : bold;
  border               : 0px #3F3F3F solid;
  color                : #BFBFBF;
  padding-left         : 3px;
  background-image     : url(img/balken.jpg);
  text-align           : center;
}

.style div a
{
  height               : 100%;
  width                : 100%;
  color                : #BFBFBF;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

.style div a:link
{
  height               : 100%;
  width                : 100%;
  color                : #BFBFBF;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

.style div a:visited
{
  height               : 100%;
  width                : 100%;
  color                : #BFBFBF;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
}

.style div a:hover
{
  height               : 100%;
  width                : 100%;
  text-decoration      : none;
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  color                : #2183EF;
  background-image     : url(img/animenue.gif);
  background-position  : center;
  background-repeat    : no-repeat;
}

.style
{
  margin-top           : 15px;
  background-image     : url(img/menue.jpg);
  border               : 0px #3F3F3F solid;
}

h1
{
  font-size            : 11px;
  font-family          : Trebuchet MS, Arial, Helvetica, sans-serif;
  border-bottom        : 2px #2183EF solid;
  width                : 50%;
}