<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=0.6675" />-->
<!--, target-densitydpi=device-dpi-->

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="HandheldFriendly" content="True">

<!--<meta name="MobileOptimized" content="800">-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<!-- IF ADV_SEO_META_KEYWORDS --><meta name="keywords" content="{ADV_SEO_META_KEYWORDS}" /><!-- ENDIF -->
<!-- IF ADV_SEO_META_DESCRIPTION --><meta name="description" content="{ADV_SEO_META_DESCRIPTION}" /><!-- ENDIF -->

{GLOBAL_META_TAGS}

<link rel="shortcut icon" href="{D_SN_ROOT_VIRTUAL}favicon.ico?{C_var_db_update}" />

<!--[if IE]>
<link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/global-ie.min.css?{C_var_db_update}" />
<![endif]-->


<!-- BEGIN css -->
  <!-- IF css.CONTENT -->
    <style type="text/css">{css.CONTENT}</style>
  <!-- ELSEIF css.FILE -->
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}{css.FILE}?{C_var_db_update}" />
  <!-- ENDIF -->
<!-- END css -->

<!-- IF FONT_SIZE != FONT_SIZE_PERCENT_DEFAULT_STRING -->
  <style type="text/css">
    html {font-size: {FONT_SIZE} !important;}
  </style>
<!-- ENDIF -->
