body, form, table, input, select
{
  font-family : Tahoma, sans-serif;
  font-size : 11px;
}

body
{
  color                : #FFFFFF;
  margin-top           : 5px;
  margin-left          : 1px;
  background-color     : #000000;
  background-image     :  url(img/background2.jpg);
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top;
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-base-color: #344566;
  scrollbar-track-color: #344566;
  scrollbar-face-color: #344566;
  scrollbar-highlight-color: #344566;
  scrollbar-3dlight-color: #465673;
  scrollbar-darkshadow-color: #344566;
  scrollbar-shadow-color: #465673;
}

img
{
  border               : 0px;
}

th, td, input, select, textarea
{
  border         : 1px #415680 solid;
  filter         : alpha(opacity=70);
  -moz-opacity   : 0.7;
  -khtml-opacity : 0.7;
  opacity        : 0.7;
}

th, td
{
  background-color: #000000;
}

input, select, textarea, div.z
{
  color          : #FFFFFF;
  background-color: #1c1c1c;
}

th
{
  text-align   : center;
  padding-left : 3px;
  padding-right: 3px;
}

th, th.c_l, th.c_r, th.c_c
{
  text-align           : center;
  padding-left         : 3px;
  padding-right        : 3px;
}

td.c, td.c_l, td.c_r, td.c_c
{
  font-weight          : bold;
  padding-left         : 3px;
  padding-right        : 3px;
  background-image     : url(img/bg1.gif);
}

th.c_c, td.c_c
{
  text-align: center;
}

th.c_l, td.c_l, td.c
{
  text-align: left;
}

th.c_r, td.c_r
{
  text-align: right;
}

td.l
{
  vertical-align       : top;
  padding              : 3px;
}

textarea
{
  width                : 100%;
}

div.z
{
  font-weight          : bold;
  color                : #E6EBFB;
}

table table
{
  border               : 0px;
}

body.style table {
  margin               : 0px;
}

body form table th table input
{
  width: 60px;
}

a
{
  color                : #E6EBFB;
  text-decoration      : none;
  font-weight          : bold;
}

a:hover
{
  text-decoration      : underline;
}

.style td
{
  color                : #E6EBFB;
  border-top           : 0px;
}

.style div a
{
  color                : #f2f2f2;
}

.style div a:link
{
  color                : #f2f2f2;
}

.style div a:visited
{
  color                : #f2f2f2;
}

.style div a:hover
{
  background-repeat    : no-repeat;
  background-position  : left;
  text-decoration      : none;
}

h1
{
  font-size            : 200%;
  border-bottom        : 0px #344566 solid;

  margin-top           : 16px;
}

.ov_user_total {color: #FF0000}
.ov_user_rank {color: #FFFF00}

#page_body
{
  margin-left: 150px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

#left_menu_wrapper {
  float:left;
  width: 130px;
/*  text-align: center;*/
  padding-left:5px;
  padding-right:5px;
}

#left_menu {
  font-weight: bold;
  width: 100%;
}

#left_menu #server_name {
  color: #00FF00;
  font-weight: bold;
}

#left_menu th {
  color: #63698c;
  background-image: url(img/bg1.gif);
  background-color: #212c42;
  text-align: center;
}

#lm_overview {
  color: #999933;
}

#lm_fleet {
  color: #CC3333;
}

#lm_universe {
  color: #999966;
}

#lm_buildings {
  color: #669933;
}

#lm_shipyard {
  color: #993399;
}

#lm_techtree {
  color: #999933;
}

#lm_forum {
  color: #0066CC;
}

#lm_chat {
  color: #996699;
}

#lm_chatally {
  color: #996699;
}

#lm_simulator {
  color: #FF9966;
}

#lm_search {
  color: #887766;
}

#lm_options {
  color: #CCCC66;
}

#lm_affilates {
  color: #993333;
}

#lm_logout {
  color: #993333;
}

.link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/*  Patching this theme for ui-slider */
.style .ui-slider a:link { width: 1.2em; height: 1.2em; }
.style .ui-slider a:hover { width: 1.2em; height: 1.2em; }

/* Setting popup table background color */
div .ui-dialog-content table { background: #040e1e; }

/* Icon file */
.icons { background-image: url(images/icons.png); }

/* Que item */
.que_item
{
  cursor: pointer;

  border: 0px;

  position: relative;
  height: 60px;
  width: 60px;

  margin-right: 2px;

  font-size: 100%;
}

/* Unit picture */
.unit_picture
{
  border: 0px;

  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;
}

/* Unit preview box on build pages */
.unit_preview
{
  cursor: pointer;

  border: 3px solid #000000;

  position: relative;
  height: 120px;
  width: 120px;

  font-size: 100%;
}

/* Pseudoelement to use colors from CSS in JS */
#style_probe
{
  border-top-color: #666666;  /*  Reserved for unit_preview border color*/
}

#off_dark_matter_hint {color: #00CCFF; font-weight: bold; floating: left}
#off_get_dark_matter { color: #ff8900; font-weight: bold;}

.ui-widget-content
{
  color: white;
}