body.supernova
{
  /*overflow: hidden;*/
  width: auto;
  height: auto;

  /*display: flex;*/
  flex-direction: column;
  border: 5px solid red;
}

.impersonate_header
{
  text-align: center;
  width: auto;
  font-size: 2em;
  /*border: 5px solid yellow;*/
}

.supernova #__page_body_sn
{
  display: flex;
  flex-direction: column;


  /*overflow: scroll;*/
  width: auto;
  height: auto;


  /*border: 5px solid white;*/
}

#sn_resbar_container {
  display: flex;
  flex-wrap: nowrap;
  /*flex-direction: column;*/

  justify-content: space-between;
  /*align-items: center;*/
  border: 2px solid green;
}

#resbar {
  margin: auto;
  background-color: transparent;
  background-image: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


#qqq > div {
  border: 1px solid white;
  /*margin-right: 1em;*/
  /*margin-left: 1em;*/
}


.supernova #sn_resbar_container .navbar_button {
  /*display: inline-block;*/

  /*position: relative;*/

  width: 2.909090909091em;
  height: 2.909090909091em;

  /*margin: 0.25em;*/

  /*text-align: center;*/
}
.supernova #sn_resbar_container .navbar_button.wide {
  /*width: 11.63636363636em;*/
}





body.supernova #navbar_container {
  /*border: 5px solid blue;*/
  /*display: inline-block;*/
}

#_menu_and_content {
  display: flex;

  /*border: 5px solid green;*/
}

#__menu_sn {
  /*border: 5px solid yellow;*/
  flex-grow: 0;
}
#__content_sn {
  /*border: 5px solid red;*/
  flex-grow: 2;
}


#__content {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.benchmark
{
  /*border: 5px solid blue;*/
}









/* Resbar Horizontal Old ---------------------------------------------------------------------------------------------*/

/* Отключаем новые элементы - заголовки столбиков*/
.navbar_resources_flex .navbar_header_resource_name {
  display: none;
}
/* Включаем заголовки только для олдвью */
.navbar_resources_flex.old .navbar_header_resource_name {
  display: block;
}
/* Disabling resource icons for oldview */
.navbar_resources_flex.old .navbar_resources_flex_resource > div.navbar_resource_image {
  display: none;
}

/* Убираем внутренние отступы у надэлемента */
.navbar_resources_flex.old {
  padding: 0;
  font-size: 1em;
}

/* Индивидуальные настройки первого столбика с названием строк */
.navbar_resources_flex.old .navbar_resources_flex_title
{
  display: flex;
  flex-direction: column;
  align-items:stretch;

  justify-content: space-between;
}
/* Ячейка верхнего уровня для описания ресурса. Именно её надо позиционировать */
.navbar_resources_flex.old .navbar_resources_flex_resource.cell {
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  align-items: flex-start;
}

/* Враппер, котоый уже и содержит столбик с ресурсами. Нужен, потому что еще есть картинка ресурса */
.navbar_resources_flex.old .navbar_resources_flex_resource.cell > div {
  align-items: stretch;
}
/* В каждом столбике в рядах с количеством выравниваем цифры вправо */
.navbar_resources_flex.old .navbar_resources_flex_resource.cell > div > div:not(.navbar_header_resource_name) {
  text-align: right;
  background-color: #344566;
}

/* TODO - Временно, что бы было видно, что двигать и куда */
.navbar_resources_flex.old .navbar_resources_flex_title,
.navbar_resources_flex.old .navbar_resources_flex_resource.cell {
  /*border: 1px solid blue;*/
}

/* индивидуальные элементы внутри стобика с названиями */
.navbar_resources_flex.old .navbar_resources_flex_title > div,
  /* Индивидуальные элементы внутри каждого столбика с ресурсами */
.navbar_resources_flex.old .navbar_resources_flex_resource.cell > div > div {
  margin: 0.1em;
  padding: .3em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #415680;
}

/*!* Resbar Vertical Old -----------------------------------------------------------------------------------------------*!*/
/*.navbar_resources_flex.old.resbar_v {*/
/*  flex-wrap: nowrap;*/
/*}*/
/*!* Индивидуальные настройки первого столбика с названием строк *!*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_title*/
/*{*/
/*  flex-direction: row;*/
/*  !*flex-wrap: nowrap;*!*/
/*}*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_title > div {*/
/*  !*flex-grow: 1;*!*/
/*  !*flex-shrink: 1;*!*/

/*  width: 40%;*/
/*  !*height: 100%;*!*/
/*  !*min-width: 40%;*!*/
/*}*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_title > div:first-child {*/
/*  width: 20%;*/
/*  min-width: 20%;*/
/*}*/
/*!* Враппер, котоый уже и содержит столбик с ресурсами. Нужен, потому что еще есть картинка ресурса *!*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_resource.cell > div {*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/

/*  !*border: 3px solid white;*!*/
/*}*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_resource.cell > div > div {*/
/*  !*flex-grow: 1;*!*/
/*  !*flex-shrink: 1;*!*/

/*  width: 40%;*/
/*}*/
/*.navbar_resources_flex.old.resbar_v .navbar_resources_flex_resource.cell > div > div:first-child {*/
/*  width: 20%;*/
/*  min-width: 20%;*/
/*}*/
