<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{LANG_DIRECTION}" lang="{LANG_LANGUAGE}" xml:lang="{LANG_LANGUAGE}">
  <head>
    <base href="{D_SN_ROOT_VIRTUAL}" />

    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <!--<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=0.6675" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
    <meta name="HandheldFriendly" content="True">
    <!--<meta name="MobileOptimized" content="800">-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- IF ADV_SEO_META_KEYWORDS --><meta name="keywords" content="{ADV_SEO_META_KEYWORDS}" /><!-- ENDIF -->
    <!-- IF ADV_SEO_META_DESCRIPTION --><meta name="description" content="{ADV_SEO_META_DESCRIPTION}" /><!-- ENDIF -->
    {-meta-}

    <link rel="shortcut icon" href="{D_SN_ROOT_VIRTUAL}favicon.ico?{C_var_db_update}" />
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/jquery-ui.css?{C_var_db_update}" />

    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/global.css?{C_var_db_update}" />
    <!-- IF LOGIN_LOGOUT -->
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/login.css?{C_var_db_update}" />
    <!-- ENDIF -->
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/global-ie.css?{C_var_db_update}" />
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}{D_TEMPLATE_PATH}/_template.css?{C_var_db_update}" />
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}{dpath}skin.css?{C_var_db_update}" />
    <!-- IF LOGIN_LOGOUT -->
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/{GAME_MODE_CSS_PREFIX}login_background.css?{C_var_db_update}" />
    <!-- ELSE -->
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}{dpath}{GAME_MODE_CSS_PREFIX}skin_background.css?{C_var_db_update}" />
    <!-- ENDIF -->
    <!--<link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}{dpath}skin_server.css?{C_var_db_update}" />-->
    <link rel="stylesheet" type="text/css" href="{D_SN_ROOT_VIRTUAL}design/css/global_override.css?{C_var_db_update}" />

    <title>{title}</title>
  </head>

  <!-- IF PLAYER_OPTION_DESIGN_DISABLE_BORDERS -->
    <!-- DEFINE $PLAYER_OPTION_DESIGN_DISABLE_BORDERS = 'no_border_image' -->
  <!-- ENDIF -->

  <body class="style {$PLAYER_OPTION_DESIGN_DISABLE_BORDERS}" style="max-height: 10000000em">
    <script type="text/javascript">
      // Этот скрипт находится здесь, потому что он должен быть выполнен максимально быстро
      var timeBrowser = new Date();
    </script>

    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/lib/jquery.js?{C_var_db_update}"></script>
    <!--<script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/lib/fm.checkator.jquery.js?{C_var_db_update}"></script>-->
    <script type="text/javascript">
      var SN_SOUND_ENABLED = parseInt('{SOUND_ENABLED}') ? parseInt('{SOUND_ENABLED}') : 0;
      var PLAYER_OPTION_ANIMATION_DISABLED = parseInt('{PLAYER_OPTION_ANIMATION_DISABLED}') ? parseInt('{PLAYER_OPTION_ANIMATION_DISABLED}') : 0;
      var PLAYER_OPTION_PROGRESS_BARS_DISABLED = parseInt('{PLAYER_OPTION_PROGRESS_BARS_DISABLED}') ? parseInt('{PLAYER_OPTION_PROGRESS_BARS_DISABLED}') : 0;
      var SN_ROOT_VIRTUAL = '{D_SN_ROOT_VIRTUAL}';
      var sn_path_prefix = '{D_SN_ROOT_VIRTUAL}';

      jQuery.fx.off = PLAYER_OPTION_ANIMATION_DISABLED;

      // Корректировка по времени запроса - если доступно
      // var timeBrowser = window.performance ? timeBrowser = new Date(window.performance.timing.requestStart) : new Date();
      // var timeBrowser = window.performance ? timeBrowser = new Date(window.performance.timing.responseStart) : new Date();

      // С сервера ВСЕГДА должна передаваться РАЗНИЦА во времени - что бы корректно работали скрипты при навигации вперед-назад по страницам в браузерах!
      var timeDiff = parseInt('{D_SN_CLIENT_TIME_DIFF}') ? parseInt('{D_SN_CLIENT_TIME_DIFF}') : false;

      var SN_TIME_NOW = parseInt('{D_SN_TIME_NOW}') ? parseInt('{D_SN_TIME_NOW}') : (round(timeBrowser.valueOf() / 1000));

      var timeTimerStart = timeBrowser;

//      var SN_TIME_NOW_GMT_STRING = '{SN_TIME_NOW_GMT_STRING}';
//      var SN_CLIENT_TIME_DIFF_GMT = parseInt('{SN_CLIENT_TIME_DIFF_GMT}') ? parseInt('{SN_CLIENT_TIME_DIFF_GMT}') : 0;
////      date = new Date(SN_TIME_NOW_GMT_STRING);
////      date2 = new Date(date.valueOf() + SN_CLIENT_TIME_DIFF_GMT * 1000);
////      timeTimerStart = date2;
//
//      timeTimerStart = new Date(new Date(SN_TIME_NOW_GMT_STRING).valueOf() + SN_CLIENT_TIME_DIFF_GMT * 1000);

      if(parseInt('{TIME_DIFF_MEASURE}') || timeDiff === false) {
        timeDiff = 0;
        jQuery.post("time_probe.php", {'timeBrowser': timeBrowser.valueOf(), 'utc_offset': -timeBrowser.getTimezoneOffset() * 60, 'client_gmt': timeBrowser.toUTCString()}, function(data) {
          timeDiff = parseInt(data);
        });
      }

      var dpath = '{dpath}';
      var SN_GOOGLE = parseInt('{SN_GOOGLE}') ? 1 : 0;

      var FONT_SIZE_PERCENT_MIN = parseFloat('{D_FONT_SIZE_PERCENT_MIN}');
      var FONT_SIZE_PERCENT_DEFAULT = parseFloat('{D_FONT_SIZE_PERCENT_DEFAULT}');
      var FONT_SIZE_PERCENT_MAX = parseFloat('{D_FONT_SIZE_PERCENT_MAX}');
      var FONT_SIZE_PERCENT_STEP = parseFloat('{D_FONT_SIZE_PERCENT_STEP}');
      var FONT_SIZE = parseFloat('{FONT_SIZE}');
    </script>

    <!-- IF FONT_SIZE != FONT_SIZE_PERCENT_DEFAULT_STRING -->
    <style type="text/css">
      html {
        font-size: {FONT_SIZE} !important;
      }
    </style>
    <!-- ENDIF -->

    <!-- IF HALLOWEEN_CODE -->
    <script type="text/javascript">
      var HALLOWEEN_CODE = "{HALLOWEEN_CODE}";
      var HALLOWEEN_IMAGE = "{HALLOWEEN_IMAGE}";
    </script>
    <span class="halloween"></span>
    <!-- ENDIF -->

    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/lib/jquery-ui.js?{C_var_db_update}"></script>

    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/lib/ion.sound.min.js?{C_var_db_update}"></script>
    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/sn_sound.js?{C_var_db_update}"></script>

    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/sn_global.js?{C_var_db_update}"></script>
    <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/sn_timer.js?{C_var_db_update}"></script>
    <!-- BEGIN js -->
      <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}{js.FILE}?{C_var_db_update}"></script>
    <!-- END js -->

    <!-- BEGIN javascript -->
      <!-- IF javascript.CONTENT -->
        <script type="text/javascript">{javascript.CONTENT}</script>
      <!-- ELSE -->
        <script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}{javascript.FILE}?{C_var_db_update}"></script>
      <!-- ENDIF -->
    <!-- END javascript -->

    <script type="text/javascript">
      $.extend(language, {
        sys_confirm: '{LA_sys_confirm}',
        sys_cancel: '{LA_sys_cancel}',
        sys_confirm_action: '{LA_sys_confirm_action}',
        sys_confirm_action_title: '{LA_sys_confirm_action_title}',
      });
    </script>

    <!-- IF IMPERSONATING -->
      <div style="text-align: center" class="warning">{IMPERSONATING}</div>
    <!-- ENDIF -->

    <!-- IF ADV_SEO_JAVASCRIPT -->
      {ADV_SEO_JAVASCRIPT}
    <!-- ENDIF -->

    <table class="markup" width="100%" id="global_page_markup">
      <tr>
        <td valign="top" align="center"><div style="margin: 0 auto" id="main_content_center">