          <div id="copyright">
            Project &quot;<a href="http://supernova.ws"><span id="supernova_ws">Sup<span>erNo</span>va<span>.W</span>S</span></a>&quot; Rel<span>ease {D_SN_RELEASE} V</span>{D_SN_VERSION}-{DB_PATCH_VERSION} &copy; 20<span>09-{CURRENT_YEAR} Go</span>rlum<br>
            In<span>spired by X</span>Nova Ra<span>geRe<span>pac</span>k v2</span>26
          </div>
            </td></tr></table>
          </div> <!-- __content -->
          </div> <!-- __addition_wrapper -->
        </div> <!-- __content_wrapper -->
      </div><!-- __navbar_wrapper -->
          </td></tr></table>
    </div><!-- __page -->

    <div id="debug" style="text-align: left"></div>
    <script type="application/javascript">
      document_ready();
      jQuery(document).ready(function () {
        jQuery('.benchmark').append(', JS run: ' + ((new Date().valueOf() - timeBrowser.valueOf()) / 1000) + 's');
      });
    </script>
  </body>
</html>
