#unit_table {
  width: 650px;
}

.unit_preview .unit_image {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  border: 0;
  vertical-align: top;
}

.unit_preview .time {
  position: absolute;
  right: 18px;
  bottom: 0;

  height: 16px;
  width: 70%;

  font-size: 100%;

  text-align: right;
  white-space: nowrap;
}

.unit_preview .level, .unit_preview .count {
  position: absolute;
  top: 0;

  height: 16px;

  font-size: 120%;

  text-align: center;
  white-space: nowrap;
}

.unit_preview .level {
  left: 15%;
  width: 70%;
}

.unit_preview .count {
  left: 0;
  width: 100%;
}

.unit_preview .name {
  position: absolute;
  left: 0;
  top: 18px;

  width: 100%;
  height: 5ex;

  font-size: 100%;
}

.unit_preview .resource_container {
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  text-align: left;
}

.unit_preview .restrict {
  position: absolute;
  left: 0px;
  top: 88px;
  width: 100%;
  height: 20%;

  font-size: 90%;
  line-height: 90%;
}

.gather_resources {
}
