<br />
<form action="alliance.php?mode=make&yes=1" method="POST">
<table width=519>
	<tr>
	  <td class="c" colspan=2>{L_make_alliance}</td>
	</tr>
	<tr>
	  <th>{L_alliance_tag} (3-8 {L_sys_characters})</th>
	  <th><input type="text" name="tag" size=8 maxlength=8 value=""></th>
	</tr>
	<tr>
	  <th>{L_allyance_name} (1-32 {L_sys_characters})</th>
	  <th><input type="text" name="name" size=20 maxlength=32 value=""></th>
	</tr>
	<tr>
	  <th colspan=2><input type="submit" value="{L_sys_create}"></th>
	</tr>
</table>

</form>
