<!-- IF ADMIN_MODE -->
  <!-- DEFINE $COLSPAN = 9 -->
<!-- ELSE -->
  <!-- DEFINE $COLSPAN = 8 -->
<!-- ENDIF -->
<h1>{L_Members_list} / {L_ali_sys_totalMembers}: {memberCount}</h1>

<!-- IF ADMIN_MODE -->
<a class="button_pseudo link" href="alliance.php?mode=admin">{L_ali_adm_return}</a><br/>
<!-- ENDIF -->

<table>
  <tr class="c_c">
    <th>{L_Number}</th>
    <th><a href="alliance.php?mode={mode}&sort1=1&sort2={s}">{L_ali_sys_memberName}</a></th>
    <th><img src="design/images/icon_mail.gif" border=0 alt="{L_sys_write_message}"></th>
    <th><a href="alliance.php?mode={mode}&sort1=0&sort2={s}">{L_ali_adm_rights_rank_name}</a></th>
    <th><a href="alliance.php?mode={mode}&sort1=2&sort2={s}">{L_ali_sys_points}</a></th>
    <th><a href="alliance.php?mode={mode}&sort1=3&sort2={s}">{L_sys_coordinates}</a></th>
    <th><a href="alliance.php?mode={mode}&sort1=4&sort2={s}">{L_ali_sys_joined}</a></th>
    <th><a href="alliance.php?mode={mode}&sort1=5&sort2={s}">{onlineMessage}</a></th>
    <!-- IF ADMIN_MODE -->
    <th><img src="{I_abort}" border=0 alt="{L_ali_adm_kick}" title="{L_ali_adm_kick}"></th>
    <!-- ENDIF -->
  </tr>

  <!-- BEGIN member -->
    <tr>
      <th>{member.COUNT}</th>
      <th>{member.USER_NAME}</th>
      <th><a href="messages.php?mode=write&id={member.USER_ID}"><img src="design/images/icon_mail.gif" border=0 alt="{L_sys_write_message}"></a></th>
      <th>{member.RANK}</th>
      <th>{member.POINTS}</th>
      <th><a href="galaxy.php?mode=3&galaxy={member.GALAXY}&system={member.SYSTEM}">[{member.GALAXY}:{member.SYSTEM}:{member.PLANET}]</a></th>
      <th>{member.REGISTER_TIME}</th>
      <th>{member.ONLINE}</th>
      <!-- IF ADMIN_MODE -->
        <th>
          <!-- IF member.SHOW_KICK -->
            <a href="alliance.php?mode=admin&edit=members&kick={member.USER_ID}" alt="{L_ali_adm_kick}" title="{L_ali_adm_kick}"
              onclick="return confirm('{L_ali_adm_kick_confirm}');"><img src="{I_abort}" border=0 ></a>
          <!-- ELSE -->
            &nbsp;
          <!-- ENDIF -->
        </th>
      <!-- ENDIF -->
    </tr>
  <!-- END member -->
</table>

<a class="button_pseudo link" href="alliance.php">{L_ali_sys_main_page}</a>
