<h1>{L_ally_admin} [{ally_tag}]</h1>
<a class="link button_pseudo" href="alliance.php">{L_ali_sys_main_page}</a>
<br/>
<br/>
<form action="" method="POST" enctype="multipart/form-data">
  <table width=519>
    <tr class="c_l">
      <th colspan=2>
        <div class="contFJ">
          {L_ali_adm_options}
        </div>
      </th>
    </tr>
    <tr>
      <th>{L_Name}</th>
      <th><input type=text name="name" value="{ally_name}" size="40" maxlength="32"></th>
    </tr>
    <tr>
      <th>{L_Tag}</th>
      <th><input type=text name="tag" value="{ally_tag}" size="40" maxlength="8"></th>
    </tr>
    <tr>
      <th>{L_Main_Page}</th>
      <th><input type=text name="web" value="{ally_web}" size="40" maxlength="255"></th>
    </tr>
    <tr>
      <th>
        <div>{L_Alliance_logo}</div>
      </th>
      <td class="c_l">
        <!-- IF AVATAR_UPLOAD_MESSAGE -->
        <span class="<!-- IF AVATAR_UPLOAD_STATUS == 0 -->success<!-- ELSEIF AVATAR_UPLOAD_STATUS == 1 -->warning<!-- ELSE -->error<!-- ENDIF -->">{AVATAR_UPLOAD_MESSAGE}</span><br/>
        <!-- ENDIF -->
        <!-- IF ALLY_IMAGE -->
        <div align="center">
          <img src="{D_SN_ROOT_VIRTUAL}/images/avatar/ally_{ALLY_ID}.png" alt="logo"/><br/>
          <input name="avatar_remove" type="checkbox" id="avatar_remove"/><label for="avatar_remove">{L_opt_avatar_remove}</label>
        </div>
        <!-- ELSE -->
        <label for="avatar">{L_opt_upload}</label>&nbsp;<input type="file" name="avatar" id=avatar size="40"><br/>
        <!-- ENDIF -->
      </td>
    </tr>
    <tr>
      <th>{L_ali_adm_requests}</th>
      <th>
        <span class="fl"><select name="request_notallow">
          <option value=1{ally_request_notallow_0}>{L_not_allow_request}</option>
          <option value=0{ally_request_notallow_1}>{L_Allow_request}</option>
        </select></span>
        <span class="fr"><a href="alliance.php?mode=admin&edit=requests">{request_count}</a></span>
      </th>
    </tr>
    <tr>
      <th>{L_Founder_name}</th>
      <th><input type="text" name="owner_range" value="{ally_owner_range}" size=30></th>
    </tr>
    <tr>
      <th colspan=2><input type="submit" name="isSaveOptions" value="{L_sys_save}"></th>
    </tr>
  </table>
</form>

<form action="" method="POST">
  <table width=519>
    <tr class="c_c">
      <th colspan=3>{L_Texts}</th>
    </tr>
    <tr class="c_c">
      <td><a class="link" href="alliance.php?mode=admin&edit=ally&t=1">{L_External_text}</a></td>
      <td><a class="link" href="alliance.php?mode=admin&edit=ally&t=2">{L_Internal_text}</a></td>
      <td><a class="link" href="alliance.php?mode=admin&edit=ally&t=3">{L_Request_text}</a></td>
    </tr>
    <tr>
      <th class="c_c" colspan=3>{request_type} (<span id="cntChars">0</span> / 5000)</th>
    </tr>
    <tr>
      <th colspan=3>
        <textarea name="text" id="ally_text" cols=70 rows=15 onkeyup="cntchar(5000)">{text}</textarea>
      </th>
    </tr>
    <tr>
      <th colspan=3>
        <input type="hidden" name="t" value="{t}">
        <input type="reset" value="{L_ali_sys_clear}">
        <input type="submit" name="isSaveText" value="{L_sys_save}">
      </th>
    </tr>
  </table>
</form>

<form action="" method="POST" style="width:48em;margin-top:1em;">
  <div class="header">{L_ally_admin}</div>
  <div class="cell">
    <div style="display: inline-block">
      <!-- BEGIN admin_actions -->
      <div>
        <a class="button_pseudo w100" href="alliance.php?mode=admin&edit={admin_actions.ACTION}">
          {admin_actions.LOCALE}
        </a>
      </div>
      <!-- END admin_actions -->
    </div>
  </div>
  <div class="cell contFJ" style="padding: 0 1em; {hideNotOwner}">
    <div>
      {L_ali_adm_transfer}&nbsp;&nbsp;&nbsp;
      <select name="idNewLeader">
        <option disabled selected>{L_ali_adm_newLeader}</option>
        {adminMembers}
      </select>
    </div>
    <input type="submit" name="isTransfer" value="{L_ali_confirm}">
  </div>
  <div class="cell contFJ" style="padding: 0 1em; {hideNotOwner}">
    <div>
      <input type="checkbox" name="isConfirmDisband" value="1" id="isConfirmDisband">
      <label for="isConfirmDisband">{L_ali_adm_disband}</label>
    </div>
    <input type="submit" name="isDisband" value="{L_ali_confirm}">
  </div>
</form>
