<br />
<form action="alliance.php?mode=make" method="POST"><table width=519>
  <tr><td class="c" colspan=2>{L_ali_make_title}</td></tr>
  <tr>
    <th>{L_ali_sys_tag} {L_ali_make_tag_length}</th>
    <th><input type="text" name="tag" size=8 maxlength=8 value=""></th>
  </tr>
  <tr>
    <th>{L_ali_sys_name} {L_ali_make_name_length}</th>
    <th><input type="text" name="name" size=20 maxlength=30 value=""></th>
  </tr>
  <tr><th colspan=2><input type="submit" value="{L_ali_make_confirm}"></th></tr>
</table></form>

<!-- INCLUDE ali_search -->
