<br />
<table width="519">
  <tr>
    <th>{L_ali_search_title}</th>
    <th><form action="alliance.php?mode=search" method="POST">
      <input type="text" name="searchtext" value="{SEARCH_TEXT}" size=50>&nbsp;&nbsp;<input type="submit" value="{L_ali_search_action}">
    </form></th>
  </tr>
  <tr>
    <th colspan="2" class="c_c">
      {L_ali_search_tip}<br/>
      <a href="stat.php?type=0&who=2&range=1" class="link warning">{L_ali_search_show_all}</a>
    </th>
  </tr>
  <tr><td colspan="2" class="c"></td></tr>
</table>

<!-- IF SEARCH_TEXT -->
<br />
<table width=519>
  <tr>
    <td class=c><center>{L_ali_sys_tag}</center></td>
    <td class=c><center>{L_ali_sys_name}</center></td>
    <td class=c><center>{L_ali_sys_members}</center></td>
    <td class=c><center>{L_ali_req_make}</center></td>
  </tr>

  <!-- BEGIN alliances -->  
    <tr>
      <th><a href="alliance.php?mode=ainfo&a={alliances.ID}">{alliances.TAG}</a></th>
      <th><a href="alliance.php?mode=ainfo&a={alliances.ID}">{alliances.NAME}</a></th>
      <th>{alliances.MEMBERS}</th>
      <th>
        <!-- IF alliances.NO_REQUESTS -->
          <font color="red">{L_ali_req_not_allowed}</font>
        <!-- ELSE -->
          <a href="alliance.php?mode=apply&a={alliances.ID}">{L_ali_req_make}</a>
        <!-- ENDIF -->
      </th>
    </tr>
  <!-- BEGINELSE alliances -->  
    <tr><th colspan="4">{L_ali_search_result_none}</th></tr>
  <!-- END alliances -->  
  
  <tr><td class=c colspan=4>{L_ali_search_result_tip}</td></tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE page_hint -->
