<h1>{PAGE_HEADER}</h1>

<!-- IF ANNOUNCE_ID && MODE == '' -->
<h2><a class="link" href="announce.php">{L_news_all}</a></h2>
<!-- ENDIF -->

<!-- IF AUTHLEVEL >= 3 -->

<!-- IF (MODE == 'edit' || MODE == 'copy') && ANNOUNCE_ID != 0 -->
<!-- DEFINE $HIDE_NEWS_ADD_FORM = '' -->
<!-- ELSE -->
<!-- DEFINE $HIDE_NEWS_ADD_FORM = 'display: none;' -->
<input type="button" value="{L_news_add}" id="js_news_show_add_form" />
<!-- ENDIF -->

<script type="text/javascript">
  $(document).on('click', '#js_news_show_add_form', function () {
    $(this).hide();
    $("#js_news_add_form").show();
  });
</script>

<div id="js_news_add_form" style="{$HIDE_NEWS_ADD_FORM}">
  <br>
  <form action="announce.php" method="post" name="fForm">
    <table width="519">
      <tr><td class="c" colspan=2><!-- IF MODE == 'edit' -->{L_news_edit}<!-- ELSEIF MODE == 'copy' -->{L_news_copy}<!-- ELSE -->{L_news_add}<!-- ENDIF --></td></tr>
      <tr>
        <td>{L_news_date}</td>
        <td>
          <input type="text" class="fl" name="dtDateTime" maxlength="19" value="{tsTimeStamp}">
          <span class="fr"><!-- IF MODE == 'edit' -->{L_news_mode_edit}<!-- ELSEIF MODE == 'copy' -->{L_news_mode_copy}<!-- ELSE -->{L_news_new}<!-- ENDIF --></span>
          <input type="hidden" name="id" value="{ID}">
          <input type="hidden" name="mode" value="{MODE}">
        </td>
      </tr>

      <tr>
        <td valign="top">{L_news_announce}</td>
        <td><textarea name="text" cols=40 rows=5>{strAnnounce}</textarea></td>
      </tr>
      <tr>
        <td>{L_news_detail_url}</td>
        <td><input type="text" name="detail_url" style="width: 330px" maxlength="250" value="{DETAIL_URL}"></td>
      </tr>

      <tr>
        <td>
          {L_survey}<br />
          <!-- IF MODE == 'edit' --><span class="error">{L_survey_questions_hint_edit}</span><!-- ENDIF -->
        </td>
        <td><input type="text" name="survey_question" style="width: 330px" maxlength="250" value="{SURVEY_QUESTION}"></td>
      </tr>
      <tr>
        <td valign="top">
          {L_survey_questions}<br />
          {L_survey_questions_hint}
        </td>
        <td><textarea name="survey_answers" cols=40 rows=5>{SURVEY_ANSWERS}</textarea></td>
      </tr>
      <tr>
        <td>{L_survey_until}</td>
        <td>
          <input type="text" class="fl" name="survey_until" maxlength="19" value="{SURVEY_UNTIL}">
        </td>
      </tr>

      <tr>
        <td colspan="2" align="center">
          <span class="fl"><input type="checkbox" id="news_mass_mail" name="news_mass_mail" value="1">&nbsp;<label for="news_mass_mail">{L_news_mass_mail}</label></span>
          <input class="fr" type=submit value="<!-- IF MODE == 'edit' -->{L_news_edit}<!-- ELSEIF MODE == 'copy' -->{L_news_copy}<!-- ELSE -->{L_news_add}<!-- ENDIF -->">
        </td>
      </tr>
    </table>
  </form>
</div>
<!-- ENDIF -->

<br>
<table width="519">
  <!-- IF .announces && PAGER_MESSAGES -->
  <tr class="c_c">
    <td class="subheader">
      {PAGER_MESSAGES}
    </td>
  </tr>
  <!-- ENDIF -->

  <tr><td class="c"><div class="fl">{L_news_title}</div><div class="fr">{L_news_total} {NEWS_COUNT}</div></td></tr>
  <!-- DEFINE $NEWS_FULL = true -->
  <!-- INCLUDE news_list -->

  <!-- IF .announces && PAGER_MESSAGES -->
  <tr class="c_c">
    <td class="subheader">
      {PAGER_MESSAGES}
    </td>
  </tr>
  <!-- ENDIF -->
</table>
<br>
