<!--<h1>{PAGE_HEADER}</h1>-->

<table <!-- IF PAGE_HEADER -->table_title="{PAGE_HEADER}"<!-- ENDIF --> style="width: 530px">
  <tr>
    <td colspan="2" class="c">{L_sys_dark_matter}</td>
  </tr>

  <tr>
    <th width="120" ><img src="design/images/DMaterie.jpg" width="120" height="120"></th>
    <th width="314" >
      <p align="justify">{L_sys_dark_matter_desc}</p>
      <a href="dark_matter.php" id="off_get_dark_matter" class="link">{L_sys_dark_matter_obtain_header}</a>
    </th>
  </tr>

  <tr>
    <td width="535" colspan="2" class="c">{L_tech[1000]}</td>
  </tr>

  <!-- BEGIN artifact -->
    <tr id="{artifact.ID}">
      <th width=120>
        <a href="infos.php?gid={artifact.ID}" class="link">{artifact.NAME}</a><br>
        <img src="{I_[artifact.ID]}" align="top" width="120" height="120" /><br>
        <!-- IF artifact.LEVEL -->
          <div><a href="artifacts.php?action={D_ACTION_USE}&unit_id={artifact.ID}" class="warning link">{L_art_use}</a></div>
        <!-- ENDIF -->
      </th>

      <th align=justify>
        {artifact.DESCRIPTION}<br><br>
        <div align="center">
          <div class="positive" align="center">{artifact.BONUS}&nbsp;{artifact.EFFECT}</div><br />
          <div>{L_sys_quantity}:&nbsp;{artifact.LEVEL}<!-- IF artifact.LEVEL_MAX -->/{artifact.LEVEL_MAX}<!-- ENDIF --></div>
          <!-- IF artifact.LEVEL_MAX && (artifact.LEVEL >= artifact.LEVEL_MAX) -->
            <span class="negative">{L_sys_quantity_maximum}</span>
          <!-- ELSEIF artifact.CAN_BUY <= 0 -->
            <span class="negative">{L_sys_buy_for} {artifact.COST|num|format} {L_sys_dark_matter_sh} - {L_sys_eco_lack_dark_matter}</span>
          <!-- ELSE -->
            <a href="artifacts.php?action={D_ACTION_BUY}&unit_id={artifact.ID}" class="link positive">{L_sys_buy_for} {artifact.COST|num|format} {L_sys_dark_matter_sh}</a>
          <!-- ENDIF -->
        </div>
      </th>
    </tr>
  <!-- END artifact -->
</table>
<!-- INCLUDE page_hint -->
