<h2>{L_ban_title}</h2>
<table>
  <tr align="center">
    <td class=c>{L_ban_name}</td>
    <td class=c>{L_ban_reason}</td>
    <td class=c>{L_ban_from}</td>
    <td class=c>{L_ban_to}</td>
    <td class=c>{L_ban_by}</td>
  </tr>
  <!-- BEGIN banlist -->
    <tr align=center>
      <td class="c_l"><b>{banlist.USER_NAME}</b></td>
      <td class="c_l"><b>{banlist.REASON}</b></td>
      <td class=b><b>{banlist.FROM}</b></td>
      <td class=b><b>{banlist.UNTIL}</b></td>
      <td class="c_l"><b>{banlist.ISSUER_NAME}</b></td>
    </tr>
  <!-- END banlist -->
  <tr><td class="c" colspan="5">{L_ban_banned}{BANNED_COUNT}</td></tr>
</table>
