<h1>{PAGE_HEADER}</h1>

<br />
<table>
  <tr>
    <!-- IF REGISTRATION_DISCLOSURE_NAMES -->
    <th class="c_l">
      {Место}
    </th>
    <th class="c_l">
      {Очки}
    </th>
    <th class="c_l">
      {L_sys_blitz_registration_player_blitz_name}
    </th>
    <!-- ENDIF -->
    <th class="c_l">{L_sys_player}</th>
  </tr>

  <!-- BEGIN registrations -->
  <tr>
    <!-- IF REGISTRATION_DISCLOSURE_NAMES -->
    <td class="c_l">
      {registrations.BLITZ_PLACE}
    </td>
    <td class="c_l">
      {registrations.BLITZ_POINTS}
    </td>
    <td class="c_l">
      {registrations.BLITZ_NAME}
    </td>
    <!-- ENDIF -->
    <td class="c_l">
      {registrations.NAME}
    </td>
  </tr>
  <!-- BEGINELSE -->
  <tr>
    <td>
      {L_sys_blitz_registration_no_users}
    </td>
  </tr>
  <!-- END registrations -->
</table>
<br />
<!-- IF REGISTRATION_OPEN -->
  <!-- IF PLAYER_REGISTERED -->
    <form action="" method="post">
      <input type="submit" name="register_me_not" value="{L_sys_blitz_registration_player_register_un}" />
    </form>
  <!-- ELSE -->
    <form action="" method="post">
      <input type="submit" name="register_me" value="{L_sys_blitz_registration_player_register}" />
    </form>
  <!-- ENDIF -->
<!-- ELSE -->
  {L_sys_blitz_registration_closed}
  <br />
  <!-- IF REGISTRATION_SHOW_LOGIN && PLAYER_REGISTERED -->
    <h2>
      {L_sys_blitz_registration_player_name} {BLITZ_NAME}<br />
      {L_sys_blitz_registration_player_password} {BLITZ_PASSWORD}<br />
      <a href="http://blitz.supernova.ws/" class="link">{L_sys_blitz_registration_server_link} http://blitz.supernova.ws/</a>
    </h2>
  <!-- ENDIF -->
<!-- ENDIF -->

<!-- IF USER_AUTHLEVEL >= 3 -->
  <br />
  <textarea rows="" cols="">{BLITZ_GENERATED}</textarea>
  <form action="" method="post">
    <input type="submit" name="generate" value="{L_sys_blitz_registration_player_generate}" />
  </form>
  <br />
  <form action="" method="post">
    <textarea rows="" cols="" name="generated_string"></textarea>
    <input type="submit" name="import_generated" value="{L_sys_blitz_registration_player_import_generated}" />
  </form>
  <br />
  {Результат раунда}
  <form action="" method="post">
    <textarea rows="" cols="" name="blitz_result_string">{BLITZ_RESULT}</textarea>
    <input type="submit" name="import_result" value="{Импортировать результаты}" />
  </form>
<!-- ENDIF -->

<!-- INCLUDE page_hint -->
