<h2>{PAGE_HEADER}</h2>

<script type="text/javascript">
var production = Array();
var require = Array();
var unit_selected = null;
var eco_bld_style_probe;
var STACKABLE = '{STACKABLE}';
var TEMPORARY = parseInt('{TEMPORARY}');
var CAN_AUTOCONVERT = parseInt('{CAN_AUTOCONVERT}') ? parseInt('{CAN_AUTOCONVERT}') : 0;
var MARKET_AUTOCONVERT_COST = parseInt('{MARKET_AUTOCONVERT_COST}') ? parseInt('{MARKET_AUTOCONVERT_COST}') : 0;
var DARK_MATTER = parseInt('{DARK_MATTER}') ? parseInt('{DARK_MATTER}') : 0;

var ALLY_ID = isNaN(ALLY_ID = '{ALLY_ID}') ? 0 : ALLY_ID;
var PLANET_ID = isNaN(PLANET_ID = parseInt('{PLN_ID}')) ? 0 : PLANET_ID;

var que_id = '{QUE_ID}';

language = {
  level: '{LA_level}',
  level_short: '{LA_sys_level_short}',
  bld_create: '{LA_bld_create}',
  bld_destroy: '{LA_bld_destroy}',
  construction_time: '{LA_ConstructionTime}',
  eco_price: '{LA_eco_price}',
  eco_left: '{LA_eco_left}',
  eco_left_fleet: '{LA_sys_fleet_and}',

  sys_resources: '{LA_sys_resources}',
  sys_metal: '{LA_sys_metal}',
  sys_crystal: '{LA_sys_crystal}',
  sys_deuterium: '{LA_sys_deuterium}',
  sys_energy: '{LA_sys_energy}',
  sys_dark_matter: '{LA_sys_dark_matter}',
  energy: '{LA_sys_energy}',
  shield: '{LA_sys_ship_shield}',
  armor: '{LA_sys_ship_armour}',
  weapon: '{LA_sys_ship_weapon}',
  speed: '{LA_sys_ship_speed}',
  consumption: '{LA_sys_ship_consumption}',
  capacity: '{LA_sys_ship_capacity}',

  'sys_expeditions': '{LA_sys_expeditions}',
  'sys_colonies': '{LA_sys_colonies}',

  'No_requirements': '{LA_No_requirements}',

  'eco_bld_unit_info_extra_show': '{LA_eco_bld_unit_info_extra_show}',
  'eco_bld_unit_info_extra_hide': '{LA_eco_bld_unit_info_extra_hide}',
  'eco_bld_unit_info_extra_none': '{LA_eco_bld_unit_info_extra_none}',

  'eco_bld_autoconvert_explain': '{LA_eco_bld_autoconvert_explain}'.replace(/\\r\\n/g, '\r\n').format(MARKET_AUTOCONVERT_COST),
  'eco_bld_autoconvert_dark_matter_none': '{LA_eco_bld_autoconvert_dark_matter_none}'.replace(/\\r\\n/g, '\r\n').format(MARKET_AUTOCONVERT_COST - DARK_MATTER),
  'eco_bld_autoconvert_confirm': '{LA_eco_bld_autoconvert_confirm}'.replace(/\\r\\n/g, '\r\n').format(MARKET_AUTOCONVERT_COST),
};

planet = {
  fleet_own: '{FLEET_OWN_COUNT}',

  metal: '{METAL}',
  crystal: '{CRYSTAL}',
  deuterium: '{DEUTERIUM}',
  dark_matter: '{DARK_MATTER}',

  metal_incoming: '{METAL_INCOMING}',
  crystal_incoming: '{CRYSTAL_INCOMING}',
  deuterium_incoming: '{DEUTERIUM_INCOMING}',
  dark_matter_incoming: 0,

  que_has_place: '{QUE_HAS_PLACE}',
  que_has_fields: '{QUE_HAS_FIELDS}',
  fields_free: '{FIELDS_FREE}'
};

<!-- BEGIN production -->
  <!-- IF production.S_FIRST_ROW -->
  var production_id_first = parseInt('{production.ID}');
  <!-- ENDIF -->

  <!-- IF .production.require -->
  require[{production.ID}] = [
    <!-- BEGIN require -->
    {
      name: '{require.NAME}',
      requerements_met: parseInt('{require.REQUEREMENTS_MET}'),
      level_require: parseInt('{require.LEVEL_REQUIRE}'),
      level: parseInt('{require.LEVEL}'),
      level_basic: parseInt('{require.LEVEL_BASIC}'),
      level_bonus: parseInt('{require.LEVEL_BONUS}'),
      id: parseInt('{require.ID}'),
    },
    <!-- END require -->
  ];
  <!-- ENDIF -->

  production[{production.ID}] = {
    id: '{production.ID}',
    name: '{production.NAME}',
    level: '{production.LEVEL}',
    level_bonus: '{production.LEVEL_BONUS}',
    change: '{production.CHANGE}',
    description: '{production.DESCRIPTION}',
    unit_busy: '{production.UNIT_BUSY}',
    can_build: '{production.CAN_BUILD}',
    can_autoconvert: parseInt('{production.CAN_AUTOCONVERT}') ? parseInt('{production.CAN_AUTOCONVERT}') : 0,

    metal: '{production.METAL}',
    crystal: '{production.CRYSTAL}',
    deuterium: '{production.DEUTERIUM}',
    dark_matter: '{production.DARK_MATTER}',
    time: '{production.TIME}',
    time_seconds: parseInt('{production.TIME_SECONDS}'),
    build_can: '{production.BUILD_CAN}',
    build_result: '{production.BUILD_RESULT}',

    destroy_metal: '{production.DESTROY_METAL}',
    destroy_crystal: '{production.DESTROY_CRYSTAL}',
    destroy_deuterium: '{production.DESTROY_DEUTERIUM}',
    destroy_time: '{production.DESTROY_TIME}',
    destroy_can: '{production.DESTROY_CAN}',
    destroy_result: '{production.DESTROY_RESULT}',

    map_is_resource: '{production.MAP_IS_RESOURCE}',

    <!-- IF .production.resource -->
    resource_map: [
      <!-- BEGIN resource -->
      {
        'shield': '{resource.ACTUAL_SHIELD}',
        'armor': '{resource.ACTUAL_ARMOR}',
        'weapon': '{resource.ACTUAL_WEAPON}',
        'speed': '{resource.ACTUAL_SPEED}',
        'consumption': '{resource.ACTUAL_CONSUMPTION}',
        'capacity': '{resource.ACTUAL_CAPACITY}',

        'level': '{resource.LEVEL}',
        'sys_metal': '{resource.R901}',
        'metal_diff': '{resource.D901}',
        'sys_crystal': '{resource.R902}',
        'crystal_diff': '{resource.D902}',
        'sys_deuterium': '{resource.R903}',
        'deuterium_diff': '{resource.D903}',
        'sys_energy': '{resource.R904}',
        'energy_diff': '{resource.D904}',

        'sys_colonies': '{resource.RCOLONIES_MAX}',
        'sys_colonies_diff': '{resource.DCOLONIES_MAX}',
        'sys_expeditions': '{resource.REXPEDITIONS_MAX}',
        'sys_expeditions_diff': '{resource.DEXPEDITIONS_MAX}',
      },
      <!-- END resource -->
    ]
    <!-- ENDIF -->
  };
<!-- END production -->
</script>

<script type="text/javascript" src="js/build_unit.js?{C_var_db_update}"></script>

<!-- DEFINE $QUE_ID = '{QUE_ID}' -->
<!-- INCLUDE eco_queue -->

<table class="markup">
<tr>
  <td align="center" valign="top">
    <table id="unit_table">
      <!-- IF SHOW_SECTORS -->
      <tr>
        <th class="c_c">
          <table class="markup noborder" width="100%">
            <tr>
              <th class="c_l">
                {L_bld_theyare} {L_bld_cellfree} {FIELDS_FREE}
                (<!-- IF FIELDS_QUE != 0 --><span style="color: yellow;">{FIELDS_QUE}</span>/<!-- ENDIF --><span class="negative">{FIELDS_CURRENT}</span>/<span class="positive">{FIELDS_MAX}</span>)
              </th>
              <th class="c_r">
                <!-- IF PLANET_TYPE == 1 -->
                  <!-- IF SECTOR_CAN_BUY -->
                    <a class="positive link" href="buildings.php?mode={D_QUE_STRUCTURES}&sector_buy=1">{L_sys_sector_buy} {L_sys_for} {SECTOR_COST_TEXT} {L_sys_dark_matter_sh}</a>
                  <!-- ELSE -->
                    <span class="negative">{L_sys_sector_buy} {L_sys_for} {SECTOR_COST_TEXT} {L_sys_dark_matter_sh}</span>
                  <!-- ENDIF -->
                <!-- ELSE -->
                  &nbsp;
                <!-- ENDIF -->
              </th>
            </tr>
          </table>
        </th>
      </tr>
      <!-- ENDIF -->

      <!-- IF ! U_opt_int_struc_vertical && $QUE_NOT_EMPTY -->
      <tr>
        <td class="c_c">
          <!-- INCLUDE eco_bld_queue_list -->
        </td>
      </tr>
      <!-- ENDIF -->

      <!-- IF METAL > 99999999999 || CRYSTAL > 9999999999 || DEUTERIUM > 9999999999 || METAL < -9999999999 || CRYSTAL < -999999999 || DEUTERIUM < -999999999-->
        <!-- DEFINE $FONT_SIZE = '0.8em' -->
      <!-- ELSE -->
        <!-- DEFINE $FONT_SIZE = '1.0em' -->
      <!-- ENDIF -->

      <tr>
        <td>
          <div id="unit_info">
            <div id="unit_balance_wrapper">
              <div id="unit_balance"></div>
              <!--
              <div id="unit_info_extra_switch_wrapper">
                <button id="unit_info_extra_switch">
                  {L_eco_bld_unit_info_extra_hide}
                </button>
              </div>
              -->
            </div>
            <div id="unit_description_wrapper">
              <div id="unit_description_wrapper_cell">
                <div id="unit_info_image_outer">
                  <div id="unit_info_image_wrapper">
                    <img id="unit_info_image" />
                    <div id="unit_info_name" class="a75"></div>
                    <div id="unit_info_level" class="a75"></div>
                  </div>
                </div>
                <!--display: block;-->
                <div id="unit_description_wrapper_inner">
                  <div id="unit_info_description"></div>
                  <div id="unit_require_wrapper">
                    <div class="c_l neutral" style="text-align: left;">{L_wiki_requrements}</div>
                    <ul id="unit_require"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--</td>-->
      <!--</tr>-->

      <!--<tr>-->
        <!--<td style="vertical-align: top;" class="c_c">-->
          <form action="buildings.php" method="post" id="form_unit">
            <input type="hidden" name="mode" value="{QUE_ID}" />
            <input type="hidden" name="ally_id" value="{ALLY_ID}" />
            <input type="hidden" name="unit_id" id="unit_id" />
            <input type="hidden" name="action" />
            <div id="unit_cost_container"<!-- IF STACKABLE --> class="unit_create_stackable"<!-- ENDIF -->>
              <div id="unit_time_div" align="center">{STRING_BUILD_TIME}<span id="unit_time"></span></div>
              <table style="font-size: {$FONT_SIZE};" id="unit_cost_table">
                <tr class="c_c">
                  <th width=45px>{L_sys_resources}</th>
                  <th width=65>{L_eco_price}</th>
                  <th width=65>{L_eco_left}</th>
                  <th width=65 hide_no_fleet="yes">{L_sys_fleet_and}</th>
                </tr>
                <tr id="unit_metal" class="c_r">
                  <td width=45px class="c_c">{L_sys_metal}</td>
                  <td id="metal_price">0</td>
                  <td id="metal_left">0</td>
                  <td id="metal_fleet" hide_no_fleet="yes">0</td>
                </tr>
                <tr id="unit_crystal" class="c_r">
                  <td width=45px class="c_c">{L_sys_crystal}</td>
                  <td id="crystal_price">0</td>
                  <td id="crystal_left">0</td>
                  <td id="crystal_fleet" hide_no_fleet="yes">0</td>
                </tr>
                <tr id="unit_deuterium" class="c_r">
                  <td width=45px class="c_c">{L_sys_deuterium}</td>
                  <td id="deuterium_price">0</td>
                  <td id="deuterium_left">0</td>
                  <td id="deuterium_fleet" hide_no_fleet="yes">0</td>
                </tr>
                <tr id="unit_dark_matter" class="c_r">
                  <td width=45px class="c_c" nowrap style="font-size: 80%">{L_sys_dark_matter}</td>
                  <td id="dark_matter_price">0</td>
                  <td id="dark_matter_left">0</td>
                  <td id="dark_matter_fleet" hide_no_fleet="yes">0</td>
                </tr>
              </table>
            </div>
            <!--<div id="unit_action_container">-->
            <!-- IF STACKABLE -->
              <div id="unit_create" class="unit_create_stackable">
                <div id="unit_max">{L_sys_maximum} <span id="unit_max_number"></span></div>
                <ainput type="text" name="unit_amount" id="unit_amount" max="0"></ainput>
                <script type="text/javascript">
                  sn_ainput_make_jquery();
                </script>
                <button id="unit_create_button" class="unit_create positive">
                  {STRING_CREATE}
                </button>
              </div>
            <!-- ELSE -->
              <div id="unit_create" class="unit_create_level">
                <button id="unit_create_button" class="unit_create positive">
                  {STRING_CREATE} {LA_level} <span id="unit_create_level"></span>
                </button>
              <!--</div>-->
              <!--<div id="unit_create_autoconvert" class="unit_create_level">-->
                <!-- IF ! PLAYER_OPTION_BUILD_AUTOCONVERT_HIDE -->
                <button id="unit_create_button_auto" class="unit_create_autoconvert <!-- IF CAN_AUTOCONVERT -->zero<!-- ELSE -->negative<!-- ENDIF -->">
                  {STRING_CREATE} {LA_level} <span id="unit_create_level_auto"></span><br />
                  {L_eco_bld_autoconvert}: {MARKET_AUTOCONVERT_COST} {L_sys_dark_matter_sh}
                </button>
                <!-- ENDIF -->
              </div>
              <div id="unit_destroy" style="visibility: hidden">
                <div id="unit_destroy_resources">&nbsp;</div>
                <div id="unit_destroy_time">&nbsp;</div>
                <div class="link negative unit_destroy">{LA_bld_destroy} {LA_level} <span id="unit_destroy_level"></span></div>
              </div>
            <!-- ENDIF -->
            <!--</div>-->
          </form>
        </td>
      </tr>

      <tr>
        <td class="c_c">
        <!-- BEGIN production -->
            <div class="unit_preview" id="unit{production.ID}" unit_id="{production.ID}" style="display: inline-block">
              <img src="{dpath}gebaeude/{production.ID}.gif" class="unit_preview_image">

              <!-- IF production.TIME_SECONDS -->
                <span class="a75 time">
                  {production.TIME}
                </span>
              <!-- ENDIF -->

              <span class="a75 <!-- IF STACKABLE -->count<!-- ELSE -->level<!-- ENDIF -->">
                <!-- IF production.LEVEL_OLD || STACKABLE -->{production.LEVEL_OLD}<!-- IF production.LEVEL_BONUS --><span class="bonus">+{production.LEVEL_BONUS}</span><!-- ENDIF --><!-- ENDIF --><!-- IF production.LEVEL_QUED --><!-- IF production.LEVEL_QUED > 0 -->+<!-- ENDIF -->{production.LEVEL_QUED}<!-- ENDIF -->
              </span>

              <!-- IF QUE_HAS_PLACE && ! production.UNIT_BUSY && ! STACKABLE && ! TEMPORARY -->
                <!-- IF QUE_HAS_FIELDS && production.BUILD_CAN && production.BUILD_RESULT == 0 -->
                  <div class="right_top a75 unit_create" style="width: 1.23em; height: 1.23em;">
                    <div class="icons icon-plus"></div>
                  </div>
                <!-- ENDIF -->
              <!-- ENDIF -->

              <span class="a75 name">
                {production.NAME}
              </span>

              <!-- IF     (production.METAL && (production.METAL_REST_NUM > 999999999 || production.METAL_REST_NUM < -99999999)) || (production.CRYSTAL && (production.CRYSTAL_REST_NUM > 999999999)) || production.CRYSTAL_REST_NUM < -99999999 || (production.DEUTERIUM && (production.DEUTERIUM_REST_NUM > 999999999  || production.DEUTERIUM_REST_NUM < -99999999)) -->
                <!-- DEFINE $FONT_SIZE = '0.8em' -->
              <!-- ELSEIF (production.METAL && (production.METAL_REST_NUM > 99999999  || production.METAL_REST_NUM < -9999999 )) || (production.CRYSTAL && (production.CRYSTAL_REST_NUM > 99999999 )) || production.CRYSTAL_REST_NUM < -9999999  || (production.DEUTERIUM && (production.DEUTERIUM_REST_NUM > 99999999   || production.DEUTERIUM_REST_NUM < -9999999 )) -->
                <!-- DEFINE $FONT_SIZE = '0.9em' -->
              <!-- ELSE -->
                <!-- DEFINE $FONT_SIZE = '1em' -->
              <!-- ENDIF -->
              <span class="a75 resource_container" style="font-size: {$FONT_SIZE};">
                <!-- IF production.METAL --><div><div class="left"><!-- IF $FONT_SIZE != '1em' -->{L_sys_metal_sh}<!-- ELSE -->{L_sys_metal}<!-- ENDIF --></div><div class="fr"><!-- IF STACKABLE -->{production.METAL_TEXT}<!-- ELSE -->{production.METAL_REST}<!-- ENDIF --></div></div><br><!-- ENDIF -->
                <!-- IF production.CRYSTAL --><div><div class="left"><!-- IF $FONT_SIZE != '1em' -->{L_sys_crystal_sh}<!-- ELSE -->{L_sys_crystal}<!-- ENDIF --></div><div class="fr"><!-- IF STACKABLE -->{production.CRYSTAL_TEXT}<!-- ELSE -->{production.CRYSTAL_REST}<!-- ENDIF --></div></div><br><!-- ENDIF -->
                <!-- IF production.DEUTERIUM --><div><div class="left"><!-- IF $FONT_SIZE != '1em' -->{L_sys_deuterium_sh}<!-- ELSE -->{L_sys_deuterium}<!-- ENDIF --></div><div class="fr"><!-- IF STACKABLE -->{production.DEUTERIUM_TEXT}<!-- ELSE -->{production.DEUTERIUM_REST}<!-- ENDIF --></div></div><!-- ENDIF -->
                <!-- IF production.DARK_MATTER && ! TEMPORARY --><div><div class="left">{L_sys_dark_matter_sh}</div><div class="fr">{production.DARK_MATTER_REST}</div></div><!-- ENDIF -->
              </span>


              <!-- IF production.BUILD_RESULT != 0 -->
                <span class="a75 unit_preview_image">
                  <div class="restrict <!-- IF production.BUILD_RESULT == BUILD_AUTOCONVERT_AVAILABLE --><!-- IF DARK_MATTER < MARKET_AUTOCONVERT_COST -->negative<!-- ELSE -->zero<!-- ENDIF --><!-- ENDIF -->">{production.BUILD_RESULT_TEXT}</div>
                </span>
              <!-- ENDIF -->

              <!-- IF QUE_HAS_PLACE && ! production.UNIT_BUSY && ! STACKABLE && ! TEMPORARY -->
                <!-- IF production.LEVEL && production.DESTROY_CAN && production.DESTROY_RESULT == 0 -->
                  <span class="left_top a75 unit_destroy" style="width: 1.23em; height: 1.23em;" title="{L_bld_destroy}: {L_sys_metal} {production.DESTROY_METAL}; {L_sys_crystal} {production.DESTROY_CRYSTAL}; {L_sys_deuterium} {production.DESTROY_DEUTERIUM}; {L_sys_time} {production.DESTROY_TIME}">
                    <div class="icons icon-minus"></div>
                  </span>
                <!-- ENDIF -->
              <!-- ENDIF -->

              <!-- IF ! ALLY_ID && ! production.DARK_MATTER_ONLY -->
              <span class="a75 right_bottom gather_resources" title="{L_flt_gather_all}" style="width: 1.23em; height: 1.23em;"
              <!-- IF production.METAL_REST_NUM < 0 -->metal="{production.METAL_REST_NUM}"<!-- ENDIF -->
                <!-- IF production.CRYSTAL_REST_NUM < 0 -->crystal="{production.CRYSTAL_REST_NUM}"<!-- ENDIF -->
                <!-- IF production.DEUTERIUM_REST_NUM < 0 -->deuterium="{production.DEUTERIUM_REST_NUM}"<!-- ENDIF -->
              >
                <div class="icons icon-gather"></div>
              </span>
              <!-- ENDIF -->

              <span class="a75 left_bottom" go="info" style="width: 1.23em; height: 1.23em;">
                <div class="icons icon-info_empire"></div>
              </span>
            </div>
        <!-- END production -->
        </td>
      </tr>
    </table>
  </td>
  <!-- IF U_opt_int_struc_vertical && $QUE_NOT_EMPTY -->
  <td width="20px" align="center" valign="top">
    <!-- INCLUDE eco_bld_queue_list -->
  </td>
  <!-- ENDIF -->
</tr>
</table>
<div id="style_probe"></div>

<!-- INCLUDE page_hint -->
