<!-- IF HISTORY -->
  <div style='width:100%; padding:12px;' align=center>
    <b><font size=3>{L_chat_history}&nbsp;-&nbsp;<!-- IF ALLY -->{L_chat_ally}<!-- ELSE -->{L_chat_common}<!-- ENDIF --></font></b>
    <!-- IF .page -->
      <div class="fr">
        <b><font size=2>{L_chat_page}:</font></b>
        <select name='page' onchange='document.location.assign("index.php?page=chat_msg&ally={ALLY}&history={HISTORY}&sheet=" + this.value);'>
        <!-- BEGIN page -->
          <option value={page.NUMBER}<!-- IF PAGE == page.NUMBER --> selected<!-- ENDIF -->>{page.NUMBER}</option>
        <!-- END page -->
        </select>
      </div>
    <!-- ENDIF -->
  </div>
<!-- ENDIF -->

<!-- BEGIN chat -->
<div class="chat_a">
  <!-- IF chat.TIME --><div class="chat_a_time">[{chat.TIME}]&nbsp;</div><!-- ENDIF -->
  <!-- IF chat.NICK --><div js_chat_nick_stripped="{chat.NICK_STRIPPED}">{chat.NICK}&gt;</div><!-- ENDIF -->
  <!-- IF chat.TEXT --><div class="chat_a_text">{chat.TEXT}</div><!-- ENDIF -->
  <!-- IF chat.DISABLE --><div class="warning"><b>{L_chat_timeout}</b></div><!-- ENDIF -->
</div>
<!-- END chat -->
