<!--[if IE]><style type="text/css">#chat_box1 {width: 80%;}</style><![endif]-->
<script type="text/javascript">
  var ally_id = "{ALLY}";
</script>

<script type="text/javascript">
  jQuery(document).on("click", ".chat_a_nick", function () {
    addSmiley("(" + $(this).attr("nick_stripped") + ")");
  });
</script>

<script type="text/javascript" src="js/chat.js?{C_var_db_update}"></script>

<h1>{PAGE_HEADER}</h1>

<form action="index.php?page=chat_add" name="chat_form">
<table id="chat_box">
  <tr>
    <th>
      <div id="shoutbox" style="margin: 5px; vertical-align: text-top; height: 380px; overflow-x: auto; overflow-y: hidden;"></div>
    </th>
  </tr>

  <tr id="chat_message_inputs">
    <th nowrap>
      <table class="markup" width="100%">
        <tr>
          <td align="right" class="noborder" width="160px">
            <label for="msg">{L_chat_message}:</label>&nbsp;
            <select name="color" id="chat_color">
              <option value = "">white</option>
              <option value="cyan">blue</option>
              <option value="yellow">yellow</option>
              <option value="green">green</option>
              <option value="pink">pink</option>
              <option value="maroon">red</option>
              <option value="orange">orange</option>
            </select>
          </td>
          <td class="noborder" >
            <input name="msg" type="text" id="msg" style="width:100%" maxlength="120" onKeyPress="if(event.keyCode == 13){document.chat_form.send.click();event.returnValue = false;return false;}" />
          </td>
          <td class="noborder" align="left" width="160px">
            &nbsp;&nbsp;<input type="button" name="send" value="{L_chat_send}" id="send" onClick="addMessage();event.returnValue = false;return false;" style="width: 100px" />
          </td>
          <th class="noborder" align="right" width="100px">
            <a onClick="window.open('index.php?page=chat_msg&history=history&ally={ALLY}', 'ChatHistory', '');">{L_chat_history}</a>
          </th>
        </tr>
      </table>
    </th>
  </tr>

  <tr id="chat_message_smiles">
    <th>
      <!-- BEGIN smiles -->
        <img src="design/images/smileys/{smiles.FILENAME}.gif" align="absmiddle" title="{smiles.BBCODE}" alt="{smiles.BBCODE}" onClick="addSmiley('{smiles.BBCODE}')" />
      <!-- END smiles -->
    </th>
  </tr>
</table>
</form>

<script type="text/javascript">
  jQuery(document).ready(function()
    {
      jQuery("#msg").focus();
    }
  );
</script>
