<!-- IF ! $TABLE_WIDTH || $TABLE_WIDTH == 0 -->
  <!-- DEFINE $TABLE_WIDTH = '519px' -->
  <h2>{PAGE_HEADER}</h2>
<!-- ENDIF -->

<!-- INCLUDE _result_message -->

<script type="text/javascript">
  var LA_sys_show = "{LA_sys_show}";
  var LA_sys_hide = "{LA_sys_hide}";
</script>

<table width="{$TABLE_WIDTH}">
  <tr class="c_j">
    <th>
      {L_sys_dark_matter_what_header}
    </th>
  </tr>
  <tr class="c_j">
    <td>
      <div style="display: table-row; position: relative; margin: 7px;">
        <img src="design/images/DMaterie.jpg" align="top" border="0" height="120" width="120" class="fl" style="margin-right: 7px;">
        {UNIT_DESCRIPTION}
      </div>
    </td>
  </tr>

  <tr class="c_j">
    <th>
      {L_sys_dark_matter_obtain_header}
      <span class="fr link_action" onclick="sn_show_hide(this, 'dark_matter_obtain');">[ {L_sys_hide} ]</span>
    </th>
  </tr>
  <tr class="c_j" id="dark_matter_obtain">
    <td>
      {L_sys_dark_matter_obtain_text}
      <!-- IF PAYMENT_AVAILABLE -->
      {L_sys_dark_matter_obtain_text_convert}
      <!-- ENDIF -->
    </td>
  </tr>

  <tr>
    <th class="c_l">
      {L_sys_dark_matter_description_header}
      <span class="fr link_action" onclick="sn_show_hide(this, 'dark_matter_usage');">[ {L_sys_show} ]</span>
    </th>
  </tr>
  <tr class="c_j" id="dark_matter_usage" style="display: none;">
    <td>
      {L_sys_dark_matter_description_text}
    </td>
  </tr>
</table>
