<!-- Check - if selected que is not empty -->
<!-- DEFINE $QUE_NOT_EMPTY = false -->
<!-- BEGIN que -->
  <!-- IF $QUE_ID == que.QUE  -->
    <!-- DEFINE $QUE_NOT_EMPTY = true -->
  <!-- ENDIF -->
<!-- END que -->

<!-- Now is que not empty - adding appropriate JS variables and starting timer -->
<!-- IF $QUE_NOT_EMPTY -->
<!-- IF QUE_HTML -->
  <!-- DEFINE $QUE_HTML = '{QUE_HTML}' -->
<!-- ELSE -->
  <!-- DEFINE $QUE_HTML = 'ov' -->
<!-- ENDIF -->

<script type="text/javascript"><!--
sn_timers.unshift({'id': '{$QUE_HTML}_{$QUE_ID}', 'type': TIMER_BUILD_QUE_V2, 'options': {
  'msg_done': '{LA_eco_que_empty}',
  <!-- IF $IN_NAVBAR_HUMAN -->
  displayType:'human',
  <!-- ENDIF -->
  // 'url': document.location.href,
  'template': '<div class="que_item {$QUE_HTML}_{$QUE_ID}_container_[UNIT_QUE_PLACE] que_item_[UNIT_QUE_PLACE]" title="[UNIT_NAME] ([UNIT_LEVEL])">\
    <span class="que_unit_picture"><img src="[UNIT_IMAGE]" align="top" width="100%" height="100%"></span>\
    \
    <span class="que_unit_level que_unit_slot_bar {$QUE_HTML}_{$QUE_ID}_slot_bar_[UNIT_QUE_PLACE]"></span>\
    <span class="a50 que_unit_level {$QUE_HTML}_{$QUE_ID}_level_[UNIT_QUE_PLACE]">[UNIT_LEVEL]</span>\
    \
    <span class="que_unit_time que_unit_progress_bar {$QUE_HTML}_{$QUE_ID}_unit_bar_[UNIT_QUE_PLACE]"></span>\
    <span class="a50 que_unit_time {$QUE_HTML}_{$QUE_ID}_timer_[UNIT_QUE_PLACE]">[UNIT_TIME]</span>\
  </div>',
  'que': [<!-- BEGIN que --><!-- IF $QUE_ID == que.QUE  -->
    ['{que.ID}', '{que.NAME}', {que.TIME}, {que.AMOUNT}, {que.LEVEL}, {que.TIME_FULL}, '{I_[que.ID]}'],
  <!-- ENDIF --><!-- END que -->]
}});
--></script>
<!-- ENDIF -->
