<!-- IF U_opt_int_struc_vertical -->
  <!-- DEFINE $ECO_QUE_VERTICAL = 'vertical' -->
<!-- ELSE -->
  <!-- DEFINE $ECO_QUE_VERTICAL = '' -->
<!-- ENDIF -->

<div class="bld_que_container {$ECO_QUE_VERTICAL}">
  <!-- IF $QUE_NOT_EMPTY -->

  <!-- INCLUDE que_total -->

  <div id="ov_{$QUE_ID}_que" class="bld_que_items {$ECO_QUE_VERTICAL}"></div>

  <div class="bld_que_buttons">
    <a id="eco_que_clear" class="button_pseudo" href="buildings.php?mode={$QUE_ID}&action=clear&ally_id={ALLY_ID}">{L_eco_que_clear}</a>

    <!-- IF ARTIFACT_LEVEL -->
    <a id="eco_que_artifact" class="button_pseudo" href="artifacts.php?action={D_ACTION_USE}&unit_id={ARTIFACT_ID}&REQUEST_URI=buildings.php?mode={$QUE_ID}">{ARTIFACT_NAME}</a>
    <!-- ENDIF -->

    <a class="button_pseudo" href="buildings.php?mode={$QUE_ID}&action=trim&ally_id={ALLY_ID}">{L_eco_que_trim}</a>
  </div>
  <!-- ELSE -->
  {L_eco_que_empty}
  <!-- ENDIF -->
</div>
