<!--
@package fleet
2.1 Overlib replaced with jQuery
2.0 Utilize PTE
    Comply with PCG
-->

<script type="text/javascript"><!--
var ships = Array();
<!-- BEGIN ships -->
  <!-- IF (ships.SPEED > 0) -->
  ships[{ships.ID}] = Array({ships.AMOUNT}, {ships.SPEED}, {ships.CONSUMPTION}, {ships.CAPACITY});
  <!-- ENDIF -->
<!-- END ships -->
var speed_factor   = {speed_factor};
--></script>

<!-- INCLUDE fleet_javascript -->

<h2>{L_fl_new_miss}</h2>
<!-- IF MISSION_NAME -->
  <h3>{TYPE_NAME} [{galaxy}:{system}:{planet}], {MISSION_NAME}<!-- IF IS_COLONIZATION -->, {L_sys_colonies} {COLONIES_CURRENT}/{COLONIES_MAX}<!-- ENDIF -->
  </h3>
<!-- ENDIF -->

<!-- IF PLAYER_OPTION_FLEET_SHIP_SELECT_OLD -->
  <!-- DEFINE $FLEET_SHIP_SELECT_OLD = 'old' -->
  <!-- DEFINE $FLEET_SHIP_SELECT_MAIN_COL_SPAN = '3' -->
<!-- ELSE -->
  <!-- DEFINE $FLEET_SHIP_SELECT_MAIN_COL_SPAN = '2' -->
<!-- ENDIF -->

<!-- IF PLAYER_OPTION_FLEET_SHIP_HIDE_CONSUMPTION -->
  <!-- DEFINE $PLAYER_OPTION_FLEET_SHIP_HIDE_CONSUMPTION_CLASS = 'hide' -->
<!-- ENDIF -->

<!-- IF PLAYER_OPTION_FLEET_SHIP_HIDE_CAPACITY -->
  <!-- DEFINE $PLAYER_OPTION_FLEET_SHIP_HIDE_CAPACITY_CLASS = 'hide' -->
<!-- ENDIF -->

<!-- IF PLAYER_OPTION_FLEET_SHIP_HIDE_SPEED -->
  <!-- DEFINE $PLAYER_OPTION_FLEET_SHIP_HIDE_SPEED_CLASS = 'hide' -->
<!-- ENDIF -->

<!-- IF .ships -->
<form action="fleet.php?fleet_page=1" method="post">
  <input type="hidden" name="thisgalaxy"      value="{thisgalaxy}" />
  <input type="hidden" name="thissystem"      value="{thissystem}" />
  <input type="hidden" name="thisplanet"      value="{thisplanet}" />
  <input type="hidden" name="thisplanet_type" value="{thisplanet_type}" />

  <input type="hidden" name="galaxy" value="{galaxy}">
  <input type="hidden" name="system" value="{system}">
  <input type="hidden" name="planet" value="{planet}">
  <input type="hidden" name="planet_type" value="{planet_type}">
  <input type="hidden" name="target_mission" value="{target_mission}">

  <input type="hidden" id="page_file_name" value="fleet.php">

  <table border="0" cellpadding="0" cellspacing="1">
    <tr class="c_c">
      <td colspan="{$FLEET_SHIP_SELECT_MAIN_COL_SPAN}">
        <div>
          {L_sys_sort}
          <select name="sort_elements" id="sort_elements">
            <!-- BEGIN ship_sort_list -->
            <option value="{ship_sort_list.VALUE}"<!-- IF ship_sort_list.VALUE == FLEET_SHIP_SORT --> selected<!-- ENDIF -->>{ship_sort_list.TEXT}</option>
            <!-- END ship_sort_list -->
          </select>
          {L_sys_sort_inverse} <input type="checkbox" name="sort_elements_inverse" id="sort_elements_inverse" value="1"<!-- IF FLEET_SHIP_SORT_INVERSE --> checked<!-- ENDIF -->/>
        </div>
      </td>
    </tr>

    <!-- INCLUDE fleet_page_0_buttons_action -->
    <!-- INCLUDE fleet_page_0_buttons -->

    <!-- IF .ships -->
      <!-- BEGIN ships -->
        <tr>
          <th class="{$SHIP_NO_SLOTS_SIZE_CLASS}" colspan="{$SHIP_COLSPAN}">
            <div class="ship_miniature_container {$FLEET_SHIP_SELECT_OLD}" style="background-image: url({I_[ships.ID]})" go="info" unit_id="{ships.ID}">
              <div class="a75 ship_miniature_name">
                {ships.NAME}
              </div>

              <div class="ship_miniature_data">
                <!-- IF ships.SPEED != 0 -->
                <div class="ship_miniature_consumption {$PLAYER_OPTION_FLEET_SHIP_HIDE_CONSUMPTION_CLASS}">
                  <span class="a75">
                  <img src="{I_icon_ship_consumption_16}" class="icon_1em" />
                  {ships.CONSUMPTION_TEXT}
                  </span>
                </div>

                <div class="ship_miniature_capacity {$PLAYER_OPTION_FLEET_SHIP_HIDE_CAPACITY_CLASS}">
                  <span class="a75">
                  <img src="{I_icon_ship_capacity_16}" class="icon_1em" />
                  {ships.CAPACITY_TEXT}
                  </span>
                </div>

                <div class="ship_miniature_speed {$PLAYER_OPTION_FLEET_SHIP_HIDE_SPEED_CLASS}">
                  <span class="a75">
                  <img src="{I_icon_ship_speed_16}" class="icon_1em" />
                  {ships.SPEED_TEXT}
                  </span>
                </div>
                <!-- ENDIF -->

                <div class="a75 ship_miniature_amount positive">
                  {ships.AMOUNT_TEXT}
                </div>
              </div>
            </div>
          </th>

          <!-- IF PLAYER_OPTION_FLEET_SHIP_SELECT_OLD -->
          <td class="c_r positive">
            {ships.AMOUNT_TEXT}
          </td>
          <!-- ENDIF -->

          <!-- IF $SHIP_COLSPAN == '1' -->
          <th>
            <!-- IF (ships.SPEED == 0) || (FLYING_FLEETS >= MAX_FLEETS) -->
              &nbsp;
            <!-- ELSE -->
              <ainput type="text" name="ships[{ships.ID}]" id="ships{ships.ID}" max="{ships.AMOUNT}"></ainput>
              <script type="text/javascript">
                sn_ainput_make_jquery();
                jQuery('#ships{ships.ID}slide').on('slide slidechange', fl_calc_stats);
              </script>
            <!-- ENDIF -->
          </th>
          <!-- ENDIF -->
        </tr>
      <!-- END ships -->

      <!-- INCLUDE fleet_page_0_buttons -->
      <!-- INCLUDE fleet_page_0_buttons_action -->

    <!-- ELSE -->
      <tr><th colspan="2">{L_fl_noships}</th></tr>
    <!-- ENDIF -->
  </table>
</form>
<!-- ELSE -->
<h2 class="error">{L_fl_noships}</h2>
<input type="button" value="{L_flt_gather_all}" onclick="document.location = 'fleet.php?fleet_page=5';" />
<!-- ENDIF -->

<!-- IF FLYING_FLEETS < MAX_FLEETS && .ships -->
  <br>
  <table>
    <tr><th class="c_l" colspan=2>{L_fl_fleet_data}</th></tr>
    <tr>
        <td class="c_l">{L_fl_speed}</td>
        <td class="c_r" width="100" id='int_fleet_speed'>-</th>
    </tr>
    <tr>
        <td class="c_l">{L_fl_dist}</td>
        <td class="c_r" id='distance'>0</dh>
    </tr>
    <tr>
        <td class="c_l">{L_fl_fltime}</td>
        <td class="c_r" id='duration'>-</span></td>
    </tr>
    <tr>
        <td class="c_l">{L_fl_deute_need}</td>
        <td class="c_r" id='int_fleet_consumption'>0</td>
    </tr>
    <tr>
        <td class="c_l">{L_fl_fuel_on_planet}</td>
        <td class="c_r zero">{PLANET_DEUTERIUM}</td>
    </tr>
    <tr>
        <td class="c_l">{L_sys_capacity}</td>
        <td class="c_r" id='int_fleet_capacity'>0</td>
    </tr>
    <tr>
        <td class="c_l">{L_fl_planet_resources}</td>
        <td class="c_r zero">{PLANET_RESOURCES}</td>
    </tr>
  </table>
<!-- ENDIF -->
<!-- INCLUDE page_hint -->
