<script type="text/javascript">
  <!-- BEGIN fleets -->
  <!-- IF fleets.START_LEFT -->
  sn_timers.unshift({id: 'fleet_timer_start{fleets.ID}', type: TIMER_BUILD_QUE_V1, options: { msg_done: '{L_sys_fleet_arrived}', que: [
    ['{fleets.ID}', '', {fleets.START_LEFT}, '0']
  ]}});
  <!-- ENDIF -->
  <!-- IF fleets.END_LEFT -->
  sn_timers.unshift({id: 'fleet_timer_end{fleets.ID}', type: TIMER_BUILD_QUE_V1, options: { msg_done: '{L_sys_fleet_arrived}', que: [
    ['{fleets.ID}', '', {fleets.END_LEFT}, '0']
  ]}});
  <!-- ENDIF -->
  <!-- END fleets -->
</script>

<!-- BEGIN fleets -->
  <!-- IF fleets.START_COORDS -->
  <div class="flt-mini-mission">
    <div class="flt-mini-mission-planet">
      {fleets.START_COORDS} {fleets.START_TYPE_TEXT_SH} {fleets.START_NAME}
      <!-- IF ((fleets.MISSION == 7 || fleets.MISSION == 4) && fleets.MESSAGE == 1) || (fleets.MISSION != 7 && fleets.MISSION != 4) -->
      <div id="fleet_timer_start{fleets.ID}"></div>
      {fleets.START_TIME_TEXT}
      <!-- ELSE -->
      -
      <!-- ENDIF -->
    </div>

    <div id="fleet_mini_mission" class="notice">
      <img src="design/images/mission_pointer.png" />
      <!-- IF MISSION_NAME -->
      <br /><span>{MISSION_NAME}</span>
      <!-- ENDIF -->
    </div>

    <div>
      <div class="flt-mini-mission-planet">
        <span id="end_coords">{fleets.END_COORDS}</span>
        <span id="end_planet_type">{fleets.END_TYPE_TEXT_SH}</span> <span id="end_name">{fleets.END_NAME}</span>
      </div>
      <!-- IF fleets.MESSAGE == 0 -->
      <div id="fleet_timer_end{fleets.ID}"></div>
      <div>
        {fleets.END_TIME_TEXT}
      </div>
      <!-- ELSE -->
      -
      <!-- ENDIF -->
    </div>
  </div>
  <!-- ENDIF -->

  <div id="fleet_unit_miniatures_container">
    <!-- BEGIN ships -->
    <div class="unit_miniatures_wrapper">
      <img src="{I_[ships.ID]}" style="width: 100%; height: 100%;" />
      <!--<img id="unit_info_image" />-->
      <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
        <div id="unit_info_name" class="a75">{ships.NAME}</div>
        <div id="unit_info_level" class="a75">{ships.AMOUNT_TEXT}</div>
      </div>
    </div>
    <!-- END ships -->
  </div>
<!-- END fleets -->
