<h1>{PAGE_HEADER}</h1>

<!-- INCLUDE fleet_miniatures -->

<div class="contFC">
  <div class="border_image_large">

    <div class="cell">
      <form action="fleet.php?fleet_page=4" method="POST">
        <input type="hidden" name="fleetid" value="{FLEET_ID}">

        <label for="fleetAcsAddName">{L_flt_aks_player_invite}</label>
        <input id="fleetAcsAddName" name="addtogroup" type="text"/>
        <input type="submit" value="{L_flt_aks_player_invite_do}"/>
      </form>
    </div>

    <div class="header">
      {L_flt_aks_players_in_aks}
    </div>

    <div class="subheader">
      <select size="5" style="overflow-y: auto">
        <!-- BEGIN invited -->
        <option>{invited.NAME}</option>
        <!-- END invited -->
      </select>
    </div>

  </div>
</div>
