<!-- INCLUDE fleet_javascript -->

<script type="text/javascript"><!--
var fleet_capacity = {fleet_capacity};
var resource_max = Array({planet_metal}, {planet_crystal}, {planet_deuterium});
var fleet_slide_changing = false;
--></script>

<h2>{L_flt_page2_title}</h2>

<!-- INCLUDE fleet_miniatures -->

<form action="fleet.php?fleet_page=3" method="post">
  <input type="hidden" name="galaxy"          value="{galaxy}" />
  <input type="hidden" name="system"          value="{system}" />
  <input type="hidden" name="planet"          value="{planet}" />
  <input type="hidden" name="planet_type"     value="{planet_type}" />

  <input type="hidden" name="thisgalaxy"      value="{thisgalaxy}" />
  <input type="hidden" name="thissystem"      value="{thissystem}" />
  <input type="hidden" name="thisplanet"      value="{thisplanet}" />
  <input type="hidden" name="thisplanet_type" value="{thisplanet_type}" />

  <input type="hidden" name="usedfleet"       value="{usedfleet}" />

  <input type="hidden" name="consumption"     value="{consumption}" />
  <input type="hidden" name="speed"           value="{speed}" />
  <input type="hidden" name="fleet_group"     value="{fleet_group}" />
  <input type="hidden" name="acs_target_mr"   value="{acs_target_mr}" />
  
  <input type="hidden" name="speedallsmin"    value="{speedallsmin}" />
  <input type="hidden" name="speedfactor"     value="{speedfactor}" />

  <table class="fleet_2_table">
    <tr><th>
    <!-- BEGIN missions -->
      <div class="fleet_mission_button_container">
        <label for="target_mission{missions.ID}">
          <img src="design/images/mission_{missions.ID}.png" id="mission_button{missions.ID}" class="mission_button_image button_image button_pseudo <!-- IF missions.CHECKED --> button_pseudo_pressed<!-- ENDIF -->" /><br/>
          <input id="target_mission{missions.ID}" mission_id="{missions.ID}" type="radio" name="target_mission"
                 style="display: none"
                 value="{missions.ID}" onChange="changeMission(this);" onClick="changeMission(this);" <!-- IF missions.CHECKED -->checked <!-- ENDIF -->>
          <span id="mission_name">{missions.NAME}</span>
        <!-- IF missions.ID == 5 || missions.ID == 15 -->
          <!-- IF MAX_DURATION -->
            <br />{L_flt_stay_duration}&nbsp;<select name="missiontime">
            <!-- BEGIN !duration -->
              <option value="{duration.ID}">{duration.TIME}</option>
            <!-- END !duration -->
            </select>&nbsp;&nbsp;
          <!-- ELSE -->
            <!-- DEFINE $CANNOTSEND = 1 -->
            <span class="error">{L_flt_error_duration_wrong}</span>
          <!-- ENDIF -->
        <!-- ELSEIF missions.ID == 7 -->
          <!-- IF PLAYER_COLONIES_CURRENT > PLAYER_COLONIES_MAX -->
            <!-- DEFINE $COLONY_STYLE = 'error' -->
          <!-- ELSEIF PLAYER_COLONIES_CURRENT == PLAYER_COLONIES_MAX -->
            <!-- DEFINE $COLONY_STYLE = 'warning' -->
          <!-- ELSEIF PLAYER_COLONIES_MAX - PLAYER_COLONIES_CURRENT == 1  -->
            <!-- DEFINE $COLONY_STYLE = 'notice' -->
          <!-- ELSE -->
            <!-- DEFINE $COLONY_STYLE = 'ok' -->
          <!-- ENDIF -->
          <br /><span class="{$COLONY_STYLE}">{L_sys_colonies}&nbsp;{PLAYER_COLONIES_CURRENT}/{PLAYER_COLONIES_MAX}</span>
        <!-- ENDIF -->
        </label>
      </div>
    <!-- BEGINELSE missions -->
      <div class="error">{L_fl_bad_mission}</div>
    <!-- END missions -->
    </th></tr>

    <!-- IF CAPTAIN_ID -->
    <tr>
      <td class="c_l" nowrap>
        <input type="checkbox" name="captain_id" value="{CAPTAIN_ID}" />
        {L_module_unit_captain} {CAPTAIN_LEVEL}:
        {L_module_unit_captain_shield} +{CAPTAIN_SHIELD}% /
        {L_module_unit_captain_armor} +{CAPTAIN_ARMOR}% /
        {L_module_unit_captain_attack} +{CAPTAIN_ATTACK}%
      </td>
    </tr>
    <!-- ENDIF -->
    <tr><th class="c_c">
      <div class="warning fleet_expedition_warning">{L_fl_expe_warning}</div>
      <div class="error fleet_expedition_not_enough_fuel">{L_fl_not_enough_fuel}</div>
      <input id="fleet_page2_submit" value="{L_fl_continue}" type="submit"<!-- IF $CANNOTSEND --> disabled<!-- ENDIF -->/>
    </th></tr>
  </table>
<br />

  <!-- IF IS_TRANSPORT_MISSIONS -->
  <table id="resTable" style="display: none;"><tbody>
    <tr class="c_c">
      <th>{L_sys_resources}</th>
      <th>{L_fl_on_stores}</th>
      <th>{L_fl_load_cargo}</th>
      <th>{L_fl_rest_on_planet}</th>
    </tr>
    <!-- BEGIN resources -->
      <tr>
        <td class="c_l">{resources.NAME}</td>
        <td class="c_r">{resources.TEXT}</td>
        <td class="c_c">
          <!-- <ainput type="text" name="resource{resources.ID}" id="resource{resources.ID}" max="0" step="1">step="1000"</ainput> -->
          <script type="text/javascript">
            fleet_page_2_prepare_slider({resources.ID}, {resources.ON_PLANET}, {fleet_capacity});
          </script>
        </td>
        <td id="rest_res{resources.ID}" class="c_r">{resources.ON_PLANET}</td>
      </tr>
    <!-- END resources -->

    <tr>
      <th colspan="2" class="c_l">{L_fl_space_left}</th>
      <th class="c_c">
        <div class="fl"><input type="button" onclick="zero_resources()" value="{L_fl_none_resources}"></div>
        <div class="fr"><input type="button" onclick="max_resources()" value="{L_fl_allressources}"></div>
      </th>
      <th id="remainingresources" class="c_r">-</th>
    </tr>
  </tbody></table>
  <!-- ENDIF -->

</form>

<script type="text/javascript">
  fleet_page_2_loaded();
</script>
