<br>
{vacation}

<table border="0" cellpadding="0" cellspacing="1">
 <tr>
   <th class="c_l">{L_flt_aks_players_in_aks}</th>
 </tr>
 <tr>
   <td align="center">
     <select size="5">
       <!-- BEGIN invited -->
         <option>{invited.NAME}</option>
       <!-- END invited -->
     </select>
   </td>
 </tr>

 <tr>
   <td>
     <form action="fleet.php?fleet_page=4" method="POST">
       <input type="hidden" name="fleetid" value="{FLEET_ID}">
       {L_flt_aks_player_invite} <input name="addtogroup" type="text" /> <input type="submit" value="{L_flt_aks_player_invite_do}" />
     </form>
     <!-- IF MESSAGE -->
     <br />{MESSAGE}
     <!-- ENDIF -->
   </td>
 </tr>
</table>
<br/>
<!-- INCLUDE fleet_miniatures -->
