<!--
@package fleet
2.1 Overlib replaced with jQuery
2.0 Utilize PTE
    Comply with PCG
-->

<script type="text/javascript"><!--
var ships = Array();
<!-- BEGIN ships -->
  <!-- IF (ships.SPEED > 0) -->
  ships[{ships.ID}] = Array({ships.AMOUNT}, {ships.SPEED}, {ships.CONSUMPTION}, {ships.CAPACITY});
  <!-- ENDIF -->
<!-- END ships -->

  $(document).on('change', '#fleet_select_all', function(){
    $('[name^="return"]').prop('checked', $(this).is(':checked'));
  });

  $(document).on('click', '.return_fleet', function(){
    $(this).parent().parent().find('[name^="return"]').prop('checked', true).closest('form').submit();
  });

  $(document).on('click', '#fleet_return_do', function(){
    $(this).closest('form').submit();
  });
--></script>

<!-- INCLUDE fleet_javascript -->

<br>
<form action="" method="post">
<table border='0' cellpadding='0' cellspacing='1'>
  <tr class='c_c'>
    <th colspan=9>
      <div class="fl">{L_fl_title}: {FLEETS_FLYING}/{FLEETS_MAX}</div>
      <div class="fr">{L_fl_expttl}: {EXPEDITIONS_FLYING}/{EXPEDITIONS_MAX}</div>
    </th>
  </tr>

  <tr height='20'>
    <th>{L_fl_id}</th>
    <th>{L_fl_mission}</th>
    <th>{L_fl_count_short}</th>
    <th>{L_fl_dest}</th>
    <th>{L_fl_dest_t}</th>
    <th>{L_fl_from}</th>
    <th>{L_fl_from_t}</th>
    <th>{L_fl_order}</th>
    <th><input type="checkbox" id="fleet_select_all" /></th>
  </tr>

  <!-- BEGIN fleets -->
    <!-- IF fleets.MISSION == 1 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'attack' -->
    <!-- ELSEIF fleets.MISSION ==  2 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'federation' -->
    <!-- ELSEIF fleets.MISSION ==  3 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'transport' -->
    <!-- ELSEIF fleets.MISSION ==  4 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'deploy' -->
    <!-- ELSEIF fleets.MISSION ==  5 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'hold' -->
    <!-- ELSEIF fleets.MISSION ==  6 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'espionage' -->
    <!-- ELSEIF fleets.MISSION ==  7 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'colony' -->
    <!-- ELSEIF fleets.MISSION ==  8 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'harvest' -->
    <!-- ELSEIF fleets.MISSION ==  9 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'destroy' -->
    <!-- ELSEIF fleets.MISSION == 10 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'missile' -->
    <!-- ELSEIF fleets.MISSION == 15 -->
      <!-- DEFINE $OV_FLEET_STYLE = 'expedition' -->
    <!-- ENDIF -->

    <tr height=20 class="own{$OV_FLEET_STYLE}">
      <th>{fleets.NUMBER}</th>
      <th>{fleets.MISSION_NAME}<br>
        <div><!-- IF fleets.MESSAGE -->{L_ov_fleet_return}<!-- ELSE -->{L_ov_fleet_arrive}<!-- ENDIF --></div>
      </th>
      <th style="cursor: pointer;" onmouseover='fleet_dialog_show(this, {fleets.ID})' onmouseout='popup_hide()'>{fleets.AMOUNT}</th>
      <th>{fleets.END_URL} {fleets.END_TYPE_TEXT_SH}</th>
      <th><!-- IF fleets.MESSAGE == 0 --><div id="fleet_timer_end{fleets.ID}"></div>{fleets.END_TIME_TEXT}<!-- ELSE -->-<!-- ENDIF --></th>
      <th>{fleets.START_URL} {fleets.START_TYPE_TEXT_SH}</th>
      <th>
        <!-- IF ((fleets.MISSION == 7 || fleets.MISSION == 4) && fleets.MESSAGE == 1) || (fleets.MISSION != 7 && fleets.MISSION != 4) -->
        <div id="fleet_timer_start{fleets.ID}"></div>{fleets.START_TIME_TEXT}
        <!-- ELSE -->-<!-- ENDIF -->
      </th>
      <th>
        <!-- IF fleets.MESSAGE == 0 -->
          <input value="{L_flt_return_fleet}" type="button" class="return_fleet" />
          <!-- IF fleets.MISSION == 1 || fleets.MISSION == 2 -->
            <br/>
            <input value="<!-- IF fleets.MISSION == 1 -->{L_fl_associate}<!-- ELSE -->{fleets.ACS}<!-- ENDIF -->" type="button"
                   onclick="sn_redirect('fleet.php?fleet_page=4&fleetid={fleets.ID}');" />
          <!-- ENDIF -->
        <!-- ELSE -->
          {L_fl_isback}
        <!-- ENDIF -->
      </th>
      <th>
        <input type="checkbox" name="return[]" value="{fleets.ID}" />
      </th>
    </tr>
    <script type="text/javascript"><!--
      sn_timers.unshift({id: 'fleet_timer_start{fleets.ID}', type: TIMER_BUILD_QUE_V1, options: { msg_done: '{L_sys_fleet_arrived}', que: [
        ['{fleets.ID}', '', {fleets.START_LEFT}, '0']
      ]}});
      sn_timers.unshift({id: 'fleet_timer_end{fleets.ID}', type: TIMER_BUILD_QUE_V1, options: { msg_done: '{L_sys_fleet_arrived}', que: [
        ['{fleets.ID}', '', {fleets.END_LEFT}, '0']
      ]}});
    --></script>
  <!-- BEGINELSE fleets -->
    <tr><th colspan="9">{L_fl_no_flying_fleets}</th></tr>
  <!-- END fleets -->

  <!-- IF FLEETS_FLYING >= FLEETS_MAX -->
    <tr><th class="c_c negative" colspan="9">{L_fl_noslotfree}</th></tr>
  <!-- ELSE -->
    <tr>
      <th class="c_c" colspan="7"><input type="button" value="{L_flt_gather_all}" onclick="document.location = 'fleet.php?fleet_page=5';"></th>
      <th class="c_c" colspan="2"><input type="button" value="{L_flt_return_all}" id="fleet_return_do" /></th>
    </tr>
  <!-- ENDIF -->
</table><br>
</form>

<!-- INCLUDE page_hint -->
