<!-- INCLUDE fleet_javascript -->

<!-- DEFINE $CELL_HEADER = '70px' -->
<!-- DEFINE $CELL_PLANET_CLASS = 'planet_list_top_small' -->

<h2>{L_imp_overview}</h2>
<form method="post">
<table border="0" cellpadding="0" cellspacing="1" align=center id="empire_overview" class="c_c"><tbody>
  <tr><th width="{$CELL_HEADER}" class="c_l" colspan="{amount}">{L_sys_planets}</th></tr>

  <tr>
    <td width="{$CELL_HEADER}">{L_imp_name}</td>
    <!-- BEGIN planet -->
      <td>
        <!-- IF planet.IS_CAPITAL -->&#9813;<!-- ENDIF -->
        <!-- IF planet.IS_MOON -->&#9789;<!-- ENDIF -->
        <!-- IF planet.ID -->
          <a href="overview.php?cp={planet.ID}">{planet.NAME}</a>
        <!-- ELSE -->
          {planet.NAME}
        <!-- ENDIF -->
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <td>{L_sys_coordinates}</td>
    <!-- BEGIN planet -->
      <td width="{$CELL_HEADER}">
        <!-- IF planet.ID -->
          <a href="overview.php?cp={planet.ID}">{planet.COORDINATES}</a>
        <!-- ENDIF -->&nbsp;
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <td>
      {L_sys_colonies} {COLONIES_CURRENT}/{COLONIES_MAX}<br />
      {L_sys_expeditions} {EXPEDITIONS_CURRENT}/{EXPEDITIONS_MAX}
    </td>
    <!-- INCLUDE planet_list -->
  </tr>

  <tr>
    <td>{L_sys_temperature}</td>
    <!-- BEGIN planet -->
      <!-- IF planet.TEMP_MAX < 40 -->
        <!-- DEFINE $TEMP_COLOR_STYLE = 'negative' -->
      <!-- ELSEIF planet.TEMP_MAX > 40 -->
        <!-- DEFINE $TEMP_COLOR_STYLE = 'positive' -->
      <!-- ELSE -->
        <!-- DEFINE $TEMP_COLOR_STYLE = '' -->
      <!-- ENDIF -->

      <td class="{$TEMP_COLOR_STYLE}">
        {planet.TEMP_MIN} / {planet.TEMP_MAX}
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <td>
      {L_sys_planet_density_core}
      <div class="icons link icon-info_empire" go="info" unit_id="{D_UNIT_PLANET_DENSITY}"></div>
    </td>
    <!-- BEGIN planet -->
      <!-- IF planet.DENSITY_RICHNESS == PLANET_DENSITY_RICHNESS_NORMAL -->
        <!-- DEFINE $HTML_DENSITY_COLOR = '' -->
      <!-- ELSEIF planet.DENSITY_RICHNESS == PLANET_DENSITY_RICHNESS_AVERAGE -->
        <!-- DEFINE $HTML_DENSITY_COLOR = 'zero' -->
      <!-- ELSEIF planet.DENSITY_RICHNESS == PLANET_DENSITY_RICHNESS_GOOD -->
        <!-- DEFINE $HTML_DENSITY_COLOR = 'warning' -->
      <!-- ELSEIF planet.DENSITY_RICHNESS == PLANET_DENSITY_RICHNESS_PERFECT -->
        <!-- DEFINE $HTML_DENSITY_COLOR = 'negative' -->
      <!-- ELSE -->
        <!-- DEFINE $HTML_DENSITY_COLOR = 'positive' -->
      <!-- ENDIF -->

      <td class="{$HTML_DENSITY_COLOR}">
        {planet.DENSITY_CLASS_TEXT}
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <th class="c_l" colspan="{amount}">
      {L_sys_resources}
    </th>
  </tr>
  <tr>
    <td>{L_sys_metal}<br>{L_imp_production}</td>
    <!-- BEGIN planet -->
      <!-- DEFINE $RESOURCE_AMOUNT = '{planet.METAL_CUR}' -->
      <!-- DEFINE $RESOURCE_INCOMING = '{planet.RES_901_TEXT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION_PERCENT = '{planet.METAL_PERCENT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION = '{planet.METAL_PROD_TEXT}' -->

      <!-- INCLUDE imperium_resource_cell -->
    <!-- END planet -->
  </tr>
  <tr>
    <td>{L_sys_crystal}<br>{L_imp_production}</td>
    <!-- BEGIN planet -->
      <!-- DEFINE $RESOURCE_AMOUNT = '{planet.CRYSTAL_CUR}' -->
      <!-- DEFINE $RESOURCE_INCOMING = '{planet.RES_902_TEXT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION_PERCENT = '{planet.CRYSTAL_PERCENT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION = '{planet.CRYSTAL_PROD_TEXT}' -->

      <!-- INCLUDE imperium_resource_cell -->
    <!-- END planet -->
  </tr>
  <tr>
    <td>{L_sys_deuterium}<br>{L_imp_production}</td>
    <!-- BEGIN planet -->
      <!-- DEFINE $RESOURCE_AMOUNT = '{planet.DEUTERIUM_CUR}' -->
      <!-- DEFINE $RESOURCE_INCOMING = '{planet.RES_903_TEXT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION_PERCENT = '{planet.DEUTERIUM_PERCENT}' -->
      <!-- DEFINE $RESOURCE_PRODUCTION = '{planet.DEUTERIUM_PROD_TEXT}' -->

      <!-- INCLUDE imperium_resource_cell -->
    <!-- END planet -->
  </tr>
  <tr>
    <td>{L_sys_energy}<br>{L_imp_production}</td>
    <!-- BEGIN planet -->
    <!-- IF planet.ID --><!-- DEFINE $RES_ATTR = 'go="res" planet_id="{planet.ID}"' --><!-- ELSE --><!-- DEFINE $RES_ATTR = '' --><!-- ENDIF -->
    <td {$RES_ATTR}>
      {planet.ENERGY_CUR|num|color}<br />
      {planet.ENERGY_MAX|num|format}
    </td>
    <!-- END planet -->
  </tr>

  <!-- BEGIN prods -->
  <tr prod_mode="{prods.MODE}">
    <!-- IF prods.MODE -->
      <td>{prods.NAME}</td>
    <!-- ELSE -->
      <th colspan="{amount}"><div class="prod_header"><span>{prods.NAME}</span><input type="submit" name="save_production" value="{L_sys_save}" /></div></th>
    <!-- ENDIF -->

    <!-- BEGIN planet -->
      <!-- IF prods.URL -->
        <!-- DEFINE $FIELD_URL = '{prods.URL}' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_URL = '' -->
        <!-- DEFINE $PLANET_ID = '{prods.planet.ID}' -->
      <!-- ENDIF -->

      <!-- IF prods.planet.LEVEL_PLUS_GREEN >= 0 -->
        <!-- DEFINE $PLUS_CLASS = 'positive' -->
      <!-- ELSEIF prods.planet.LEVEL_PLUS_GREEN < 0 -->
        <!-- DEFINE $PLUS_CLASS = 'negative' -->
      <!-- ENDIF -->

      <!-- IF prods.planet.FACTORY && prods.planet.PERCENT != -1 --><!-- DEFINE $ECD_ECS = 'ecd' --><!-- ELSE --><!-- DEFINE $ECD_ECS = 'ecs' --><!-- ENDIF -->
      <td {$ECD_ECS}>
          <!-- IF prods.planet.PERCENT >= 0 -->
            <!-- DEFINE $PRODUCTION_PERCENT = '{prods.planet.PERCENT}' --><!-- INCLUDE _number_color_production_bg -->
            <span style="width: {prods.planet.PERCENT}%;" class="{$PRODUCTION_PERCENT_STYLE_BG}"></span>
          <!-- ENDIF -->
          <span>
            {prods.planet.LEVEL_TEXT}<!-- IF prods.planet.LEVEL_PLUS_GREEN --><span class="{$PLUS_CLASS}">{prods.planet.LEVEL_PLUS_GREEN_TEXT}</span><!-- ENDIF --><!-- IF prods.planet.LEVEL_PLUS_YELLOW --><span class="neutral">{prods.planet.LEVEL_PLUS_YELLOW_TEXT}</span><!-- ENDIF -->
            <!-- IF prods.planet.FACTORY && prods.planet.PERCENT >= 0 -->
              <br />
              <!-- IF prods.planet.ID == 0 --><!-- DEFINE $SELECTOR = 'selector="{prods.ID}"' --><!-- ELSE --><!-- DEFINE $SELECTOR = '' --><!-- ENDIF -->
              <select class="{$PRODUCTION_PERCENT_STYLE_BG}" name="percent[{prods.ID}][{prods.planet.ID}]" {$SELECTOR}>
                <!-- IF prods.planet.ID == 0 --><option>-</option><!-- ENDIF -->
                <!-- BEGIN !percent -->
                  <!-- DEFINE $NUMBER = '{percent.PERCENT}' --><!-- INCLUDE _number_color_percent -->
                  <!-- IF prods.planet.PERCENT === percent.PERCENT --><!-- DEFINE $PERCENT_SELECTED = ' selected' --><!-- ELSE --><!-- DEFINE $PERCENT_SELECTED = '' --><!-- ENDIF -->
                  <option class="{$FIELD_COLOR}" value="{percent.PERCENT}"{$PERCENT_SELECTED}>{percent.PERCENT}%</option>
                <!-- END !percent -->
              </select>
            <!-- ENDIF -->
          </span>
      </td>
    <!-- END planet -->
  </tr>
  <!-- END prods -->
</tbody></table>
</form>
