<script type="text/javascript"> 
  jQuery.noConflict(); 
</script> 

<table width=519>
  <!-- IF NEW_MESSAGES -->
    <tr><th class="c_c"><a href=messages.php>
      {L_ov_you_have}
      <!-- IF NEW_MESSAGES == 1 -->
        {L_ov_new_message}
      <!-- ELSE -->
        {NEW_MESSAGES} {L_ov_new_messages}
      <!-- ENDIF -->
    </a></th></tr>
  <!-- ENDIF -->
</table>

<!-- IF GAME_NEWS_OVERVIEW -->
  <table width=519>
    <tr><td colspan=2 class="c">{L_news_title}</td></tr>
    <!-- INCLUDE news_list -->
  </table>
<!-- ENDIF -->

<table width=519>
  <tr>
    <th colspan=4 class="c_c">
      <span class="fl">{L_imp_imperator} {user_username} <img src="{D_SN_ROOT_VIRTUAL}{dpath}images/sex_{user_sex}.png"> {L_sys_from} {REGISTRATION_DATE}</span>
      <span class="fr"></span>
    </th>
  </tr>
  <!-- IF USER_AVATAR -->
    <tr>
      <td class="c_c" colspan="4">
          <img src="{D_SN_ROOT_VIRTUAL}/images/avatar/avatar_{USER_ID}.png">
      </td>
    </tr>
  <!-- ENDIF -->
  <tr>
    <th colspan=4 class="c_c">
      <span class="fl">{L_imp_statistics}</span>
      <span class="fr"><strong>{L_ov_rank}: <a href="stat.php?start={user_rank}"><span class="ov_user_rank">{user_rank} ({RANK_DIFF})</span>/<span class="ov_user_total">{USERS_TOTAL}</span></strong></a></strong></span>
    </th>
  </tr>
  <tr>
    <th>{L_Economica}</th>
    <th colspan="1" align="center">{L_ov_experience}: {builder_xp}/{builder_lvl_up}</th>
    <th colspan="2" align="center">{L_sys_level}: {builder_lvl}</th>
  </tr>
  <tr>
    <th>{L_imp_research}</th>
    <th colspan="1" align="center">{L_ov_experience}: {tech_xp}/{tech_lvl_up}</th>
    <th colspan="2" align="center">{L_sys_level}: {tech_lvl}</th>
  </tr>
  <tr>
    <th rowspan=2>{L_ov_raids}</th>
    <th colspan="1" align="center">{L_ov_experience}: {raid_xp}/{raid_lvl_up}</th>
    <th colspan="2" align="center">{L_sys_level}: {raid_lvl}</th>
  </tr>
  <tr>
    <th>{L_NumberOfRaids}: {raids}</th>
    <th>{L_RaidsWin}: {raidswin}</th>
    <th>{L_RaidsLoose}: {raidsloose}</th>
  </tr>
  <tr align="center" class="c">
    <th rowspan=3>{L_ov_points}</th>
    <th>{L_imp_user_points_struc}: {build_points}</th>
    <th colspan=2>{L_imp_user_points_tech}: {tech_points}</th>
  </tr>
  <tr>
    <th>{L_imp_user_points_fleet}: {fleet_points}</th>
    <th colspan="2">{L_imp_user_points_def}: {defs_points}</th>
  </tr>
  <tr>
    <th>{L_imp_user_points_res}: {res_points}</th>
    <th colspan="2">{L_imp_user_points_all}: {total_points}</th>
  </tr>
</table>

<!-- IF BANNER_URL -->
  <table width="519" align="center">
    <tr><td class="c">{L_aff_banner}</td></tr>
    <tr>
      <th>
        <img src="{BANNER_URL}"><br><br>
        {L_aff_banner_bb}<br>
        <input type="text" value="[img]{BANNER_URL}[/img]" size="55">
      </th>
    </tr>
  </table>
<!-- ENDIF -->

<!-- IF USERBAR_URL -->
  <table width="519" align="center">
    <tr><td class="c">{L_aff_userbar}</td></tr>
    <tr>
      <th>
        <img src="{USERBAR_URL}"><br><br>
        {L_aff_userbar_bb}<br>
        <input type="text" value="[img]{USERBAR_URL}[/img]" size="55">
      </th>
    </tr>
  </table>
<!-- ENDIF -->
