<!-- IF USER_AVATAR --><br /><img src="{D_SN_ROOT_VIRTUAL}/images/avatar/avatar_{USER_ID}.png"><!-- ENDIF -->
<h2>{L_imp_imperator} {user_username} <strong>{L_ov_rank}: <a href="stat.php?start={user_rank}"><span class="ov_user_rank">{user_rank} ({RANK_DIFF})</span>/<span class="ov_user_total">{USERS_TOTAL}</span></strong></a></strong></h2>
<h3>{L_sys_from} {REGISTRATION_DATE}</h3>

<!-- IF SAME_USER && NEW_MESSAGES -->
<table width=519>
  <tr>
    <th class="c_c">
      <a href=messages.php>{L_ov_you_have} <!-- IF NEW_MESSAGES == 1 -->{L_ov_new_message}<!-- ELSE -->{NEW_MESSAGES} {L_ov_new_messages}<!-- ENDIF --></a>
    </th>
  </tr>
</table>
<!-- ENDIF -->

<table width=519>
  <tr class="c_c">
    <th rowspan="2">{L_imp_statistics}</th>
    <th rowspan="2">{L_ov_points}</th>
    <th colspan="2">{L_ov_experience}</th>
    <th rowspan="2">{L_sys_level}</th>
  </tr>
  <tr class="c_c">
    <th>{L_imp_experience_current}</th>
    <th>{L_imp_experience_to_level}</th>
  </tr>

  <tr class="c_r">
    <th class="c_l">{L_Economica}</th>
    <td>{build_points}</td>
    <td>{builder_xp}</td>
    <td>{builder_lvl_up}</td>
    <td>{builder_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_research}</th>
    <td>{tech_points}</td>
    <td>{tech_xp}</td>
    <td>{tech_lvl_up}</td>
    <td>{tech_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_exploration}</th>
    <td>--</td>
    <td>{explore_xp}</td>
    <td>{explore_lvl_up}</td>
    <td>{explore_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_ov_raids}</th>
    <td colspan="1" align="center">
      <table width=100%>
        <tr>
          <td class="c_l">{L_NumberOfRaids}</td><td class="c_r">{raids}</td>
        </tr>
        <tr>
          <td class="c_l">{L_RaidsWin}</td><td class="c_r">{raidswin}</td>
        </tr>
        <tr>
          <td class="c_l">{L_RaidsLoose}</td><td class="c_r">{raidsloose}</td>
        </tr>
      </table>
    </td>
    <td>{raid_xp}</td>
    <td>{raid_lvl_up}</td>
    <td>{raid_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_fleet}</th>
    <td>{fleet_points}</td>
    <td rowspan="4" colspan="3" class="c_c">{L_imp_TBA}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_def}</th>
    <td>{defs_points}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_res}</th>
    <td>{res_points}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_all} {Очков}</th>
    <th>{total_points}</th>
  </tr>
</table>

<!-- IF SAME_USER -->
  <!-- IF BANNER_URL -->
    <table width="519" align="center">
      <tr><td class="c">{L_aff_banner}</td></tr>
      <tr>
        <th>
          <img src="{BANNER_URL}"><br><br>
          {L_aff_banner_bb}<br>
          <input type="text" value="[img]{BANNER_URL}[/img]" size="55">
        </th>
      </tr>
    </table>
  <!-- ENDIF -->

  <!-- IF USERBAR_URL -->
    <table width="519" align="center">
      <tr><td class="c">{L_aff_userbar}</td></tr>
      <tr>
        <th>
          <img src="{USERBAR_URL}"><br><br>
          {L_aff_userbar_bb}<br>
          <input type="text" value="[img]{USERBAR_URL}[/img]" size="55">
        </th>
      </tr>
    </table>
  <!-- ENDIF -->
<!-- ENDIF -->
