  <div class="border_image_small" style="display: inline-flex; flex-direction: column; margin: 0.5em;">
    <div class="a50" style="padding: 1em;">
      <h2>{L_imp_imperator} {user_username}</h2>

      <h3>{L_sys_from} {REGISTRATION_DATE}</h3>

      <!-- IF USER_AVATAR --><img src="{D_SN_ROOT_VIRTUAL}/images/avatar/avatar_{USER_ID}.png"><!-- ENDIF -->
      <h2 class="link">
        <a href="stat.php?start={user_rank}">
          {L_ov_rank}:
          <span class="ov_user_rank">{user_rank} ({RANK_DIFF})</span>
          /
          <span class="ov_user_total">{USERS_TOTAL}</span>
        </a>
      </h2>

      <a class="link" href="ranks.php">
        <h3>{L_rank}: [{PLAYER_RANK_NUMBER}] {PLAYER_RANK_NAME}</h3>
        <div class="rank rank-emperor rank-{PLAYER_RANK_NUMBER}"></div>
      </a>
      <h3>{L_sys_gender} {GENDER_TEXT}</h3>
      <!-- IF VACATION -->
      <h3>{L_sys_vacation_in}</h3>
      <!-- ENDIF -->
    </div>
  </div>
<!-- IF 1 || (SAME_USER && NEW_MESSAGES) -->
<div style="width: 50em; display: block; margin: 1em;" class="border_image_small">
  <a href="messages.php" class="a50 h100" style="padding: 0.5em; display: block">
    {L_ov_you_have} <!-- IF NEW_MESSAGES == 1 -->{L_ov_new_message}<!-- ELSE -->{NEW_MESSAGES} {L_ov_new_messages}
    <!-- ENDIF -->
  </a>
</div>
<!-- ENDIF -->

<table style="width: 50em">
  <tr class="c_c">
    <th rowspan="2">{L_imp_statistics}</th>
    <th rowspan="2">{L_ov_points}</th>
    <th colspan="2">{L_ov_experience}</th>
    <th rowspan="2">{L_sys_level}</th>
  </tr>
  <tr class="c_c">
    <th>{L_imp_experience_current}</th>
    <th>{L_imp_experience_to_level}</th>
  </tr>

  <tr class="c_r">
    <th class="c_l">{L_Economica}</th>
    <td>{build_points}</td>
    <td>{builder_xp}</td>
    <td>{builder_lvl_up}</td>
    <td>{builder_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_research}</th>
    <td>{tech_points}</td>
    <td>{tech_xp}</td>
    <td>{tech_lvl_up}</td>
    <td>{tech_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_exploration}</th>
    <td>--</td>
    <td>{explore_xp}</td>
    <td>{explore_lvl_up}</td>
    <td>{explore_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_ov_raids}</th>
    <td colspan="1" align="center">
      <table width=100% class="markup">
        <tr>
          <td class="c_l">{L_NumberOfRaids}</td>
          <td class="c_r">{raids}</td>
        </tr>
        <tr>
          <td class="c_l">{L_RaidsWin}</td>
          <td class="c_r">{raidswin}</td>
        </tr>
        <tr>
          <td class="c_l">{L_RaidsLoose}</td>
          <td class="c_r">{raidsloose}</td>
        </tr>
      </table>
    </td>
    <td>{raid_xp}</td>
    <td>{raid_lvl_up}</td>
    <td>{raid_lvl}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_fleet}</th>
    <td>{fleet_points}</td>
    <td rowspan="4" colspan="3" class="c_c">{L_imp_TBA}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_def}</th>
    <td>{defs_points}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_res}</th>
    <td>{res_points}</td>
  </tr>
  <tr class="c_r">
    <th class="c_l">{L_imp_user_points_all} {Очков}</th>
    <th>{total_points}</th>
  </tr>
</table>

<script type="text/javascript">
  var stat = {
    <!-- BEGIN stat -->
    '{stat.TYPE}': {
      'MIN': '{stat.MIN}',
      'MAX': '{stat.MAX}',
      'AVG': '{stat.AVG}',
      'DATA': {
        <!-- BEGIN entry -->
        '{entry.ID}': {
          // 'ID': '{entry.ID}',
          'VALUE': '{entry.VALUE}',
          'DELTA': '{entry.DELTA}',
          'PERCENT': '{entry.PERCENT}',
        },
        <!-- END entry -->
      },
    },
    <!-- END stat -->
  };
  var STAT_COUNT = parseInt('{STAT_COUNT}') ? parseInt('{STAT_COUNT}') : 0;

  var stat_date = {
    <!-- BEGIN stat_date -->
    '{stat_date.ID}': {
      // 'ID': '{entry.ID}',
      'VALUE': '{stat_date.VALUE}',
      'TEXT': '{stat_date.TEXT}',
    },
    <!-- END stat_date -->
  };

  // console.log(stat);
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(document).on('change', '#stat_type_select', function () {
      stat_type = $(this).val();
      $('#stat_cell_min_max').find('.stat_min').each(function () {
        $(this).text(sn_format_number(stat[stat_type]['MIN']));
        $(this).parent().find('.stat_max').text(sn_format_number(stat[stat_type]['MAX']));
        $(this).parent().find('.stat_avg').text(sn_format_number(stat[stat_type]['AVG']));
      });
      $('.stat_cell').each(function () {
        that = $(this);
        stat_id = that.attr('stat_id');
        // that.find('.stat_bar').height(stat[stat_type]['DATA'][stat_id]['PERCENT'] + '%');

        that.find('.stat_bar').animate({height: stat[stat_type]['DATA'][stat_id]['PERCENT'] + '%'});
        // that.find('.stat_bar').animate({height: stat[stat_type]['DATA'][stat_id]['PERCENT']}, 1000);


        that.find('.stat_value').text(sn_format_number(stat[stat_type]['DATA'][stat_id]['VALUE']));
        that.find('.stat_delta').html('(' + sn_format_number(stat[stat_type]['DATA'][stat_id]['DELTA'], 0, 'positive', 0, true) + ')');
      });
    });

    $('#stat_type_select').change();
  });
</script>

<!-- IF .stat -->
<div class="border_image_large" style="display: inline-block; margin: 1em;">
  <div class="a50 h100" style="font-size: 125%; padding: 0.5em;">
    {L_imp_stat_header}
    <select id="stat_type_select" name="stat_type_select">
      <!-- BEGIN stat -->
      <option value="{stat.TYPE}">{stat.TEXT}</option>
      <!-- END stat -->
    </select>
  </div>

  <table class="no_border_image">
    <tr class="c_c">
      <th>{L_sys_date}</th>
      <!-- BEGIN stat_date -->
      <th class="stat_date_cell">
        {stat_date.TEXT}
      </th>
      <!-- END stat_date -->
    </tr>
    <tr>
      <td id="stat_cell_min_max">
        <div class="stat_max positive">
        </div>

        <div class="stat_avg neutral">
        </div>

        <div class="stat_min negative">
        </div>

        <div style="visibility: hidden;">
          <div class="stat_min"></div>
          <div class="stat_max"></div>
        </div>
      </td>
      <!-- BEGIN stat_date -->
      <td stat_id="{stat_date.ID}" class="stat_cell">
        <div class="ok_bg stat_bar">
        </div>

        <div class="stat_value"></div>
        <div class="stat_delta"></div>
        <div style="visibility: hidden;">
          <div class="stat_value"></div>
          <div class="stat_delta"></div>
        </div>
      </td>
      <!-- END stat_date -->
    </tr>
  </table>
</div>
<!-- ENDIF -->

<!-- IF SAME_USER -->
  <!-- IF BANNER_URL -->
  <table width="519" align="center">
    <tr>
      <td class="c">{L_aff_banner}</td>
    </tr>
    <tr>
      <th>
        <img src="{BANNER_URL}"><br><br>
        {L_aff_banner_bb}<br>
        <input type="text" value="[img]{BANNER_URL}[/img]" size="55">
      </th>
    </tr>
  </table>
  <!-- ENDIF -->

  <!-- IF USERBAR_URL -->
  <table width="519" align="center">
    <tr>
      <td class="c">{L_aff_userbar}</td>
    </tr>
    <tr>
      <th>
        <img src="{USERBAR_URL}"><br><br>
        {L_aff_userbar_bb}<br>
        <input type="text" value="[img]{USERBAR_URL}[/img]" size="55">
      </th>
    </tr>
  </table>
  <!-- ENDIF -->
<!-- ENDIF -->
