<!-- INCLUDE fleet_javascript -->

<!-- DEFINE $CELL_HEADER = '60px' -->
<!-- DEFINE $CELL_PLANET = '60px' -->

<h2>{L_imp_overview}</h2>
<form method="post">
<table border="0" cellpadding="0" cellspacing="1" align=center><tbody>
  <tr><th class="c_l" colspan="{amount}">{L_sys_planets}</th></tr>

  <tr>
    <th width="{$CELL_HEADER}">{L_imp_name}</th>
    <!-- BEGIN planet -->
      <td class="c_c" width="{$CELL_PLANET}">
        <!-- IF planet.ID -->
          <a href="overview.php?cp={planet.ID}">{planet.NAME}</a>
        <!-- ELSE -->
          {planet.NAME}
        <!-- ENDIF -->
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <th width="{$CELL_HEADER}">&nbsp;</th>
    <!-- INCLUDE planet_list -->
  </tr>

  <tr>
    <th width="{$CELL_HEADER}">{L_sys_coordinates}</th>
    <!-- BEGIN planet -->
      <td width="{$CELL_PLANET}" class="c_c">
        <!-- IF planet.ID -->
          <a href="overview.php?cp={planet.ID}">{planet.COORDINATES}</a>
        <!-- ENDIF -->&nbsp;
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <th width="{$CELL_HEADER}">{L_sys_fields}</th>
    <!-- BEGIN planet -->
      <!-- IF planet.FIELDS_CUR >= planet.FIELDS_MAX --> 
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = '' -->
      <!-- ENDIF -->

      <td width="{$CELL_PLANET}" class="c_c {$FIELD_COLOR}">
        <!-- IF planet.FIELDS_CUR -->
          {planet.FIELDS_CUR}/{planet.FIELDS_MAX}
        <!-- ENDIF -->&nbsp;
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <th width="{$CELL_HEADER}">{L_sys_temperature}</th>
    <!-- BEGIN planet -->
      <!-- IF planet.TEMP_MAX < 40 --> 
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ELSEIF planet.TEMP_MAX > 40 --> 
        <!-- DEFINE $FIELD_COLOR = 'positive' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = '' -->
      <!-- ENDIF -->

      <td width="{$CELL_PLANET}" class="c_c {$FIELD_COLOR}">
        {planet.TEMP_MIN} / {planet.TEMP_MAX}
      </td>
    <!-- END planet -->
  </tr>

  <tr>
    <th width="{$CELL_HEADER}">
      {L_sys_planet_density_core}
      <div class="icons icon-info link" style="display: inline-block; vertical-align: middle;" onclick="document.location='infos.php?gid={D_UNIT_PLANET_DENSITY}'"></div>
    </th>
    <!-- BEGIN planet -->
      <!-- IF planet.DENSITY_CLASS == 4 -->
        <!-- DEFINE $FIELD_COLOR = 'positive' -->
      <!-- ELSEIF planet.DENSITY_CLASS == 3 || planet.DENSITY_CLASS == 5 -->
        <!-- DEFINE $FIELD_COLOR = 'zero' -->
    <!-- ELSEIF planet.DENSITY_CLASS == 2 || planet.DENSITY_CLASS == 6 -->
    <!-- DEFINE $FIELD_COLOR = 'warning' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ENDIF -->

      <td width="{$CELL_PLANET}" class="c_c {$FIELD_COLOR}">
        {planet.DENSITY_CLASS_TEXT}
      </td>
    <!-- END planet -->
  </tr>

  <tr><th class="c_l" colspan="{amount}">{L_sys_resources}</th></tr>

  <tr>
    <th width="{$CELL_HEADER}">{L_sys_metal}<br>{L_imp_production}</th>
    <!-- BEGIN planet -->
      <!-- IF planet.METAL_PERCENT < 50 --> 
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ELSEIF planet.METAL_PERCENT < 80 --> 
        <!-- DEFINE $FIELD_COLOR = 'warning' -->
      <!-- ELSEIF planet.METAL_PERCENT < 100 --> 
        <!-- DEFINE $FIELD_COLOR = 'neutral' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = 'positive' -->
      <!-- ENDIF -->
      <td class="c_c">
        <a href="resources.php?cp={planet.ID}">{planet.METAL_CUR}</a><br />
        <span class="{$FIELD_COLOR}">{planet.METAL_PROD}</span>
      </td>
    <!-- END planet -->
  </tr>
  <tr>
    <th width="{$CELL_HEADER}">{L_sys_crystal}<br>{L_imp_production}</th>
    <!-- BEGIN planet -->
      <!-- IF planet.CRYSTAL_PERCENT < 50 --> 
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ELSEIF planet.CRYSTAL_PERCENT < 80 --> 
        <!-- DEFINE $FIELD_COLOR = 'warning' -->
      <!-- ELSEIF planet.CRYSTAL_PERCENT < 100 --> 
        <!-- DEFINE $FIELD_COLOR = 'neutral' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = 'positive' -->
      <!-- ENDIF -->
      <td class="c_c">
        <a href="resources.php?cp={planet.ID}">{planet.CRYSTAL_CUR}</a><br /><span class="{$FIELD_COLOR}">{planet.CRYSTAL_PROD}</span>
      </td>
    <!-- END planet -->
  </tr>
  <tr>
    <th width="{$CELL_HEADER}">{L_sys_deuterium}<br>{L_imp_production}</th>
    <!-- BEGIN planet -->
      <!-- IF planet.DEUTERIUM_PERCENT < 50 --> 
        <!-- DEFINE $FIELD_COLOR = 'negative' -->
      <!-- ELSEIF planet.DEUTERIUM_PERCENT < 80 --> 
        <!-- DEFINE $FIELD_COLOR = 'warning' -->
      <!-- ELSEIF planet.DEUTERIUM_PERCENT < 100 --> 
        <!-- DEFINE $FIELD_COLOR = 'neutral' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_COLOR = 'positive' -->
      <!-- ENDIF -->
      <td class="c_c">
        <a href="resources.php?cp={planet.ID}">{planet.DEUTERIUM_CUR}</a><br /><span class="{$FIELD_COLOR}">{planet.DEUTERIUM_PROD}</span>
      </td>
    <!-- END planet -->
  </tr>
  <tr>
    <th width="{$CELL_HEADER}">{L_sys_energy}<br>{L_imp_production}</th>
    <!-- BEGIN planet -->
    <td class="c_c">
      <a href="resources.php?cp={planet.ID}">{planet.ENERGY_CUR}</a><br />
      {planet.ENERGY_MAX}
    </td>
    <!-- END planet -->
  </tr>

  <!-- BEGIN prods -->
  <tr>
    <!-- IF prods.MODE -->
    <td class="c_c" width="{$CELL_HEADER}">{prods.NAME}</td>
    <!-- ELSE -->
    <th width="{$CELL_HEADER}" class="c_l" colspan="{amount}">{prods.NAME}<input type="submit" name="save_production" value="{L_sys_save}" style="float: right;"></th>
    <!-- ENDIF -->

    <!-- BEGIN planet -->
      <!-- IF prods.URL -->
        <!-- DEFINE $FIELD_URL = '{prods.URL}' -->
      <!-- ELSE -->
        <!-- DEFINE $FIELD_URL = 'buildings.php?cp={prods.planet.ID}&mode={prods.MODE}' -->
      <!-- ENDIF -->
      <th class="empire_cell">
        <!-- IF prods.planet.LEVEL_PLUS_GREEN > 0 -->
          <!-- DEFINE $PLUS_CLASS = 'positive' -->
        <!-- ELSEIF prods.planet.LEVEL_PLUS_GREEN < 0 -->
          <!-- DEFINE $PLUS_CLASS = 'negative' -->
        <!-- ENDIF -->

        <!-- IF prods.planet.PERCENT <= 0 -->
          <!-- DEFINE $FIELD_COLOR = '' -->
        <!-- ELSEIF prods.planet.PERCENT < 50 -->
          <!-- DEFINE $FIELD_COLOR = 'negative_bg' -->
        <!-- ELSEIF prods.planet.PERCENT < 80 -->
          <!-- DEFINE $FIELD_COLOR = 'warning_bg' -->
        <!-- ELSEIF prods.planet.PERCENT < 100 -->
          <!-- DEFINE $FIELD_COLOR = 'neutral_bg' -->
        <!-- ELSE -->
          <!-- DEFINE $FIELD_COLOR = 'positive_bg' -->
        <!-- ENDIF -->

        <div class="<!-- IF prods.planet.FACTORY && prods.planet.PERCENT != -1 -->empire_cell_wrapper_double_height<!-- ELSE -->empire_cell_wrapper<!-- ENDIF -->">
          <!-- IF prods.planet.PERCENT --><span style="width: {prods.planet.PERCENT}%;" class="empire_cell_filler {$FIELD_COLOR}"></span><!-- ENDIF -->



          <span class="empire_cell_number"><span onclick="document.location='{$FIELD_URL}';">{prods.planet.LEVEL}<!-- IF prods.planet.LEVEL_PLUS_GREEN --><span class="{$PLUS_CLASS}">{prods.planet.LEVEL_PLUS_GREEN}</span><!-- ENDIF --><!-- IF prods.planet.LEVEL_PLUS_YELLOW --><font color="yellow">{prods.planet.LEVEL_PLUS_YELLOW}</font><!-- ENDIF --></span>
          <!-- IF prods.planet.FACTORY && prods.planet.PERCENT >= 0 -->
            <br />
          <select name="percent[{prods.ID}][{prods.planet.ID}]" id="percent_{prods.ID}_{prods.planet.ID}">
            <!-- IF prods.planet.ID == 0 -->
            <option>-</option>
            <!-- ENDIF -->

            <!-- BEGIN !percent -->
            <option value="{percent.PERCENT}"<!-- IF prods.planet.PERCENT === percent.PERCENT --> selected<!-- ENDIF -->>{percent.PERCENT} %</option>
            <!-- END !percent -->
          </select>

          <!-- IF prods.planet.FACTORY && prods.planet.ID == 0 -->
            <script type="text/javascript">
              jQuery("select[name='percent[{prods.ID}][{prods.planet.ID}]']").change(function(){
                if(jQuery(this).val() != '-')
                {
                  jQuery("select[name^='percent[{prods.ID}][']").val(jQuery(this).val());
                }
              });
            </script>
          <!-- ENDIF -->

          <!-- ENDIF -->
          </span>

        </div>
      </th>
    <!-- END planet -->
  </tr>
  <!-- END prods -->
</tbody></table>
</form>
