<table width="519"><tbody>
  <tr>
    <td class="c" colspan="3">{nfo_title_head} - {element_typ} - {name}</td>
  </tr>

  <tr>
    <td align="justify" colspan="3">
      <img src="{dpath}gebaeude/{image}.gif" align="top" border="0" height="120" width="120" class="fl" style="margin: 7px">
      {description}<br />
      <br/ >
      {rf_info_to}
      {rf_info_fr}
    </td>
  </tr>

  <tr class="c_c">
    <th>{info_title_param}</th>
    <th>{info_title_base}</th>
    <th>{info_title_actual}</th>
  </tr>
  <tr>
    <th>{nfo_attack_pt}</th>
    <th>{attack_pt}</th>
    <th>{ACTUAL_WEAPON}</th>
  </tr>
  <tr>
    <th>{nfo_shielf_pt}</th>
    <th>{shield_pt}</th>
    <th>{ACTUAL_SHIELD}</th>
  </tr>
  <tr>
    <th>{nfo_struct_pt}</th>
    <th>{hull_pt}</th>
    <th>{ACTUAL_ARMOR}</th>
  </tr>
  <tr>
    <th>{nfo_capacity}</th>
    <th>{capacity_pt}</th>
    <th>{ACTUAL_CAPACITY}</th>
  </tr>
  <tr>
    <th>{nfo_base_speed}</th>
    <th>{base_speed} {upd_speed}</th>
    <th>{ACTUAL_SPEED}</th>
  </tr>
  <tr>
    <th>{nfo_consumption}</th>
    <th>{base_conso} {upd_conso}</th>
    <th>{ACTUAL_CONSUMPTION}</th>
  </tr>
</tbody></table>