<div id="sn_menu">
  <table width="100%" cellspacing="0" cellpadding="0" id="left_menu" align="left">
    <tr><th id="server_name">{C_game_name}<br />
      {L_sys_from} {C_server_start_date}
    </th></tr>

    <tr><td class="c_c"><img border="0" src="design/images/supernova.png" alt="supernova.ws" /></td></tr>

    <!-- IF USER_AUTHLEVEL > 0 -->
    <tr>
      <th class="c_c">
        <a href="admin/overview.php"><span class="ok">[{USER_AUTHLEVEL_NAME}]</span></a>
      </th>
    </tr>
    <!-- ENDIF -->

    <!-- IF USER_IMPERSONATOR -->
    <tr>
      <th class="c_c">
        <a href="logout.php"><span style="color: red; text-decoration: blink; font-weight: bold;">[ {L_sys_impersonate_done} ]</span></a>
      </th>
    </tr>
    <!-- ENDIF -->

    <!-- IF URL_RULES || URL_FAQ --><tr><th>{L_m_h_rules}</th></tr><!-- ENDIF -->
    <!-- IF URL_RULES --><tr><td><a href="{URL_RULES}">{L_sys_game_rules}</a></td></tr><!-- ENDIF -->
    <!-- IF URL_FAQ --><tr><td title="{m_faq_hint}"><a href="{URL_FAQ}">{L_m_faq}</a></td></tr><!-- ENDIF -->
    <tr>
      <td>
          <a href="announce.php">{L_news_title}
          <!-- IF NEWS_UNREAD -->
          <span style="color: red; text-decoration: blink; font-weight: bold;">{L_lm_announce_fresh}</span>
          <!-- ENDIF -->
        </a>
      </td>
    </tr>

    <tr><th><a href="affilates.php" id="lm_affilates">[{L_m_affilates}]</a></th></tr>

    <tr><th>{L_sys_planet}</th></tr>
    <tr><td><a href="overview.php" id="lm_overview">{L_Overview}</a></td></tr>
    <tr><td><a href="resources.php">{L_Resources}</a></td></tr>
    <tr><td><a href="fleet.php" id="lm_fleet">{L_lm_fleet_orbiting}</a></td></tr>
    <tr><td><a href="buildings.php?mode={D_QUE_STRUCTURES}" id="lm_buildings">{L_Buildings}</a></td></tr>
    <tr><td><a href="buildings.php?mode={D_SUBQUE_FLEET}" id="lm_shipyard">{L_Shipyard}</a></td></tr>
    <tr><td><a href="buildings.php?mode={D_SUBQUE_DEFENSE}">{L_Defense}</a></td></tr>

    <tr><th>{L_sys_empire}</th></tr>
    <tr><td><a href="imperium.php" id="lm_overview">{L_imp_overview}</a></td></tr>
    <tr><td><a href="imperator.php">{L_imp_imperator}</a></td></tr>
    <tr><td><a href="flying_fleets.php" id="lm_fleet">{L_imp_fleets}</a></td></tr>
    <tr><td><a href="buildings.php?mode=research" id="lm_techtree">{L_Research}</a></td></tr>
    <tr><td><a href="techtree.php" id="lm_techtree">{L_Technology}</a></td></tr>
    <tr><td><a href="officer.php?mode={D_UNIT_MERCENARIES}">{L_tech[D_UNIT_MERCENARIES]}</a></td></tr>
    <tr><td><a href="officer.php?mode={D_UNIT_PLANS}">{L_tech[D_UNIT_PLANS]}</a></td></tr>
    <tr><td><a href="artifacts.php">{L_tech[1000]}</a></td></tr>
    <tr><td><a href="market.php">{L_rinok}</a></td></tr>
    <tr><td><a href="galaxy.php?mode=0" id="lm_universe">{L_sys_universe}</a></td></tr>
    <tr><td><a href="quest.php">{L_qst_quests}</a></td></tr>

    <tr><th>{L_sys_alliance}</th></tr>
    <tr><td><a href="alliance.php">{L_sys_alliance}</a></td></tr>
    <tr><td><a href="chat.php?ally=ally" id="lm_chatally">{L_AllyChat}</a></td></tr>

    <tr><th>{L_m_communication}</th></tr>
    <tr><td><a href="messages.php">{L_Messages}</a></td></tr>
    <tr><td><a href="chat.php" id="lm_chat">{L_Chat}</a></td></tr>
    <!-- IF URL_FORUM --><tr><td><a href="{URL_FORUM}" id="lm_forum">{L_m_forum}</a></td></tr><!-- ENDIF -->

    <tr><th>{L_m_others}</th></tr>
    <tr><td><a href="simulator.php" id="lm_simulator">{L_m_simulator}</a></td></tr>
    <tr><td><a href="viewreport.php">{L_lm_combat_reports}</a></td></tr>
    <tr><td><a href="buddy.php">{L_Buddylist}</a></td></tr>
    <tr><td><a href="notes.php">{L_Notes}</a></td></tr>
    <tr><td><a href="fleet_shortcuts.php">{L_lm_shortcuts}</a></td></tr>
    <tr><td><a href="search.php" id="lm_search">{L_Search}</a></td></tr>

    <tr><th>{L_navig}</th></tr>
    <tr><td><a href="stat.php">{L_Statistics}</a></td></tr>
    <tr><td><a href="records.php">{L_Records}</a></td></tr>
    <tr><td><a href="server_info.php">{L_lm_server_info}</a></td></tr>
    <tr><td><a href="banned.php">{L_lm_banned}</a></td></tr>
    <tr><td><a href="contact.php">{L_commun}</a></td></tr>

    <tr><th><a href="options.php" id="lm_options">[{L_Options}]</a></th></tr>
    <tr><th><a href="logout.php" id="lm_logout">[{L_Logout}]</a></th></tr>

    <tr><td class="c_c"><a href="http://www.triolan.com/" target="_blank"><img src="images/triolan.gif" alt="Triolan.COM" /></a></td></tr>

    <!-- IF ADV_LEFT_BOTTOM -->
    <tr><td align="center">{ADV_LEFT_BOTTOM}</td></tr>
    <!-- ENDIF -->
  </table>
</div>
