  <div id="log_status">
    {L_adm_opt_galaxies}: <font color="red">{C_game_maxGalaxy}</font> - {L_adm_opt_systems}: <font color="red">{C_game_maxSystem}</font> - {L_adm_opt_planets}: <font color="red">{C_game_maxPlanet}</font>
  </div>

  <div id="log_status">
    {L_adm_opt_speed}:
    {L_adm_opt_game_gspeed} <font color="red">x{C_game_speed}</font> -
    {L_adm_opt_game_fspeed} <font color="red">x{C_fleet_speed}</font> -
    {L_adm_opt_game_pspeed} <font color="red">x{C_resource_multiplier}</font>
  </div>

  <div id="log_status">
    {L_log_online}: <font color="red">{online_users}</font> - {L_log_lastreg}: <font color="red">{last_user}</font> - {L_log_numbreg}: <font color="red">{C_users_amount}</font><br>
  </div>
