<style type="text/css"><!--
 @import url(./design/css/login.css);
--></style>

<div id="log_skipper"></div>
<div id="log_main">
  <div id="log_title">{L_sys_universe} "{C_game_name}"</div>
  <div id="log_status">{L_log_lost_header}</div>

  <div id="log_description">{L_log_lost_description1}</div>

  <div id="log_form">
    <form action="" method="post">
      <table width="400" align="center">
        <tbody>
          <tr>
            <th>{L_E-Mail}:</th>
            <th><input name="email" type="text" size="20" maxlength="40" /></th>
          </tr>
          <tr>
            <th colspan=2><input name="submit" type="submit" value="{L_log_lost_send_mail}" /></th>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div id="log_description">{L_log_lost_description2}</div>
  <div id="log_form">
    <form action="" method="post">
      <table width="400" align="center">
        <tbody>
          <tr>
            <th>{L_log_lost_code}:</th>
            <th><input name="confirm" type="text" size="20" maxlength="40" /></th>
          </tr>
          <tr>
            <th colspan=2><input name="submit" type="submit" value="{L_log_lost_reset_pass}" /></th>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <!-- INCLUDE login_menu -->
</div>
