<script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/metamatter.js?{C_var_db_update}"></script>

<script type="text/javascript">
  language.addLocale({sys_show: "{LA_sys_show}", sys_hide: "{LA_sys_hide}"});

  var exchange_mm_default = parseFloat("{PLAYER_CURRENCY_PRICE_PER_MM}");

  var mm_discounts = Array();
  <!-- BEGIN discount -->
  mm_discounts.push({sum: Math.intVal('{discount.SUM}'), discount: Math.floatVal('{discount.DISCOUNT_ONE}')});
  <!-- END discount -->
</script>

<!-- IF ! $TABLE_WIDTH -->
<!-- DEFINE $TABLE_WIDTH = '90%' -->
<h1>{PAGE_HEADER}</h1>
<!-- ENDIF -->

<table id="payment_metamatter_info" class="border_image_small">
  <tr class="c_c">
    <th>
      <div class="contFJ">
        <div class="payment_mm_describe">{L_sys_dark_matter_what_why_how}</div>
        <button class="js_show_dm_info">
          <span class="link_action">{L_sys_show}</span>
        </button>
      </div>
    </th>
  </tr>
  <tr class="c_j" id="dark_matter_what_it_is" style="display: none;">
    <td>
      <div style="display: table-row; position: relative; margin: 7px;">
        <img src="design/images/DMaterie.jpg" align="top" border="0" height="120" width="120" class="fl" style="margin-right: 7px;">
        {DARK_MATTER_DESCRIPTION}
        <!-- IF PAYMENT_AVAILABLE -->
        <div class="ok">{L_sys_dark_matter_obtain_text_convert}</div>
        <!-- ENDIF -->
      </div>
      <div>
      {L_sys_dark_matter_description_text}
      </div>
      <div>
      {L_sys_dark_matter_obtain_text}
      </div>
    </td>
  </tr>
  <tr class="c_j" id="metamatter_what_description" style="display: none;">
    <td>
      <div style="display: table-row; position: relative; margin: 7px;">
        <img src="design/images/metamatter.png" align="top" border="0" height="120" width="120" class="fl" style="margin-right: 7px;">
        {L_sys_metamatter_what_description}
      </div>
      <div style="display: table-row; position: relative; margin: 7px;">
        {L_sys_metamatter_what_purchase}
      </div><br />
    </td>
  </tr>
</table>

<table id="payment_metamatter">
  <!-- IF FALSE && (.exchange || .discount) -->
  <tr class="c_j">
    <th style="display: flex;align-items: center; justify-content: space-between;">
      <span>{L_pay_mm_bonus_header}</span>
      <div class="c_r" onclick="sn_show_hide2(this, '#exchange_and_bonuses');">
        <span class="link_action">[&nbsp;{L_sys_show}&nbsp;]</span>
      </div>
    </th>
  </tr>

  <tr class="c_j" id="exchange_and_bonuses" style="display: none;">
    <td>
      <!-- IF .exchange -->
      <table class="markup" width="100%">
        <tr>
          <td>{L_pay_currency_exchange_title}</td>
        </tr>
        <tr id="currency_exchange">
          <td colspan="2" class="c_j">
            <table width="100%">
              <tr class="c_c">
                <th rowspan="2">{L_pay_currency_name}</th>
                <th colspan="2">{L_pay_currency_exchange_rate}</th>
                <th rowspan="2">{L_pay_currency_exchange_mm}</th>
              </tr>
              <tr class="c_c">
                <th>{L_pay_currency_exchange_direct}</th>
                <th>{L_pay_currency_exchange_reverse}</th>
              </tr>
              <!-- BEGIN exchange -->
              <tr>
                <td>{exchange.TEXT} ({exchange.SYMBOL})</td>
                <td class="c_r">{exchange.COURSE_DIRECT}</td>
                <td class="c_r">{exchange.COURSE_REVERSE}</td>
                <td class="c_r">{exchange.MM_PER_CURRENCY} / 1 {exchange.SYMBOL}</td>
              </tr>
              <!-- END exchange -->
            </table>
            <div class="note">{L_pay_currency_exchange_note}</div>
          </td>
        </tr>
      </table>
      <br />
      <!-- ENDIF -->

      <!-- IF .discount -->
      <table class="markup" width="100%">
        <tr>
          <td>{L_pay_mm_bonus}</td>
        </tr>
      </table>
      <!--<ul id="bonuses" style="display: none;">-->
      <ul id="bonuses">
        <!-- BEGIN discount -->
        <li>{discount.TEXT}</li>
        <!-- END discount -->
      </ul>
      <br />
      <!-- ENDIF -->
    </td>
  </tr>
  <!-- ENDIF -->

  <tr class="c_j">
    <th>
      <span style="font-size: 1.8em">{L_pay_mm_buy}</span>
    </th>
  </tr>
  <tr class="c_j">
    <td>
      <!-- IF PAYMENT_AVAILABLE -->

      <!-- IF ! PAY_LINK_URL -->
        <!-- DEFINE $PAY_ACTION = '{D_SN_ROOT_VIRTUAL}metamatter.php' -->
        <!-- DEFINE $PAY_METHOD = 'POST' -->
      <!-- ELSEIF PAY_LINK_METHOD == 'GET' || PAY_LINK_METHOD == 'POST' -->
        <!-- DEFINE $PAY_ACTION = '{PAY_LINK_URL}' -->
        <!-- DEFINE $PAY_METHOD = '{PAY_LINK_METHOD}' -->
      <!-- ELSEIF PAY_LINK_METHOD == 'LINK' -->
        <!-- DEFINE $PAY_ACTION = '' -->
        <!-- DEFINE $PAY_METHOD = '' -->
      <!-- ENDIF -->
      <form action="{$PAY_ACTION}" method="{$PAY_METHOD}" id="payment_form">



        <!-- IF ! UNIT_AMOUNT -->
          {L_pay_mm_buy_text_cost} {PAYMENT_CURRENCY_EXCHANGE_DEFAULT} <span class="metamatter">{L_sys_metamatter_sh}</span>
          <label for="player_currency">{L_pay_mm_buy_text_unit}</label>
          <select name="player_currency" id="player_currency" class="notice">
            <!-- BEGIN exchange -->
            <!-- IF PLAYER_CURRENCY == exchange.SYMBOL -->
            <!-- DEFINE $SELECTED = 'selected' -->
            <!-- ELSE -->
            <!-- DEFINE $SELECTED = '' -->
            <!-- ENDIF -->
            <option value="{exchange.SYMBOL}" {$SELECTED}>{exchange.LOT_PRICE} {exchange.SYMBOL} ({exchange.TEXT})</option>
            <!-- END exchange -->
          </select>

          {L_pay_mm_buy_metamatter_amount}
          <div class="payment_method_block">
            <!-- BEGIN mm_amount -->
            <div class="payment_block_item js_payment_mm_amount" value="{mm_amount.VALUE}">
              <!-- IF mm_amount.DISCOUNT -->
                <del class="negative">{mm_amount.TEXT}</del><br />
                <span class="positive">{mm_amount.TEXT_DISCOUNTED} {L_pay_mm_bonus_text} {mm_amount.DISCOUNT_PERCENT}%</span>
              <!-- ELSE -->
                <span class="positive">{mm_amount.TEXT}</span>
              <!-- ENDIF -->
              <br />
              {L_pay_mm_buy_unit}
              <br />
              <span class="zero">{mm_amount.PRICE_TEXT} {mm_amount.CURRENCY}</span>
            </div>
            <!-- END mm_amount -->
          </div>
          <br />

          <label for="metamatter">{L_pay_mm_buy_metamatter_amount_enter}</label> <input type="text" name="metamatter" id="metamatter" value="0" style="width: 100px;" maxlength="8" /><br />
          {L_pay_mm_buy_price_for} <del class="negative"><span class="hide" id="metamatter_undiscounted">0</span></del>
          <span class="positive" ><span id="metamatter_total">0</span><span class="hide" id="metamatter_bonus_percent"> ({L_pay_mm_bonus_text} <span>0</span>%)</span></span> {L_pay_mm_buy_unit}
          <span class="neutral"><span id="metamatter_price">0,00</span> {PLAYER_CURRENCY}</span>
          <br />
          <br />
        <!-- ELSE -->
          <input type="hidden" name="metamatter" id="payment_amount" value="{UNIT_AMOUNT}" />
          {L_pay_mm_buy_purchase}
          <!-- IF UNIT_AMOUNT_BONUS_PERCENT -->
          <span class="negative"><del>{UNIT_AMOUNT_TEXT}</del></span>
          <span class="positive">{UNIT_AMOUNT_TEXT_DISCOUNTED} ({L_pay_mm_bonus_text} {UNIT_AMOUNT_BONUS_PERCENT}%)</span>
          <!-- ELSE -->
          <span class="positive">{UNIT_AMOUNT_TEXT_DISCOUNTED}</span>
          <!-- ENDIF -->
          {L_pay_mm_buy_unit}
          <br />
          {L_pay_mm_buy_cost_base} <span class="zero">{UNIT_AMOUNT_TEXT_COST_BASE} {PLAYER_CURRENCY}</span>
          <br />
          <br />

          <input type="hidden" name="payment_method" id="payment_method" value="{PAYMENT_METHOD}" />
          <!-- IF ! PAYMENT_METHOD -->
            {L_pay_mm_buy_payment_method_select}

            <!-- DEFINE $MAX_PAYMENTS_IN_ROW = 5 -->
            <!-- BEGIN payment -->
            <div class="payment_type_block">
              <div class="payment_type_name">{payment.NAME}</div>

              <div value="{payment.ID}" class="payment_method_block">
                <!-- BEGIN method -->

                  <!-- IF method.IMAGE && ! method.BUTTON-->
                  <!-- DEFINE $METHOD_CLASS = 'payment_mm_method_nobutton' -->
                  <!-- ELSE -->
                  <!-- DEFINE $METHOD_CLASS = '' -->
                  <!-- ENDIF -->

                  <!-- IF method.S_ROW_COUNT >= $MAX_PAYMENTS_IN_ROW -->
                  <!-- DEFINE $METHOD_HIDE = 'js_hidden_payments_{payment.ID} ptl_payment_method_hide' -->
                  <!-- ELSE -->
                  <!-- DEFINE $METHOD_HIDE = '' -->
                  <!-- ENDIF -->

                  <div class="payment_block_item js_payment_mm_method {$METHOD_CLASS} {$METHOD_HIDE}" value="{method.ID}" flex="1">
                    <!-- IF method.IMAGE -->
                    <img src="{method.IMAGE}"  alt="{method.NAME}" />
                    <!-- ENDIF -->
                    <!-- IF ! method.IMAGE || method.NAME_FORCE -->
                    <div>{method.NAME}</div>
                    <!-- ENDIF -->
                  </div>
                <!-- END method -->
              </div>

              <!-- IF method.S_ROW_COUNT > $MAX_PAYMENTS_IN_ROW -->
              <div>
                <button class="js_show_hidden_methods" method_id="{payment.ID}">
                  <span class="link_action">{L_pay_mm_buy_payment_method_more}</span>
                </button>
              </div>
              <!-- ENDIF -->

            </div>
            <!-- END payment -->

          <!-- ELSE -->
            {L_pay_mm_buy_payment_method_selected} <span class="positive">{PAYMENT_METHOD_NAME}</span><br /><br />

            <input type="hidden" name="payment_module" id="payment_module" value="{PAYMENT_MODULE}">
            <!-- IF ! PAYMENT_MODULE -->
              {L_pay_mm_buy_select}
              <div class="payment_method_block" value="{payment.ID}">
                <!-- BEGIN payment_module -->
                <div class="payment_block_item js_payment_mm_module" value="{payment_module.ID}">
                  {payment_module.NAME}
                  <!-- IF payment_module.COST -->
                  <br />
                  <span class="notice">~{payment_module.COST|num|money} {payment_module.CURRENCY}</span>
                  <!-- ENDIF -->
                </div>
              <!-- END payment_module -->
              </div>
              <div style="clear:both;"></div>
              <span class="neutral">{L_pay_mm_buy_method_detail}</span>
            <!-- ELSE -->
              {L_pay_mm_buy_payment_selected} <span class="ok">"{PAYMENT_MODULE_NAME}"</span><br /><br />

              <!-- BEGIN pay_link_data -->
                <input type="hidden" name="{pay_link_data.FIELD}" value="{pay_link_data.VALUE}">
              <!-- END pay_link_data -->

              <!-- BEGIN render -->
                <!-- IF render.TYPE == 'select' -->
                <label>
                  <select name="{render.NAME}">
                    <!-- BEGIN value -->
                      <option value="{render.value.FIELD}">{render.value.VALUE}</option>
                    <!-- END value -->
                  </select>
                </label>
              <!-- ELSE -->
                  {render.VALUE}
                <!-- ENDIF -->
              <!-- END render -->

              <!-- IF PAY_LINK_URL -->
                {METAMATTER_COST_TEXT}
                <!-- IF UNIT_AMOUNT_BONUS_PERCENT -->
                <br />{METAMATTER_COST_BONUS_TEXT}
                <!-- ENDIF -->
                {C_adv_conversion_code_payment}<br />
                <br />
                <span class="notice">{L_pay_mm_buy_step2_text}</span>
              <!-- ENDIF -->

              <!-- IF METAMATTER_COST_ON_PAYMENT -->
              <br /><br/>{METAMATTER_COST_ON_PAYMENT}
              <!-- ENDIF -->
            <!-- ENDIF -->
          <!-- ENDIF -->
        <!-- ENDIF -->
        <br />
        <br />
        <!-- IF ! PAY_LINK_URL -->
          <input class="fl" type="submit" value="{L_pay_mm_buy_confirm}">
        <!-- ELSEIF PAY_LINK_METHOD == 'GET' || PAY_LINK_METHOD == 'POST' -->
          <button class="fl" type="submit">{L_pay_mm_buy_pay}</button>
        <!-- ELSEIF PAY_LINK_METHOD == 'LINK' -->
          <script type="text/javascript">
            function make_payment_popup() {
              this.open = function(ob) {
                $(ob).hide();
                $('<span id="psload" class="fl">{LA_pay_mm_buy_in_progress}</span>').insertAfter(ob);
                var win = window.open('{PAY_LINK_URL}', 'PayStation', 'width=850px, height=550px, scrollbars=yes, status=no');
                setTimeout(function () {
                  if(win.closed) {
                    $('#psload').remove();
                    $(ob).show();
                  } else {
                    setTimeout(arguments.callee,500);
                  }
                }, 500);
              }
            }
            payment_popup = new make_payment_popup;
          </script>

          <button class="fl" type="button" onclick="payment_popup.open(this);return false;">{L_pay_mm_buy_pay}</button>
        <!-- ENDIF -->
      </form>

      <form action="{D_SN_ROOT_VIRTUAL}metamatter.php" method="POST">
        <input class="fr" type="submit" value="{L_pay_mm_buy_reset}" onclick="jQuery('#payment_amount').val('');jQuery('#payment_module').val('');">
      </form>

      <!-- ELSEIF URL_PURCHASE -->
        {L_pay_mm_buy_url_description} <a href="{URL_PURCHASE}"><span class="link">{L_pay_mm_buy_url_get}</span></a>
      <!-- ELSE -->
        {L_pay_mm_buy_url_none}
      <!-- ENDIF -->
    </td>
  </tr>
</table>
