<table class="no_border_image spy_table" cellspacing="1">
  <tr class="c_c">
    <th colspan="2">
      {L_sys_mess_spy_report} -
      <a class="link" href="galaxy.php?mode=3&galaxy={TARGET_PLANET_GALAXY}&system={TARGET_PLANET_SYSTEM}&planet={TARGET_PLANET_PLANET}">
        [{TARGET_PLANET_GALAXY}:{TARGET_PLANET_SYSTEM}:{TARGET_PLANET_PLANET}] {TARGET_PLANET_TYPE_TEXT_SH}
        {TARGET_PLANET_NAME}
      </a>
    </th>
  </tr>

  <tr class="c_l">
    <td>
      {Время сканирования}
    </td>
    <td class="c_r">
      {REPORT_TIME}
    </td>
  </tr>


  <tr class="c_l">
    <td>
      {Владелец}
    </td>
    <td class="c_r">
      <a class="link" href="index.php?page=imperator&int_user_id={TARGET_PLAYER_ID}">
        <img src="{I_menu_empire_emperor}" border="0" alt="{L_stat_details}" title="{L_stat_details}"/>
        <!-- IF TARGET_PLAYER_ALLY_TAG -->[{TARGET_PLAYER_ALLY_TAG}] <!-- ENDIF -->{TARGET_PLAYER_NAME}
      </a>
    </td>
  </tr>

  <tr>
    <th class="c_c" colspan="2">
      <!-- IF SPIES_DESTROYED -->
      {L_sys_mess_spy_destroyed}
      <!-- ELSE -->
      {L_sys_mess_spy_detect_chance_no_percent} {SPIES_DETECTION_CHANCE}%
      <!-- ENDIF -->
    </th>
  </tr>

  <tr class="с_с">
    <th class="c_c">
      <a class="link notice" href="simulator.php?replay={SIMULATOR_DATA}">{L_COE_combatSimulator}</a><br/>
    </th>
    <th class="c_c">
      <a class="link error" href="fleet.php?target_mission=1&planet_type={TARGET_PLANET_TYPE}&galaxy={TARGET_PLANET_GALAXY}&system={TARGET_PLANET_SYSTEM}&planet={TARGET_PLANET_PLANET}">{L_type_mission[1]}</a><br/>
    </th>
  </tr>

  <!-- BEGIN group -->
  <tr>
    <th colspan="2" class="c_l bg_subheader">
      {group.NAME}
    </th>
  </tr>
  <!-- BEGIN unit -->
  <tr class="c_l">
    <td>
      {unit.NAME}
    </td>
    <td class="c_r">
      {unit.AMOUNT}
    </td>
  </tr>
  <!-- END unit -->
  <!-- END group -->

</table>
