<script type="text/javascript">
  function f(target_url, win_name) 
  {
    var new_win = window.open(target_url,win_name,'resizable=yes,scrollbars=yes,menubar=no,toolbar=no,width=550,height=280,top=0,left=0');
    new_win.focus();
  }

  $(document).on('click', '.js_message_delete', function () {
    $(".js_message_range").val("checked");
  });

  $(document).on('change', '.js_message_checkbox_all', function () {
    $('.msg_checkbox').attr('checked', $(this).is(':checked'));
    $(".js_message_delete").button($(this).is(':checked') ? "enable" : "disable");
  });

  $(document).on('change', '.msg_checkbox', function () {
    var someOneChecked = false, allIsChecked = true;
    var js_message_checkbox_all = $('.js_message_checkbox_all');
    $('.msg_checkbox').each(function () {
      someOneChecked = someOneChecked || $(this).is(':checked');
      allIsChecked = allIsChecked && $(this).is(':checked');
    });
    $(".js_message_delete").button(someOneChecked ? "enable" : "disable");

    if(js_message_checkbox_all.attr('checked') && !someOneChecked) {
      js_message_checkbox_all.attr('checked', false);
    }

    if(!js_message_checkbox_all.attr('checked') && allIsChecked) {
      js_message_checkbox_all.attr('checked', true);
    }
  });
</script>

<h2>{L_msg_page_header}</h2>
<h3>{MESSAGE_CLASS_TEXT}</h3>
<form action="messages.php" method="post">
  <input type="hidden" name="mode" value="show" />
  <input type="hidden" name="message_class" value="{MESSAGE_CLASS}" />
  <input type="hidden" name="message_range" value="" class="js_message_range" />

  <table width="519">
    <!-- IF MESSAGE_CLASS != -1 -->
    <!-- INCLUDE msg_message_list_paging -->
    <!-- ENDIF -->

    <!-- IF .messages && PAGER_MESSAGES -->
    <tr class="c_c">
      <td colspan="4" class="subheader">
        {PAGER_MESSAGES}
      </td>
    </tr>
    <!-- ENDIF -->

    <tr>
      <!-- IF MESSAGE_CLASS != -1 -->
      <th class="c_c" width="20">
        <input type="checkbox" class="js_message_checkbox_all" />
      </th>
      <!-- ENDIF -->
      <th class="c_c" width="120">{L_msg_date}</th>
      <th class="c_c">
        <!-- IF MESSAGE_CLASS == -1 -->
          {L_msg_recipient}
        <!-- ELSE -->
          {L_msg_from}
        <!-- ENDIF -->
      </th>
      <th class="c_c">{L_msg_subject}</th>
    </tr>
  <!-- BEGIN messages -->
    <tr class="c_c">
      <!-- IF MESSAGE_CLASS != -1 -->
        <td class="subheader">
          <input name="mark[{messages.ID}]" value="{messages.ID}" type="checkbox" class="msg_checkbox" />
        </td>
      <!-- ENDIF -->    	
      <td class="subheader">{messages.DATE}</td>
      <td class="subheader">
        <!-- IF messages.FROM_ID -->
          <a href="messages.php?mode=write&id={messages.FROM_ID}&subject={L_msg_answer_prefix}{messages.SUBJ_SANITIZED}">
            <img src="design/images/icon_mail.gif" alt="{L_msg_answer}" border="0">
          </a>
        <!-- ENDIF -->
        {messages.FROM}
      </td>
      <td class="subheader">
        {messages.SUBJ}
      </td>
    </tr>
    <tr id='mess{messages.ID}'>
      <!-- IF MESSAGE_CLASS != -1 -->
      <td class="{messages.STYLE}" class="b">
        &nbsp;
      </td>
      <!-- ENDIF -->    	
      <td class="{messages.STYLE} c_l" class="b" colspan="3">
        {messages.TEXT}
      </td>
    </tr>
  <!-- BEGINELSE messages -->
    <tr>
      <td class="c_c notice" class="b" colspan="4">
        {L_msg_warn_no_messages}
      </td>
    </tr>
  <!-- END messages -->

    <!-- IF .messages && PAGER_MESSAGES -->
    <tr class="c_c">
      <td colspan="4" class="subheader">
        {PAGER_MESSAGES}
      </td>
    </tr>
    <!-- ENDIF -->

    <!-- IF MESSAGE_CLASS != -1 -->
    <!-- INCLUDE msg_message_list_paging -->
    <!-- ENDIF -->
  </table>
</form>
