<!-- navbar_resources BOF -->

<!-- IF $IN_NAVBAR && PLAYER_OPTION_NAVBAR_PLANET_VERTICAL -->
  <!-- INCLUDE navbar_resources_vertical -->
<!-- ELSE -->
  <!-- INCLUDE navbar_resources_horizontal -->
<!-- ENDIF -->


<script type="text/javascript">
  sn_timers.unshift({id: 'top_metal', type: TIMER_COUNTER, options: {
    start_value: {PLANET_METAL},
    per_second: {PLANET_METAL_PERHOUR} / 3600,
    max_value: {PLANET_METAL_MAX},
    round: {RESOURCE_ROUNDING}
  }});
  sn_timers.unshift({id: 'top_crystal', type: TIMER_COUNTER, options: {
    start_value: {PLANET_CRYSTAL},
    per_second: {PLANET_CRYSTAL_PERHOUR} / 3600,
    max_value: {PLANET_CRYSTAL_MAX},
    round: {RESOURCE_ROUNDING}}
  });
  sn_timers.unshift({id: 'top_deuterium', type: TIMER_COUNTER, options: {
    start_value: {PLANET_DEUTERIUM},
    per_second: {PLANET_DEUTERIUM_PERHOUR} / 3600,
    max_value: {PLANET_DEUTERIUM_MAX},
    round: {RESOURCE_ROUNDING}
  }});
</script>

<!-- navbar_resources EOF -->
