<div id="navbar_resource_flex_tooltip_pattern">
  <table class="no_border_image">
    <tr class="c_c no_select">
      <th colspan="2">&#123;0&#125;</th>
    </tr>
    <tr>
      <td>{L_tech_storage}</td>
      <td class="c_r">&#123;1&#125;</td>
    </tr>
    <tr>
      <td>{L_tech_storage_max}</td>
      <td class="c_r">&#123;2&#125;</td>
    </tr>
    <tr>
      <td>{L_tech_fullness}</td>
      <td class="c_r">&#123;3&#125;%</td>
    </tr>
  </table>
</div>

<div id="navbar_resources_flex" class="navbar_resources_flex header no_select" unselectable="on">
  <div class="navbar_resources_flex_title">
    <!-- IF $NAVBAR_RESOURCES_ALLY -->
    {L_sys_alliance}
    <!-- ELSE -->
    {L_sys_resources}
    <!-- ENDIF -->
  </div>

  <div class="flexible_wrapper wrap">
    <div class="flexible_wrapper">
      <div class="cell navbar_resources_flex_resource flexible_wrapper" data-resource="metal">
        <div class="navbar_resource_image"><img class="image_close" src="design/images/icon_metal.png" /></div>

        <div>
          <div id="top_metal">
            {PLANET_METAL_TEXT}
          </div>
          <!-- IF ! $NAVBAR_RESOURCES_HIDE_STORAGE -->
          <div>{PLANET_METAL_MAX_TEXT}</div>
          <!-- ENDIF -->
        </div>
        <!-- IF ! $NAVBAR_RESOURCES_HIDE_FLEETS -->
        <div>{PLANET_METAL_FLEET_TEXT}</div>
        <!-- ENDIF -->
      </div>

      <div class="cell navbar_resources_flex_resource flexible_wrapper" data-resource="crystal">
        <div class="navbar_resource_image"><img class="image_close" src="design/images/icon_crystal.png"/></div>

        <div>
          <div id='top_crystal'>
            {PLANET_CRYSTAL_TEXT}
          </div>
          <!-- IF ! $NAVBAR_RESOURCES_HIDE_STORAGE -->
          <div>{PLANET_CRYSTAL_MAX_TEXT}</div>
          <!-- ENDIF -->
        </div>
        <!-- IF ! $NAVBAR_RESOURCES_HIDE_FLEETS -->
        <div>{PLANET_CRYSTAL_FLEET_TEXT}</div>
        <!-- ENDIF -->
      </div>
    </div>

    <div class="flexible_wrapper">
      <div class="cell navbar_resources_flex_resource flexible_wrapper" data-resource="deuterium">
        <div class="navbar_resource_image"><img class="image_close" src="design/images/icon_deuterium.png" /></div>

        <div>
          <div id='top_deuterium'>{PLANET_DEUTERIUM_TEXT}</div>
          <!-- IF ! $NAVBAR_RESOURCES_HIDE_STORAGE -->
          <div>{PLANET_DEUTERIUM_MAX_TEXT}</div>
          <!-- ENDIF -->
        </div>
        <!-- IF ! $NAVBAR_RESOURCES_HIDE_FLEETS -->
        <div>{PLANET_DEUTERIUM_FLEET_TEXT}</div>
        <!-- ENDIF -->
      </div>

      <!-- IF $NAVBAR_RESOURCES_ALLY -->
      <div class="cell navbar_resources_flex_resource flexible_wrapper">
        <div class="navbar_resource_image"><img class="image_close" src="design/images/icon_dark_matter.png" /></div>

        <div>
          <div id='top_dark_matter'>{DARK_MATTER_TEXT}</div>
        </div>
      </div>
      <!-- ELSE -->
      <div class="cell navbar_resources_flex_resource flexible_wrapper" data-resource="energy">
        <div class="navbar_resource_image"><img class="image_close" src="design/images/icon_energy.png" /></div>

        <div>
          <div>{ENERGY_BALANCE}</div>
          <!-- IF ! $NAVBAR_RESOURCES_HIDE_STORAGE -->
          <div>{ENERGY_MAX_NUMBER_TEXT}</div>
          <!-- ENDIF -->
        </div>
      </div>
      <!-- ENDIF -->
    </div>
  </div>

</div>
