<!-- NAVBAR START -->

<!-- DEFINE $NAVBAR_RESOURCES_RENDER = '{SN_RENDER_NAVBAR_PLANET}' -->
<!-- DEFINE $NAVBAR_RESOURCES_OLD = '{PLAYER_OPTION_NAVBAR_PLANET_OLD}' -->
<!-- DEFINE $NAVBAR_RESOURCES_VERTICAL = '{PLAYER_OPTION_NAVBAR_PLANET_VERTICAL}' -->
<!-- DEFINE $NAVBAR_RESOURCES_HIDE_FLEETS = '{SN_NAVBAR_HIDE_FLEETS}' -->
<!-- DEFINE $NAVBAR_RESOURCES_ALLY = '{SN_IN_ALLY}' -->
<!-- DEFINE $NAVBAR_RESOURCES_HIDE_STORAGE = '{PLAYER_OPTION_NAVBAR_PLANET_DISABLE_STORAGE}' -->

<!-- IF $NAVBAR_VERTICAL -->
  <!--DEFINE $NAVBAR_VERTICAL_CLASS = 'navbar_v' -->
  <!-- DEFINE $NAVBAR_RESOURCES_VERTICAL = 1 -->
  <!-- DEFINE $NAVBAR_RESOURCES_OLD = 0 -->
<!-- ENDIF -->

<!-- IF $NAVBAR_RESOURCES_VERTICAL -->
  <!-- DEFINE $NAVBAR_RESOURCES_CLASS = 'resbar_v' -->
<!-- ELSE -->
  <!-- DEFINE $NAVBAR_RESOURCES_CLASS = '' -->
<!-- ENDIF -->

<!-- IF TUTORIAL_ENABLED -->
  <!-- INCLUDE tutorial -->
<!-- ENDIF -->


<script type="text/javascript">
  PLAYER_OPTION_NAVBAR_PLANET_VERTICAL = Math.intVal('{PLAYER_OPTION_NAVBAR_PLANET_VERTICAL}');
</script>

<div id="navbar_resource_flex_tooltip_pattern">
  <table class="no_border_image">
    <tr class="c_c no_select">
      <th colspan="2">&#123;0&#125;</th>
    </tr>
    <tr>
      <td>{L_tech_storage}</td>
      <td class="c_r">&#123;1&#125;</td>
    </tr>
    <tr>
      <td>{L_tech_storage_max}</td>
      <td class="c_r">&#123;2&#125;</td>
    </tr>
    <tr>
      <td>{L_tech_fullness}</td>
      <td class="c_r">&#123;3&#125;%</td>
    </tr>
  </table>
</div>

<!-- DEFINE $IN_NAVBAR = 1 -->
<div id="navbar_container" class="{$NAVBAR_RESOURCES_CLASS} {$NAVBAR_VERTICAL_CLASS}">
  <div class="header c_c border_image_small {$NAVBAR_RESOURCES_CLASS} {$NAVBAR_VERTICAL_CLASS}" id="navbar">
    <div id="navbar_main">
      <!-- IF NAVBAR_PREFIX_BUTTONS -->
      <div class="contF a50 flexW cell">
        <!-- BEGIN navbar_prefix_button -->
        <div class="navbar-festival_button">
          <a class="w100 h100" href="{navbar_prefix_button.URL_RELATIVE}" >
            <img class="w100 h100" src="{navbar_prefix_button.IMAGE}" />
          </a>
        </div>
        <!-- END navbar_prefix_button -->
      </div>
      <!-- ENDIF -->

      <!-- IF GAME_BLITZ_REGISTER && ! GAME_BLITZ -->
      <div>
        <button onclick="sn_redirect('{D_SN_ROOT_VIRTUAL}blitz_register.php');" id="navbar-blitz-button">
          {L_sys_blitz_global_button}:
            <span class="<!-- IF BLITZ_REGISTER_OPEN -->positive<!-- ELSEIF BLITZ_REGISTER_CLOSED -->negative<!-- ELSEIF BLITZ_REGISTER_SHOW_LOGIN -->zero<!-- ELSEIF BLITZ_REGISTER_DISCLOSURE_NAMES --><!-- ENDIF -->">
              {GAME_BLITZ_REGISTER_TEXT} ({C_game_blitz_register_users})
            </span>
        </button>
      </div>
      <!-- ENDIF -->

      <div id="navbar_planet_and_time">
      <div class="contF flexW header" id="navbar_planet_wrapper">
        <select size="1" onchange="changePlanet(this);" id="navbar_planet_select" style="max-width: 20em">
          <!-- BEGIN topnav_planets -->
          <option {topnav_planets.SELECTED} value="{topnav_planets.ID}">{topnav_planets.COORDS}&nbsp;{topnav_planets.TYPE_TEXT}&nbsp;{topnav_planets.NAME}</option>
          <!-- END topnav_planets -->
        </select>

        <div id="navbar_player_count">{L_top_online}&nbsp;[{USERS_ONLINE}/{USERS_TOTAL}]</div>
      </div>

      <div class="contF flexW cell" id="navbar-container-time">
        <div class="navbar-container-time-item c_c">
          <div class="ok"><span id="navbar_time_local_title">{L_time_local}: </span><span id="top_time">{TIME_TEXT_LOCAL}</span></div>
          <div id="navbar_time_server"><span id="navbar_time_server_title">{L_time_server}: </span><span id="top_time_server">{TIME_TEXT}</span></div>
        </div>

        <div class="contF" id="navbar_font_wrapper">
          <button id="font_minus">Шрифт -</button>
          <button id="font_normal">Норма</button>
          <button id="font_plus">Шрифт +</button>
        </div>
      </div>
      </div>

      <div class="header" id="navbar-container-button">
        <!-- IF ! GAME_RESEARCH_DISABLED && ! PLAYER_OPTION_NAVBAR_DISABLE_RESEARCH -->
          <!-- DEFINE $QUE_ID = '{QUE_RESEARCH}' -->

          <!-- IF PLAYER_OPTION_NAVBAR_RESEARCH_WIDE -->
            <!-- DEFINE $NAVBAR_QUE_CLASS = 'wide' -->
            <!-- DEFINE $NAVBAR_QUE_NAME = '{L_sys_que_research}' -->
            <!-- DEFINE $NAVBAR_QUE_IMAGE = '{I_navbar_research_wide}' -->
          <!-- ELSE -->
            <!-- DEFINE $NAVBAR_QUE_CLASS = '' -->
            <!-- DEFINE $NAVBAR_QUE_NAME = '{L_sys_que_research_short}' -->
            <!-- DEFINE $NAVBAR_QUE_IMAGE = '{I_navbar_research}' -->
          <!-- ENDIF -->
          <!-- DEFINE $NAVBAR_QUE_HINT = '{L_Research}' -->
          <!-- DEFINE $NAVBAR_QUE_URL = 'buildings.php?mode={D_QUE_RESEARCH}' -->

          <!-- INCLUDE navbar_button_queued -->
        <!-- ENDIF -->

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_PLANET -->
          <!-- DEFINE $QUE_ID = '{QUE_STRUCTURES}' -->

          <!-- DEFINE $NAVBAR_QUE_CLASS = '' -->
          <!-- DEFINE $NAVBAR_QUE_NAME = '{L_sys_que_structures}' -->
          <!-- DEFINE $NAVBAR_QUE_IMAGE = '{I_[TOPNAV_CURRENT_PLANET_IMAGE]}' -->
          <!-- DEFINE $NAVBAR_QUE_HINT = '{TOPNAV_CURRENT_PLANET_NAME}' -->
          <!-- DEFINE $NAVBAR_QUE_URL = 'overview.php' -->

          <!-- INCLUDE navbar_button_queued -->
        <!-- ENDIF -->

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_HANGAR && ! GAME_HANGAR_DISABLED -->
          <!-- DEFINE $QUE_ID = '{SUBQUE_FLEET}' -->

          <!-- DEFINE $NAVBAR_QUE_CLASS = '' -->
          <!-- DEFINE $NAVBAR_QUE_NAME = '{L_sys_que_hangar}' -->
          <!-- DEFINE $NAVBAR_QUE_IMAGE = '{I_navbar_hangar}' -->
          <!-- DEFINE $NAVBAR_QUE_HINT = '{L_Shipyard}' -->
          <!-- DEFINE $NAVBAR_QUE_URL = 'buildings.php?mode={D_SUBQUE_FLEET}' -->

          <!-- INCLUDE navbar_button_queued -->
        <!-- ENDIF -->

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_EXPEDITIONS -->
        <div class="navbar_button">
          <a href="fleet.php">
            <img class="navbar_button_image" src="{I_navbar_expedition}" alt="{L_sys_expeditions}" title="{L_sys_expeditions}">
            <span id="topnav_expedition_counter_total" class="a50 posRB w100">
              <span id='topnav_expedition_counter'>{TOPNAV_EXPEDITIONS_FLYING}</span>/{TOPNAV_EXPEDITIONS_TOTAL}
            </span>
            <span class="posLT w100 a50">
              {L_navbar_button_expeditions_short}
            </span>
          </a>
        </div>
        <!-- ENDIF -->

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_FLYING_FLEETS -->
        <div class="navbar_button">
          <a href="flying_fleets.php">
            <img class="navbar_button_image" src="{I_navbar_fleet_own}" alt="{L_sys_fleets}" title="{L_sys_fleets}">
            <span id="topnav_fleet_counter_total" class="a50 posRB w100">
              <span id='topnav_fleet_counter'>{TOPNAV_FLEETS_FLYING}</span>/{TOPNAV_FLEETS_TOTAL}
            </span>

            <span class="posLT w100 a50">
              {L_navbar_button_fleets}
            </span>
          </a>
        </div>
        <!-- ENDIF -->

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_QUESTS && ! GAME_QUESTS_DISABLED -->
        <div class="navbar_button">
          <a href="quest.php">
            <img class="navbar_button_image" src="{I_navbar_quest}" alt="{L_qst_quests}" title="{L_qst_quests}">
            <span class="a50 posRB w100">
              {TOPNAV_QUEST_COMPLETE}/{C_quest_total}
            </span>
            <span class="posLT w100 a50">
              {L_navbar_button_quests}
            </span>
          </a>
        </div>
        <!-- ENDIF -->

        <div class="navbar_button">
          <a href="messages.php">
            <img class="navbar_button_image" src="{I_navbar_mail}" alt="{L_Message}" title="{L_Message}">
            <div class="posRB">
              <!-- IF TOPNAV_MESSAGES_ALL --><span class="blink" duration="2000">[&nbsp;{TOPNAV_MESSAGES_ALL}&nbsp;]</span><!-- ELSE -->0<!-- ENDIF -->
            </div>
          </a>
          <!-- IF TOPNAV_MESSAGES_PLAYER -->
          <a href="messages.php?mode=show&message_class={D_MSG_TYPE_PLAYER}">
            <span class="posLT"><span class="mnl_joueur">[&nbsp;{TOPNAV_MESSAGES_PLAYER}&nbsp;]</span></span>
          </a>
          <!-- ENDIF -->
          <!-- IF TOPNAV_MESSAGES_ADMIN -->
          <a href="messages.php?mode=show&message_class={D_MSG_TYPE_ADMIN}">
            <span class="posLB"><span class="msg_admin">[&nbsp;{TOPNAV_MESSAGES_ADMIN}&nbsp;]</span></span>
          </a>
          <!-- ENDIF -->
          <!-- IF TOPNAV_MESSAGES_ALLIANCE && ! TOPNAV_ALLY -->
          <a href="messages.php?mode=show&message_class={D_MSG_TYPE_ALLIANCE}">
            <span class="posRT"><span class="mnl_alliance">[&nbsp;{TOPNAV_MESSAGES_ALLIANCE}&nbsp;]</span></span>
          </a>
          <!-- ENDIF -->
        </div>

        <div class="navbar_button">
          <a href="dark_matter.php">
            <img class="navbar_button_image" src="{I_navbar_dark_matter}" alt="{L_sys_dark_matter}" title="{L_sys_dark_matter}">
            <!-- IF TOPNAV_METAMATTER -->
            <span id="navbar_button_dm_mm" class="a50 metamatter posRB">{TOPNAV_METAMATTER_TEXT}</span>
            <span id="navbar_button_dm_dm" class="a50 dark_matter posRB">{TOPNAV_DARK_MATTER_PLAIN_TEXT}</span>
            <span id="navbar_button_dm_plus" class="a50 ok posLB">+</span>
            <!-- DEFINE $NAVBAR_DEBIT_LINE_CLASS = 'navbar_button_dm_debit_line' -->
            <!-- ENDIF -->
            <span class="a50 ok posRB {$NAVBAR_DEBIT_LINE_CLASS}">{TOPNAV_DARK_MATTER_TEXT}</span>
            <span class="posLT w100 a50">
              {L_sys_dark_matter_sh}
            </span>
          </a>
        </div>

        <!-- IF ! PLAYER_OPTION_NAVBAR_DISABLE_META_MATTER && TOPNAV_PAYMENT -->
        <div class="navbar_button">
          <a href="metamatter.php">
            <img class="navbar_button_image" src="{I_navbar_metamatter}" alt="{L_sys_metamatte}" title="{L_sys_metamatter}">
            <span class="a50 posRB metamatter">{TOPNAV_METAMATTER_TEXT}</span>
            <span class="posLT w100 a50">
              {L_sys_metamatter_sh}
            </span>
          </a>
        </div>
        <!-- ENDIF -->
      </div>
    </div>

    <!-- IF $NAVBAR_RESOURCES_RENDER && ! $NAVBAR_RESOURCES_OLD -->
      <!-- INCLUDE navbar_resources -->
    <!-- ENDIF -->
  </div>

  <!-- IF $NAVBAR_RESOURCES_RENDER && $NAVBAR_RESOURCES_OLD-->
    <!-- INCLUDE navbar_resources -->
  <!-- ENDIF -->
</div>
<!-- DEFINE $IN_NAVBAR = 0 -->

<script type="text/javascript">
  NAVBAR_MODE = Math.intVal('{NAVBAR_MODE}');

  sn_timers.unshift({
    'id': 'top_time_server',
    'type': TIMER_CLOCK_REALTIME,
    'options': {
      'format': 3,
      'delta': -timeDiff
    }
  });

  sn_timers.unshift({
    'id': 'top_time',
    'type': TIMER_CLOCK_REALTIME,
    'options': {
      'format': 3,
      'delta': 0
    }
  });

  <!-- IF .flying_fleets -->
  sn_timers.unshift({
    'id': 'topnav_fleet_counter',
    'type': TIMER_EVENT_QUE,
    'options': {
      'msg_done': '0',
      'changed': true,
      'que': [<!-- BEGIN flying_fleets -->
        [parseInt('{flying_fleets.TIME}'), '{flying_fleets.TEXT}', '{flying_fleets.HINT}'],
      <!-- END flying_fleets -->]
    }
  });
  <!-- ENDIF -->

  <!-- IF .flying_expeditions -->
  sn_timers.unshift({
    'id': 'topnav_expedition_counter',
    'type': TIMER_EVENT_QUE,
    'options': {
      'msg_done': '0',
      'changed': true,
      'que': [<!-- BEGIN flying_expeditions -->
        [parseInt('{flying_expeditions.TIME}'), '{flying_expeditions.TEXT}', '{flying_expeditions.HINT}'],
      <!-- END flying_expeditions -->]
    }
  });
  <!-- ENDIF -->
</script>
