<script type="text/javascript" src="{D_SN_ROOT_VIRTUAL}js/sn_survey.js?{C_var_db_update}"></script>
<script type="text/javascript">
  var LA_survey_result_sent = '{LA_survey_result_sent}';
</script>

<!-- IF MM_MODULE_ACTIVE && AUTHLEVEL >= 3 -->
<!-- DEFINE $SURVEY_ANSWER_COL_SPAN = '4' -->
<!-- ELSE -->
<!-- DEFINE $SURVEY_ANSWER_COL_SPAN = '2' -->
<!-- ENDIF -->

<!-- BEGIN announces -->
  <tr>
    <td>
      <div class="news_header contFJ">
        <div class="news_date">
          <!-- IF announces.FUTURE -->
          <span class="news_future">{L_news_future}</span>&nbsp;
          <!-- ELSEIF announces.NEW -->
          <span class="news_fresh">{L_news_new}</span>&nbsp;
          <!-- ENDIF -->
          <a class="link" href="announce.php?id={announces.ID}">{announces.TIME}</a>
        </div>

        <!-- IF announces.USER_NAME -->
        <div class="news_publisher">
          {announces.USER_NAME}
        </div>
        <!-- ENDIF -->
      </div>
      <div class="news_text">

        <!-- DEFINE $CLOSE_DIV = false -->
        <!-- BEGIN paragraph -->
        <!-- IF ! paragraph.S_FIRST_ROW --><br /><!-- ENDIF -->
          {paragraph.TEXT}
        <!-- IF paragraph.S_LAST_ROW --><!-- IF $CLOSE_DIV --></div><!-- ENDIF --><!-- ELSE --><br /><!-- ENDIF -->

        <!-- IF paragraph.S_FIRST_ROW && ! paragraph.S_LAST_ROW && ! $NEWS_FULL -->
          <!-- DEFINE $CLOSE_DIV = true -->
          <span news_toggle="{announces.ID}" class="button_pseudo">
            {L_news_show_rest}
          </span>
          <div id="news_{announces.ID}" class="news_hide">
        <!-- ENDIF -->

        <!-- END paragraph -->

        <!-- IF announces.DETAIL_URL -->
         <a class="news_link" href="{announces.DETAIL_URL}">{L_news_more}</a>
        <!-- ENDIF -->
      </div>
      <!-- IF announces.SURVEY_TEXT -->
      <div class="survey_block" survey_id="{announces.SURVEY_ID}">
        <table width="100%" class="c_l border_image_small">
          <tr>
            <th class="survey_header" colspan="{$SURVEY_ANSWER_COL_SPAN}">
              {L_survey}: {announces.SURVEY_TEXT}
            </th>
          </tr>
        <!-- IF announces.SURVEY_CAN_VOTE -->
          <!-- BEGIN survey_answers -->
          <tr>
            <td colspan="2" class="button_pseudo" survey_id="{announces.SURVEY_ID}" answer_id="{survey_answers.ID}">
              <input type="radio" name="survey[{announces.SURVEY_ID}]" id="sa_{survey_answers.ID}" value="{survey_answers.ID}" />
              {survey_answers.TEXT}
            </td>
          </tr>
          <!-- END survey_answers -->
          <tr>
            <th class="survey_confirm" colspan="2">
              {L_survey_select_one} <button name="survey_confirm" value="{announces.SURVEY_ID}">{L_survey_confirm}</button>
            </th>
          </tr>
        <!-- ELSE -->
          <!-- BEGIN survey_answers -->
          <tr>
            <td colspan="2">
              <div class="survey_votes">
                <div class="survey_votes_bar ok_bg" style="width: {survey_answers.PERCENT}%;"></div>
                <div class="survey_votes_text">
                  {survey_answers.TEXT}
                </div>

                <div class="survey_votes_percent">
                  {survey_answers.PERCENT_TEXT}%
                </div>
                <div class="survey_votes_number">
                  {survey_answers.VOTES}
                </div>
              </div>
            </td>
            <!-- IF MM_MODULE_ACTIVE && AUTHLEVEL >= 3 -->
            <td class="c_r">{survey_answers.MM|num|format}</td>
            <td class="c_r">{survey_answers.PERCENT_MM|num|format}%</td>
            <!--<td class="c_r">{survey_answers.MONEY|num|format}</td>-->
            <!--<td class="c_r">{survey_answers.PERCENT_MONEY|num|format}%</td>-->
            <!-- ENDIF -->
          </tr>
          <!-- END survey_answers -->
        <!-- ENDIF -->
          <!-- BEGIN total_votes -->
          <tr>
            <th class="survey_voted" colspan="{$SURVEY_ANSWER_COL_SPAN}">
              <span class="warning">
              <!-- IF total_votes.TOTAL_VOTES -->
                <!-- IF announces.SURVEY_CAN_VOTE -->
                  {L_survey_votes_total_voted} {total_votes.TOTAL_VOTES}. {L_survey_votes_total_voted_join}
                <!-- ELSE -->
                  {L_survey_votes_total_voted_has_answer} {total_votes.TOTAL_VOTES}
                <!-- ENDIF -->
              <!-- ELSE -->
                <!-- IF announces.SURVEY_CAN_VOTE -->
                {L_survey_votes_total_none}
                <!-- ENDIF -->
              <!-- ENDIF -->
              </span>
            </th>
          </tr>
          <!-- END total_votes -->
          <tr>
            <th class="c_c survey_length" colspan="{$SURVEY_ANSWER_COL_SPAN}">
              <!-- IF announces.SURVEY_COMPLETE -->
                <span class="warning">{L_survey_complete}</span>
              <!-- ELSE -->
                <span class="ok">{L_survey_lasts_until} {announces.SURVEY_UNTIL}</span>
              <!-- ENDIF -->
            </th>
          </tr>
        </table>
      </div>
      <!-- ENDIF -->
      <!-- IF AUTHLEVEL >= 3 -->
      <div class="c_r subheader">
        <a href="announce.php?mode=edit&id={announces.ID}" class="button_pseudo"><img src="design/images/icon_edit.png"></a>
        <a href="announce.php?mode=copy&id={announces.ID}" class="button_pseudo"><img src="design/images/icon_copy.gif"></a>
        <a href="announce.php?mode=del&id={announces.ID}" class="button_pseudo"><img src="design/images/r1.png"></a>
      </div>
      <!-- ENDIF -->
    </td>
  </tr>
<!-- BEGINELSE announces -->
  <tr><th class="c">{L_news_none}</th></tr>
<!-- END announces -->
