  <!-- BEGIN announces -->
    <tr>
      <td>
        <div class="news_header">
          <div class="news_date fl">{announces.TIME}</div>
          <!-- IF announces.USER_NAME -->
            <div class="news_publisher fr">
              {announces.USER_NAME}
            </div>
          <!-- ENDIF -->
          <br />
        </div>
        <div class="news_text">
          <!-- IF announces.FUTURE --><span class="news_future">{L_news_future}</span>&nbsp;<!-- ELSEIF announces.NEW --><span class="news_fresh">{L_news_new}</span>&nbsp;<!-- ENDIF -->
          {announces.ANNOUNCE}
          <!-- IF announces.DETAIL_URL -->
           <a class="news_link" href="{announces.DETAIL_URL}">{L_news_more}</a>
          <!-- ENDIF -->
        </div>
      </td>
      <!-- IF AUTHLEVEL >= 3 -->
        <td><a href="announce.php?mode=edit&id={announces.ID}"><img src="design/images/icon_edit.png"></a></td>
        <td><a href="announce.php?mode=copy&id={announces.ID}"><img src="design/images/icon_copy.gif"></a></td>
        <td><a href="announce.php?mode=del&id={announces.ID}"><img src="design/images/r1.png"></a></td>
      <!-- ENDIF -->
    </tr>
  <!-- BEGINELSE announces -->
    <tr><th class="c">{L_news_none}</th></tr>
  <!-- END announces -->
