<h1>{PAGE_HEADER}</h1>

<script type="text/javascript" src="js/sn_notes.js?{C_var_db_update}"></script>
<script type="text/javascript">
  var LA_note_new_title = '{LA_note_new_title}';
  var LA_note_new_text = '{LA_note_new_text}';
</script>

<form action="notes.php" name="note_form" id="note_form" method="POST">
<input type="hidden" name="note_id_edit" id="note_id_edit" value="{NOTE_ID_EDIT}" />
<input type="hidden" name="note_delete_range" id="note_delete_range" value="" />
<table id="note_main_table">
  <!-- IF .note > 0 -->
  <tr>
    <th class="c_c" colspan="5">
      {L_sys_delete}
      <select class="note_delete_range">
        <option value="">{L_note_range_select}</option>
        <option value="marked">{L_note_range_marked}</option>
        <option value="marked_not">{L_note_range_marked_not}</option>
        <option value="all">{L_note_range_all}</option>
      </select>
      <input type="submit" value="{L_note_delete}" name="note_delete" class="note_delete_button" disabled />
    </th>
  </tr>
  <!-- ENDIF -->
  <tr>
    <th class="c_c" width="20px"><input type="checkbox" name="note_select" id="note_select_all" onclick="note_select_do(undefined);"></th>
    <th class="c_l">{L_note_note}</th>
    <th class="c_c" width="20px">Action</th>
  </tr>
  <!-- INCLUDE note_list -->
  <!-- IF .note > 0 -->
  <tr>
    <th class="c_c" colspan="5">
      {L_sys_delete}
      <select class="note_delete_range" onchange="jQuery('#note_delete').prop('disabled', jQuery(this).val() ? '' : 'disabled');">
        <option value="">{L_note_range_select}</option>
        <option value="marked">{L_note_range_marked}</option>
        <option value="marked_not">{L_note_range_marked_not}</option>
        <option value="all">{L_note_range_all}</option>
      </select>
      <input type="submit" value="{L_note_delete}" name="note_delete" class="note_delete_button" disabled />
    </th>
  </tr>
  <!-- ENDIF -->
</table>
</form>
