<script type="text/javascript">
  $.extend(language, {
    sys_login_password_show: '{LA_sys_login_password_show}' + 1,
    sys_login_password_hide: '{LA_sys_login_password_hide}' + 2,
  });

  var C_player_vacation_time = '{C_player_vacation_time}';
  var C_player_delete_time = '{C_player_delete_time}';
  var JS_FMT_DATE = '{JS_FMT_DATE}';
</script>

<script type="text/javascript">
  $(document).on('change', '#username_confirm', function () {
    var userText = $("#js_username_new");
    if ($(this).is(":checked")) {
      userText.show();
    } else {
      userText.hide();
    }
  });

  $(document).on('focus', '#user_birthday', function () {
    if ($(this).val() == JS_FMT_DATE) {
      $(this).val('');
    }
  });
  $(document).on('blur', '#user_birthday', function () {
    if ($(this).val() == '') {
      $(this).val(JS_FMT_DATE);
    }
  });

  $(document).ready(function () {
    $(".tabs").tabs();
    $("#tab_container").show();

    // var index = $('.tabs a[href="#tab_ignores"]').parent().index();
    // $(".tabs").tabs("option", "active", index);
    // $(".tabs").tabs("option", "active", 3);
  });
</script>

<script type="text/javascript">
  $(document).on('click', '.js_unignore', function (e) {
    var element = $(this);

    var senderId = element.attr('sender_id');

    jQuery.get(
      SN_ROOT_VIRTUAL + "index.php?page=ajax&mode=AjaxIgnore&action=unIgnorePlayer&subjectId=" + senderId,
      function (data) {
        // Checking for correct JSON structure
        if (
          data.hasOwnProperty('player')
          && data.player.hasOwnProperty('ignores')
          && data.player.ignores.hasOwnProperty(senderId)
        ) {
          $("[sender_id=" + senderId + "]").parent().parent().hide();
        }
      },
      "json"
    );

    e.preventDefault();
    return false;
  });
</script>

<h1>{PAGE_HEADER}</h1>
<!-- IF CHANGE_PASS -->
  <!-- IF CHANGE_PASS == -1 -->
    <h3 class="positive">{L_opt_msg_pass_changed}</h3>
  <!-- ELSEIF CHANGE_PASS == 1  -->
    <h3 class="negative">{L_opt_err_pass_wrong}</h3>
  <!-- ELSEIF CHANGE_PASS == 2  -->
    <h3 class="negative">{L_opt_err_pass_unmatched}</h3>
  <!-- ENDIF -->
<!-- ENDIF -->

<form action="index.php?page=options&mode=change" method="post" name="fOptions" enctype="multipart/form-data" style="display: inline-block;">
  <input type="hidden" name="refresh" value="1" />

  <div id="tab_container" style="font-size: 1em; width: 50em; display: none;" class="tabs">
    <ul>
      <li><a href="#tab_account">{L_opt_account}</a></li>
      <li><a href="#tab_interface">{L_opt_int_options}</a></li>
      <li><a href="#tab_alerts">{L_opt_alerts}</a></li>
      <li><a href="#tab_ignores">{L_opt_ignores}</a></li>
    </ul>

    <div id="tab_account">
      <table width="100%" class="no_border_image">
        <!-- IF ADM_PROTECT_PLANETS -->
        <tr class="c_c">
          <th colspan="2">
            <!-- IF adm_pl_prot -->
            <!-- DEFINE $PLANET_PROTECTION = 'checked="checked"' -->
            <!-- ELSE -->
            <!-- DEFINE $PLANET_PROTECTION = '' -->
            <!-- ENDIF -->
            <input name="adm_pl_prot" type="checkbox" id="adm_pl_prot" {$PLANET_PROTECTION} />
            <label for="adm_pl_prot">{L_opt_adm_planet_prot}</label>
          </th>
        </tr>
        <!-- ENDIF -->

        <tr>
          <th class="c_c" colspan="2">{L_opt_common}</th>
        </tr>
        <!-- IF AUTH_PROVIDER -->
        <tr>
          <th>{L_opt_account_name}</th>
          <th width=330>
            {AUTH_PROVIDER}
            {ACCOUNT_NAME}
          </th>
        </tr>
        <!-- ENDIF -->
        <tr>
          <th>
            {L_opt_account_name}
          </th>
          <th width=330 class="ok">
            {ACCOUNT_NAME}
          </th>
        </tr>

        <tr>
          <th>
            {L_opt_game_user_name}
          </th>
          <th width=330>
            <!-- IF SERVER_NAME_CHANGE -->
              {L_username_old} <span class="ok">{opt_usern_data}</span><br />
              <div>
                <!-- IF ! SERVER_NAME_CHANGE_ENABLED -->
                <!-- DEFINE $DISABLE_USERNAME_CONFIRM = 'disabled' -->
                <!-- ELSE -->
                <!-- DEFINE $DISABLE_USERNAME_CONFIRM = '' -->
                <!-- ENDIF -->
                <input type="checkbox" name="username_confirm" id="username_confirm" value="1" {$DISABLE_USERNAME_CONFIRM} />
                <label for="username_confirm">{L_username_change_confirm}</label>
                <!-- IF SERVER_NAME_CHANGE_PAY -->
                  {L_username_change_confirm_payed} {DARK_MATTER} {L_sys_dark_matter_sh}
                <!-- ENDIF -->
              </div>
              <div id="js_username_new" style="display: none;">
                {L_username_new}
                <input type="text" name="username" value="{opt_usern_data}" maxlength="32" size="32" {$DISABLE_USERNAME_CONFIRM} />
              </div>
            <!-- ELSE -->
            <div>{opt_usern_data}</div>
            <div class="notice">{L_option_change_nick_disabled}</div>
            <!-- ENDIF -->
          </th>
        </tr>
        <tr>
          <th>{L_lastpassword}</th>
          <th>
            <input id="db_password" name="db_password" size="20" maxlength="32" value="" type="password" />
            <input class="password_show" type="button" value="{L_sys_login_password_show}" show_element="db_password" />
          </th>
        </tr>
        <tr>
          <th>{L_newpassword}</th>
          <th>
            <input id="newpass1" name="newpass1" size="20" maxlength="32" type="password" />
            <input class="password_show" type="button" value="{L_sys_login_password_show}" show_element="newpass1" />
          </th>
        </tr>
        <tr>
          <th>{L_newpasswordagain}</th>
          <th>
            <input id="newpass2" name="newpass2" size="20" maxlength="32" type="password">
            <input class="password_show" type="button" value="{L_sys_login_password_show}" show_element="newpass2" />
          </th>
        </tr>
        <tr title="{L_emaildir_tip}">
          <th>{L_emaildir}</th>
          <th>
            <input name="db_email" maxlength="64" size="20" value="{opt_mail1_data}" type="text"><br />
            {L_opt_mail_optional_description}
          </th>
        </tr>
        <tr>
          <th>{L_permanentemaildir}</th>
          <th>
            {opt_mail2_data}
          </th>
        </tr>
        <tr>
          <th><label for="user_birthday">{L_opt_birthday}</label></th>
          <th>
            <!-- IF user_birthday -->
            {user_birthday}
            <!-- ELSE -->
            <input type="text" name="user_birthday" id="user_birthday" size="10" maxlength="10" value="{FMT_DATE}" />
            <!-- ENDIF -->
          </th>
        </tr>

        <tr>
          <th>{L_sys_gender}</th>
          <th>
            <!-- IF GENDER -->
            {GENDER_TEXT}
            <!-- ELSE -->
            <select name="gender">
              <!-- BEGIN gender_list -->
              <option value="{gender_list.VALUE}"<!-- IF gender_list.SELECTED --> selected<!-- ENDIF -->>{gender_list.NAME}</option>
              <!-- END gender_list -->
            </select>
            <!-- ENDIF -->
          </th>
        </tr>

        <tr>
          <th class="c_c" colspan="2">{L_opt_avatar}</th>
        </tr>
        <tr>
          <th colspan="2">
            <label for="avatar">{L_opt_upload}</label>&nbsp;<input type="file" name="avatar" size="26" id="avatar" /><br />
            <div>
              <!-- IF opt_avatar -->
              <img src="{D_SN_ROOT_VIRTUAL}/images/avatar/avatar_{USER_ID}.png"><br />
              <input name="avatar_remove" type="checkbox" id="avatar_remove" /><label for="avatar_remove">{L_opt_avatar_remove}</label>
              <!-- ELSE -->
              <a href="http://www.google.com.ar/imghp" target="_blank">{L_opt_avatar_search}</a>
              <!-- ENDIF -->
            </div>
          </th>
        </tr>

        <tr>
          <td class="c" colspan="2">{L_delete_vacations}</td>
        </tr>
        <tr>
          <td class="c_l" colspan="2">
            <input name="opt_time_diff_clear" type="checkbox" id="opt_time_diff_clear" />
            <label for="opt_time_diff_clear">{L_opt_time_diff_clear}</label><br />

            <script type="text/javascript">
              jQuery(document).on('click change', '#PLAYER_OPTION_TIME_DIFF_FORCED', function (){
                $(this).is(":checked") ? jQuery('#opt_time_diff_clear').attr('disabled', 'disabled').removeAttr('checked') : jQuery('#opt_time_diff_clear').removeAttr('disabled');
              });
              $('#PLAYER_OPTION_TIME_DIFF_FORCED').change();
            </script>

            {L_opt_time_diff_explain}<br/>
            <input name="PLAYER_OPTION_TIME_DIFF_FORCED" type="checkbox" id="PLAYER_OPTION_TIME_DIFF_FORCED" value="1" <!-- IF user_time_diff_forced --> checked="checked" <!-- ENDIF --> />
            <label for="PLAYER_OPTION_TIME_DIFF_FORCED">{L_opt_time_diff_manual}</label>
            <input name="PLAYER_OPTION_TIME_DIFF" type="text" id="PLAYER_OPTION_TIME_DIFF" value="{D_SN_CLIENT_TIME_DIFF}" style="width: 60px;" /> <label for="PLAYER_OPTION_TIME_DIFF">{L_sys_sec}</label><br/>
          </td>
        </tr>
        <!-- IF ! USER_VACATION_DISABLE -->
        <tr title="{L_vacations_tip}">
          <th colspan=2>
            <!-- IF VACATION_NEXT > SN_TIME_NOW && ! USER_AUTHLEVEL-->
            {L_opt_vacation_err_timeout}<br />
            {L_opt_vacation_next} {VACATION_NEXT_TEXT}
            <!-- ELSE -->
            <span class="fl"><input id="vacation" name="vacation" type="checkbox" {opt_modev_data} /> <label for="vacation">{L_mode_vacations} {L_opt_vacation_min} <span id="vacancy_to"></span></label></span>
            <!-- ENDIF -->
          </th>
        </tr>
        <!-- ENDIF -->
      </table>
    </div>

    <div id="tab_interface" class="tabs">
      <ul id="tabs_interface-subtabs">
        <li><a href="#tab_interface-common">{L_opt_common}</a></li>
        <li><a href="#tab_interface-tutorial">{L_opt_tutorial}</a></li>
        <!-- IF MENU_CUSTOMIZE -->
        <li><a href="#tab_interface-menu">{L_menu_customize_customization}</a></li>
        <!-- ENDIF -->
        <li><a href="#tab_interface-navbar">{L_opt_navbar_title}</a></li>
        <li><a href="#tab_interface-universe">{L_opt_universe_title}</a></li>
        <li><a href="#tab_interface-fleet">{L_option_fleets}</a></li>
      </ul>

      <div id="tab_interface-common">
        <table class="no_border_image">
          <tr class="c_c">
            <th colspan="2">
              <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_COMMON_TWO}' -->
              <!-- INCLUDE options_block -->
            </th>
          </tr>

          <tr>
            <th class="c_c" colspan="2">{L_opt_common}</th>
          </tr>
          <tr>
            <th>{L_opt_language}</th>
            <th>
              <select name="langer">
                <!-- BEGIN languages -->
                <option value="{languages.VALUE}"<!-- IF languages.SELECTED --> selected<!-- ENDIF -->>[{languages.VALUE}] {languages.NAME}</option>
                <!-- END languages -->
              </select>
            </th>
          </tr>
          <tr>
            <th>{L_skins_example}</th>
            <th>
              <input name="design"{opt_sskin_data} style="display:none" type="checkbox" id="design" />
              <select name="skin_name" size="1">
                <!-- BEGIN skin_list -->
                <option value="{skin_list.VALUE}"<!-- IF skin_list.SELECTED --> selected<!-- ENDIF -->>{skin_list.NAME}</option>
                <!-- END skin_list -->
              </select>
            </th>
          </tr>

          <tr>
            <td class="c_l" colspan="2">
              <div class="contFJ">
                <label for="planet_sort_options">{L_opt_planet_sort_title}</label>
                <select name="options[{D_PLAYER_OPTION_PLANET_SORT}]" id="planet_sort_options">
                  <!-- BEGIN planet_sort_options -->
                  <option value="{planet_sort_options.VALUE}"<!-- IF planet_sort_options.SELECTED --> selected<!-- ENDIF -->>{planet_sort_options.NAME}</option>
                  <!-- END planet_sort_options -->
                </select>

                <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_PLANET_SORT}' -->
                <!-- INCLUDE options_block -->
              </div>
            </td>
          </tr>


          <!-- IF .options_3 -->
          <!-- BEGIN options_3 -->
          <!-- IF options_3.NAME != 'opt_int_navbar_resource_force' -->
          <tr>
            <!-- IF options_3.TYPE == 'integer' -->
            <td class="c_c"><label for="{options_3.NAME}">{options_3.TEXT}</label></td>
            <td class="c_c">
              <input type="text" id="{options_3.NAME}" name="{options_3.NAME}" value="{options_3.VALUE}" />
              <!-- IF options_3.HINT --><br />{options_3.HINT}<!-- ENDIF -->
            </td>
            <!-- ELSE -->
            <td class="c_l" colspan="2">
              <input type="checkbox" id="{options_3.NAME}" name="{options_3.NAME}" value="1" <!-- IF options_3.VALUE --> checked<!-- ENDIF --> />
              <label for="{options_3.NAME}">{options_3.TEXT}</label>
            </td>
            <!-- ENDIF -->
          </tr>
          <!-- ENDIF -->
          <!-- END options_3 -->
          <!-- ENDIF -->

          <tr>
            <td class="c_l" colspan="2">
              <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_COMMON_ONE}' -->
              <!-- INCLUDE options_block -->
            </td>
          </tr>

        </table>
      </div>

      <div id="tab_interface-tutorial">
        <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_TUTORIAL}' -->
        <!-- INCLUDE options_block -->
      </div>

      <!-- IF MENU_CUSTOMIZE -->
      <div id="tab_interface-menu">
        <!-- INCLUDE ../../../modules/menu_customize/design/templates/OpenGame/menu_customize_options -->
      </div>
      <!-- ENDIF -->

      <div id="tab_interface-navbar">
        <div>
          {L_opt_navbar_description}
        </div>
        <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_RESOURCEBAR}' -->
        <!-- INCLUDE options_block -->

        <!-- IF .options_3 -->
        <!-- BEGIN options_3 -->
        <!-- IF options_3.NAME == 'opt_int_navbar_resource_force' -->
        <div class="cell option_block_option">
          <input type="checkbox" id="{options_3.NAME}" name="{options_3.NAME}" value="1" <!-- IF options_3.VALUE --> checked<!-- ENDIF --> />
          <label for="{options_3.NAME}">{options_3.TEXT}</label>
        </div>
        <!-- ENDIF -->
        <!-- END options_3 -->
        <!-- ENDIF -->

        <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_NAVBAR}' -->
        <!-- INCLUDE options_block -->
      </div>

      <div id="tab_interface-universe">
        <table class="no_border_image">
          <tr><td colspan="2">
            <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_UNIVERSE}' -->
            <!-- INCLUDE options_block -->
          </td></tr>

          <!-- IF .options_2 -->
          <!-- BEGIN options_2 -->
          <tr>
            <td class="c_l" colspan="2">
              <input type="checkbox" id="{options_2.NAME}" name="{options_2.NAME}" value="1" <!-- IF options_2.VALUE --> checked<!-- ENDIF -->>
              <label for="{options_2.NAME}">{options_2.TEXT}</label>
            </td>
          </tr>
          <!-- END options_2 -->
          <!-- ENDIF -->

          <tr title="{L_spy_cant_tip}">
            <th>{L_spy_cant}</th>
            <th><input name="options[{D_PLAYER_OPTION_FLEET_SPY_DEFAULT}]" maxlength="2" size="2" value="{PLAYER_OPTION_FLEET_SPY_DEFAULT}" type="text"></th>
          </tr>
          <tr>
            <th>{L_tooltip_time}</th>
            <th><input name="options[{D_PLAYER_OPTION_TOOLTIP_DELAY}]" maxlength="4" size="4" value="{PLAYER_OPTION_TOOLTIP_DELAY}" type="text"> {L_sys_milliseconds} (0 - по умолчанию)</th>
          </tr>
          <tr>
            <th>{L_shortcut}</th>
            <td class="c_c" nowrap>
              <table class="markup">
                <tr class="c_l">
                  <td>
                    <input type="hidden" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_SPYING}]" value="0" />
                    <input type="checkbox" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_SPYING}]" value="1" id="settings_esp" <!-- IF user_settings_esp -->checked="checked" <!-- ENDIF -->/>&nbsp;<label for="settings_esp"><img height="14px" src="design/images/icon_espionage.png" alt="{L_spy}" />&nbsp;{L_spy}</label>
                  </td>
                  <td>
                    <input type="hidden" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_MISSILE}]" value="0" />
                    <input type="checkbox" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_MISSILE}]" value="1" id="settings_mis" <!-- IF user_settings_mis -->checked="checked" <!-- ENDIF -->/>&nbsp;<label for="settings_mis"><img height="14px" src="design/images/icon_missile.png" alt="{L_attack_with_missile}" />&nbsp;{L_attack_with_missile}</label>
                  </td>
                </tr>
                <tr class="c_l">
                  <td>
                    <input type="hidden" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_PM}]" value="0" />
                    <input type="checkbox" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_PM}]" value="1" id="settings_wri" <!-- IF user_settings_wri -->checked="checked" <!-- ENDIF -->/>&nbsp;<label for="settings_wri"><img height="14px" src="design/images/icon_mail.gif" alt="{L_write_a_messege}" />&nbsp;{L_write_a_messege}</label>
                  </td>
                  <td>
                    <input type="hidden" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_PROFILE}]" value="0" />
                    <input type="checkbox" name="options[{D_PLAYER_OPTION_UNIVERSE_ICON_PROFILE}]" value="1" id="settings_info" <!-- IF user_settings_info -->checked="checked" <!-- ENDIF -->/>&nbsp;<label for="settings_info"><img height="14px" src="{I_menu_empire_emperor}" alt="{L_opt_settings_info}" />&nbsp;{L_opt_settings_info}</label>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_interface-fleet">
        <!-- DEFINE $OPTION_BLOCK_CURRENT = '{GROUP_DESIGN_BLOCK_FLEET_COMPOSE}' -->
        <!-- INCLUDE options_block -->
      </div>
    </div>

    <div id="tab_alerts">
      <table class="no_border_image">
        <!-- IF .options_1 -->
        <tr>
          <th class="c_c" colspan="<!-- IF SERVER_SEND_EMAIL -->3<!-- ELSE -->2<!-- ENDIF -->">{L_opt_alerts}</th>
        </tr>
        <!-- BEGIN options_1 -->

        <!-- IF options_1.PM --><!-- DEFINE $PLAYER_OPTION_PM_CHECKED = 'checked="checked"' --><!-- ELSE --><!-- DEFINE $PLAYER_OPTION_PM_CHECKED = '' --><!-- ENDIF -->
        <!-- IF options_1.EMAIL --><!-- DEFINE $PLAYER_OPTION_EMAIL_CHECKED = 'checked="checked"' --><!-- ELSE --><!-- DEFINE $PLAYER_OPTION_EMAIL_CHECKED = '' --><!-- ENDIF -->
        <tr>
          <td class="c_c"><label for="{options_1.NAME}">{options_1.TEXT}</label></td>
          <td class="c_c">
            <!-- IF options_1.PM != -1 -->
            <input type="checkbox" id="opt_{options_1.NAME}" name="opt_{options_1.NAME}" value="1" id="{options_1.NAME}" {$PLAYER_OPTION_PM_CHECKED} />&nbsp;
            <label for="opt_{options_1.NAME}"><img src="design/images/icon_mail.gif" alt="{write_a_messege}" />&nbsp;{L_msg_personal_messages}</label>
            <!-- ENDIF -->&nbsp;
          </td>
          <!-- IF config_game_email_pm -->
          <td class="c_c">
            <!-- IF options_1.EMAIL != -1 -->
            <input type="checkbox" id="opt_email_{options_1.NAME}" name="opt_email_{options_1.NAME}" value="1" id="{options_1.NAME}" {$PLAYER_OPTION_EMAIL_CHECKED}/>&nbsp;
            <label for="opt_email_{options_1.NAME}">@ e-mail</label>
            <!-- ENDIF -->&nbsp;
          </td>
          <!-- ENDIF -->
        </tr>
        <!-- END options_1 -->
        <!-- ENDIF -->
      </table>
    </div>

    <div id="tab_ignores">
      <table class="no_border_image">
        <tr class="c_c">
          <th colspan="2">{L_opt_ignores}</th>
        </tr>

        <!-- BEGIN ignores -->
        <tr>
          <td colspan="1">
            {ignores.NAME}
          </td>
          <td colspan="1">
            <div class="js_unignore link_action" sender_id="{ignores.ID}" sender_name="{ignores.NAME}">
              {L_opt_unignore_do}
            </div>
          </td>
        </tr>
        <!-- BEGINELSE ignores -->
        <tr>
          <td colspan="2" class="notice" style="padding: 0.5em 1em;">
            {L_opt_ignore_list_empty}
          </td>
        </tr>
        <!-- END ignores -->
      </table>
    </div>

  </div>

  <br/>
  <input value="{L_save_settings}" type="submit" name="save_settings" id="save_settings" />
</form>

<script type="text/javascript">
  sn_timers.unshift({
    id: 'vacancy_to',
    type: TIMER_CLOCK_REALTIME,
    options: {format: 3, delta: C_player_vacation_time}
  });
  sn_timers.unshift({
    id: 'delete_on',
    type: TIMER_CLOCK_REALTIME,
    options: {format: 3, delta: C_player_delete_time}
  });
</script>
