    <!-- planet_resources BOF -->
    <tr class="c_l"><th>{L_sys_resources}</th><th>{L_sys_fleet_and}</th><th>{L_tech_storage}</th><th>{L_tech_storage_max}</th></tr>
    <tr>
      <td class="c_l">{L_sys_metal}</td>
      <td class="c_r">{PLANET_METAL_FLEET_TEXT}</td>
      <td class="c_r" id='top_metal'>{PLANET_METAL_TEXT}</td>
      <td class="c_r">{PLANET_METAL_MAX_TEXT}</td>
    </tr>

    <tr>
      <td class="c_l">{L_sys_crystal}</td>
      <td class="c_r">{PLANET_CRYSTAL_FLEET_TEXT}</td>
      <td class="c_r" id='top_crystal'>{PLANET_CRYSTAL_TEXT}</td>
      <td class="c_r">{PLANET_CRYSTAL_MAX_TEXT}</td>
    </tr>

    <tr>
      <td class="c_l">{L_sys_deuterium}</td>
      <td class="c_r">{PLANET_DEUTERIUM_FLEET_TEXT}</td>
      <td class="c_r" id='top_deuterium'>{PLANET_DEUTERIUM_TEXT}</td>
      <td class="c_r">{PLANET_DEUTERIUM_MAX_TEXT}</td>
    </tr>

    <tr>
      <td class="c_l" colspan="2">{L_sys_energy}</td>
      <td class="c_r">{ENERGY_BALANCE}</td>
      <td class="c_r">{ENERGY_MAX}</td>
    </tr>
    <!-- planet_resources EOF -->
