<br />
<form action="overview.php?mode=manage" method="POST">
  <input type="hidden" name="planet_id" value="{PLANET_ID}">

  <table width=519>
    <tr>
      <td style="white-space: nowrap;" class="c" colspan=4>
        <div class="fl">{PLANET_TYPE_TEXT} "{PLANET_NAME}" <a href="galaxy.php?mode=0&galaxy={PLANET_GALAXY}&system={PLANET_SYSTEM}">[{PLANET_GALAXY}:{PLANET_SYSTEM}:{PLANET_PLANET}]</a></div>
        <div class="fr"><a href="overview.php"><font color="green">[{L_ov_return}]</font></a></td></div>
      </td>
    </tr>

    <tr>
      <th class="c">
        <!-- DEFINE $PLANET_ID = '{PLANET_ID}' -->
        <!-- INCLUDE planet_governor -->
      </th>
      <th class="c" colspan=3>
        <table>
          <tr>
            <!-- BEGIN governors -->
              <th valign="top">
                {governors.NAME}<br />
                <a href="infos.php?gid={governors.ID}"><img src="{dpath}gebaeude/{governors.ID}.jpg" align="top" width="120" height="120" /></a><br />
                <!-- IF governors.MAX && governors.LEVEL >= governors.MAX -->
                  <span class="negative">{L_sys_maximum_level}</span>
                <!-- ELSEIF governors.COST <= DARK_MATTER -->
                  <!-- IF ! PLANET_GOVERNOR_ID || governors.ID == PLANET_GOVERNOR_ID -->
                    <a href="overview.php?mode=manage&hire={governors.ID}"><span class="positive">{L_mrc_hire_for} {governors.COST} {L_sys_dark_matter_sh}</span></a>
                  <!-- ELSE -->
                    <a onclick="if(confirm('{L_ov_mrc_confirm_1} {PLANET_GOVERNOR_NAME} {L_ov_mrc_confirm_2} {PLANET_GOVERNOR_LEVEL} {L_ov_mrc_confirm_3} {governors.NAME} {L_ov_mrc_confirm_4}'))window.location='overview.php?mode=manage&hire={governors.ID}';"><span class="positive">{L_mrc_hire_for} {governors.COST} {L_sys_dark_matter_sh}</span></a> <!-- href="overview.php?mode=manage&hire={governors.ID}" -->
                  <!-- ENDIF -->
                <!-- ELSE -->
                  <span class="negative">{L_mrc_hire_for} {governors.COST} {L_sys_dark_matter_sh}</span>
                <!-- ENDIF -->
              </th>
              <!-- IF (governors.S_ROW_COUNT + 1) mod 3 == 0 -->
                </tr><tr>
              <!-- ENDIF -->

            <!-- END governors -->
          </tr>
        </table>
      </th>
    </tr>

    <tr>
      <td>{L_buildings_on_planet}</td>
      <td colspan="2" class="c_c" style="position: relative; padding: 0px; height: 100%;">
        <div style="position: relative; width: 100%; height: 100%; border: 1px solid rgb(153, 153, 255); ">
          <!-- IF PLANET_FILL >= 100 -->
            <!-- DEFINE $BAR_COLOR = '#C00000' -->
          <!-- ELSEIF PLANET_FILL >= 80 -->
            <!-- DEFINE $BAR_COLOR = '#C0C000' -->
          <!-- ELSE -->
            <!-- DEFINE $BAR_COLOR = '#00C000' -->
          <!-- ENDIF -->
          <div style="position: absolute; top: 0px; left: 0px; width: {PLANET_FILL_BAR}%; background-color: {$BAR_COLOR}; height:100%;">&nbsp;</div>
          <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; vertical-align: middle;">{planet_field_current}/{planet_field_max} ({PLANET_FILL}%)</div>
          &nbsp;
        </div>
        <!-- IF PLANET_TYPE == 1 -->
          <!-- IF SECTOR_CAN_BUY -->
            <a href="overview.php?mode=manage&sector_buy=1"><span class="positive">{L_sys_sector_buy} {L_sys_for} {SECTOR_COST_TEXT} {L_sys_dark_matter_sh}</span></a>
          <!-- ELSE -->
            <span class="negative">{L_sys_sector_buy} {L_sys_for} {SECTOR_COST_TEXT} {L_sys_dark_matter_sh}</span>
          <!-- ENDIF -->
        <!-- ENDIF -->
      </td>
    </tr>


    <tr>
      <th>{L_ov_new_name}</th>
      <th><input type="text" name="new_name" size=25 maxlength=20 value="{PLANET_NAME}"></th>
      <th><input type="submit" name="rename" value="{L_ov_rename}"></th>
    </tr>

    <tr>
      <th>{L_colony_abandon}</th>
      <th>{L_ov_password} <input type="password" name="abandon_confirm" value=""></th>
      <th><input type="submit" name="abandon" value="{L_colony_abandon}"></th>
     </tr>
  </table>
</form>

<!-- INCLUDE page_hint -->
