<div class="bld_que_total">
  <div class="bld_que_total_time_text ov_{$QUE_ID}_hide_on_complete">{L_que_slot_length_long}&nbsp;<span id="ov_{$QUE_ID}_slots"></span></div>
  <div id="ov_{$QUE_ID}_finish" class="bld_que_total_finish ov_{$QUE_ID}_hide_on_complete" style="color: yellow"></div>
  <div class="bld_que_total_bar ov_{$QUE_ID}_hide_on_complete">
    <div id="ov_{$QUE_ID}_progress_bar" class="bld_que_total_progress_bar"></div>
    <div id="ov_{$QUE_ID}_total" class="bld_que_total_timer"></div>
  </div>
  <div id="ov_{$QUE_ID}" class="bld_que_total_item"></div>
</div>
