
	<tr>
	  <th>{username}</th>
    <th><a href="messages.php?mode=write&id={u_id}" alt="{write_a_messege}" title="{write_a_messege}"><img src="{dpath}img/m.gif" alt="{write_a_messege}" /></a>&nbsp;<a href="buddy.php?request_user_id={u_id}" alt="{buddy_request}"><img src="{dpath}img/b.gif" alt="{buddy_request}" title="{buddy_request}" border="0"></a></th>
	  <th>{ally_name}</th>
	  <th>{planet_name}</th>
	  <th><a href="galaxy.php?mode=3&galaxy={galaxy}&system={system}">{coordinated}</a></th>
	  <th>{position}</th>
	</tr>
