<h1>{L_sys_universe} &quot;{C_game_name}&quot;</h1>

<table width="519" style="color:#FFFFFF"><tbody>
  <tr><td class="c" colspan="2">{L_adm_opt_game_settings}</td></tr>
  <tr>
    <th>{L_adm_opt_game_name}</th>
    <th>{C_game_name}</th>
  </tr>
  <tr>
    <th class="c">{L_adm_opt_game_mode}</th>
    <th class="c">
      <!-- IF C_game_mode == 1 -->
        {L_sys_game_mode[1]}
      <!-- ELSE -->
        {L_sys_game_mode[0]}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_multiaccount_enabled}</th>
    <th>
      <!-- IF GAME_MULTIACCOUNT_ENABLED -->
        {L_sys_yes}
      <!-- ELSE -->
        {L_sys_no}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_empire_mercenary_temporary}</th>
    <th>
      <!-- IF EMPIRE_MERCENARY_TEMPORARY -->
        {L_sys_yes}
      <!-- ELSE -->
        {L_sys_no}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_speed} {L_adm_opt_game_gspeed}</th>
    <!--<th>x&nbsp;{GAME_SPEED}</th>-->
    <th>
      <!-- IF GAME_SPEED != GAME_SPEED_PLAIN -->
      <span class="ok">{L_sys_system_speed_for_action} x&nbsp;{GAME_SPEED}</span><br/>
      <span class="warning">{L_sys_system_speed_original} x {GAME_SPEED_PLAIN}</span>
      <!-- ELSE  -->
      x&nbsp;{GAME_SPEED}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_speed} {L_adm_opt_game_fspeed}</th>
    <!--<th>x&nbsp;{FLEET_SPEED}</th>-->
    <th>
      <!-- IF FLEET_SPEED != FLEET_SPEED_PLAIN -->
      <span class="ok">{L_sys_system_speed_for_action} x&nbsp;{FLEET_SPEED}</span><br/>
      <span class="warning">{L_sys_system_speed_original} x {FLEET_SPEED_PLAIN}</span>
      <!-- ELSE  -->
      x&nbsp;{FLEET_SPEED}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_speed} {L_adm_opt_game_pspeed}</th>
    <th>
      <!-- IF RESOURCE_MULTIPLIER != RESOURCE_MULTIPLIER_PLAIN -->
      <span class="ok">{L_sys_system_speed_for_action} x&nbsp;{RESOURCE_MULTIPLIER}</span><br/>
      <span class="warning">{L_sys_system_speed_original} x {RESOURCE_MULTIPLIER_PLAIN}</span>
      <!-- ELSE  -->
      x&nbsp;{RESOURCE_MULTIPLIER}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th class="c">{L_adm_opt_galaxies}</th>
    <th class="c">{C_game_maxGalaxy}</th>
  </tr>
  <tr>
    <th class="c">{L_adm_opt_systems}</th>
    <th class="c">{C_game_maxSystem}</th>
  </tr>
  <tr>
    <th class="c">{L_adm_opt_planets}</th>
    <th class="c">{C_game_maxPlanet}</th>
  </tr>
  <tr>
    <td class="c_c">{L_adm_uni_price_galaxy}</th>
    <td class="c_c">{C_uni_price_galaxy}</th>
  </tr>
  <tr>
    <td class="c_c">{L_adm_uni_price_system}</th>
    <td class="c_c">{C_uni_price_system}</th>
  </tr>

  <tr><td class="c" colspan="2">{L_adm_opt_plan_settings}</td></tr>
  <tr>
    <th>{L_adm_opt_plan_initial}</th>
    <th>{C_initial_fields} {L_adm_opt_sectors}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_plan_base_inc} {L_sys_metal}</th>
    <th>{C_metal_basic_income} {L_adm_opt_per_hour}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_plan_base_inc} {L_sys_crystal}</th>
    <th>{C_crystal_basic_income} {L_adm_opt_per_hour}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_plan_base_inc} {L_sys_deuterium}</th>
    <th>{C_deuterium_basic_income} {L_adm_opt_per_hour}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_plan_base_inc} {L_sys_energy}</th>
    <th>{C_energy_basic_income} {L_adm_opt_per_hour}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_max_colonies}</th>
    <th><!-- IF PLAYER_MAX_COLONIES < 1 -->{L_sys_unlimited}<!-- ELSE -->{PLAYER_MAX_COLONIES}<!-- ENDIF --></th>
  </tr>

    <tr><td class="c" colspan="2">{L_sys_opt_bash_info}</td></tr>
    <!-- IF FLEET_BASHING_ATTACKS -->
    <tr>
      <th>{L_sys_opt_bash_attacks}</th>
      <th>{C_fleet_bashing_attacks}</th>
    </tr>
    <tr>
      <th>{L_sys_opt_bash_waves}</th>
      <th>{C_fleet_bashing_waves}</th>
    </tr>
    <tr>
      <th>{L_sys_opt_bash_interval}</th>
      <th>{fleet_bashing_interval}</th>
    </tr>
    <tr>
      <th>{L_sys_opt_bash_scope}</th>
      <th>{fleet_bashing_scope}</th>
    </tr>
    <tr>
      <th>{L_sys_opt_bash_war_delay}</th>
      <th>{fleet_bashing_war_delay}</th>
    </tr>
    <!-- ELSE -->
      <tr><td style="c_l" colspan=2>{L_sys_opt_bash_disabled}</td></tr>
    <!-- ENDIF -->


  <tr><td class="c" colspan="2">{L_adm_opt_game_oth_info}</td></tr>
  <!-- IF ALI_BONUS_MEMBERS -->
  <tr>
    <th>{L_sys_ali_bonus_members}</th> 
    <th>{ALI_BONUS_MEMBERS}</th>
  </tr>
  <!-- ENDIF -->
  <tr>
    <th>{L_adm_opt_exchange}</th>
    <th>{L_sys_metal}&nbsp;{C_rpg_exchange_metal}&nbsp;:&nbsp;{L_sys_crystal}&nbsp;{C_rpg_exchange_crystal}&nbsp;:&nbsp;{L_sys_deuterium}&nbsp;{C_rpg_exchange_deuterium}&nbsp;:&nbsp;{L_sys_dark_matter_sh}&nbsp;{C_rpg_exchange_darkMatter}</th>
  </tr>
  <tr>
    <th>{L_adm_opt_vacation_mode_is}</th> 
    <th>
      <!-- IF USER_VACATION_DISABLE -->
        {L_sys_off}
      <!-- ELSE -->
        {L_sys_on}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_build_on_research}</th>
    <th>
      <!-- IF game_build_and_research -->
        {L_sys_yes}
      <!-- ELSE -->
        {L_sys_no}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_allow_buffing}</th>
    <th>
      <!-- IF ALLOW_BUFFING -->
        {L_sys_yes}
      <!-- ELSE -->
        {L_sys_no}
      <!-- ENDIF -->
    </th>
  </tr>
  <tr>
    <th>{L_adm_opt_ally_help_weak}</th>
    <th>
      <!-- IF ALLY_HELP_WEAK -->
        {L_sys_yes}
      <!-- ELSE -->
        {L_sys_no}
      <!-- ENDIF -->
    </th>
  </tr>

  <tr><td class="c" colspan="2">{L_adm_ver_versions}</td></tr>
  <tr>
    <th>{L_adm_ver_version_sn}</th>
    <th>{D_SN_VERSION}-{DB_PATCH_VERSION}</th>
  </tr>
  <tr>
    <th>{L_adm_ver_version_db}</th>
    <th>{C_db_version}p{DB_PATCH_VERSION}</th>
  </tr>

</tbody></table>
