<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{LANG_DIRECTION}" lang="{LANG_LANGUAGE}" xml:lang="{LANG_LANGUAGE}">
  <head>
    <title>{title}</title>
    <link rel="shortcut icon" href="{-path_prefix-}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{-path_prefix-}design/css/jquery.css" />
    <link rel="stylesheet" type="text/css" href="{-path_prefix-}{dpath}jquery.css" />

    <link rel="stylesheet" type="text/css" href="{-path_prefix-}design/css/global.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{-path_prefix-}design/css/global-ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{-path_prefix-}{dpath}skin.css" />
    <meta name="keywords" content="ogame,огейм,ога,supernova,сверхновая,бесплатная,free,браузерка,онлайн стратегия,онлайновая стратегия,играть,игра,ogame скрипт,xnova" />
    <meta name="description" content="Сверхновая - онлайн стратегия браузерка огейм доступна играть бесплатно" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    {-meta-}
    <!--<style> body, html { margin:0px; padding: 0px; overflow: hidden; font: menu; border: none; } </style>-->
    <base href="{-path_prefix-}" />
  </head>

  <body class="style">
    <script type="text/javascript" src="{-path_prefix-}js/lib/jquery.js"></script>
    <script type="text/javascript" src="{-path_prefix-}js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="{-path_prefix-}js/sn_global.js"></script>
    <script type="text/javascript" src="{-path_prefix-}js/sn_timer.js"></script>
    <script type="text/javascript"><!--
      var dpath = '{dpath}';
      var sn_path_prefix = '{-path_prefix-}';
    //--></script>
    <!-- IF IMPERSONATING -->
      <div style="text-align: center" class="warning">{IMPERSONATING}</div>
    <!-- ENDIF -->
