<h1>{L_stat_header}</h1>
<!-- IF ! SOURCE -->
  <!-- IF REFRESH_DATE -->
  <h2>{L_stat_refresh_last}&nbsp;{REFRESH_DATE}</h2>
  <!-- ENDIF -->
  <!-- IF NEXT_DATE -->
  <h3>{L_stat_refresh_next}&nbsp;{NEXT_DATE}</h3>
  <!-- ENDIF -->
<!-- ENDIF -->

<!-- IF STATS_HIDE_PM_LINK && SUBJECT == 1 -->
  <!-- IF SOURCE -->
    <!-- DEFINE $HEADER_COLSPAN = '4' -->
  <!-- ELSE -->
    <!-- DEFINE $HEADER_COLSPAN = '5' -->
  <!-- ENDIF -->

<!-- ELSE -->
  <!-- DEFINE $HEADER_COLSPAN = '6' -->
<!-- ENDIF -->

<table width="519">
  <tr>
    <th class="c_c" colspan="{$HEADER_COLSPAN}" nowrap>
      <form name="stat_form" method="get">
        {L_stat_show}
        <select name="type" onChange="document.stat_form.submit()">
          <!-- BEGIN type -->
          <option value="{type.ID}"<!-- IF type.SELECTED --> selected<!-- ENDIF -->>{type.HEADER}</option>
          <!-- END type -->
        </select>
        {L_stat_by}
        <select name="who" onChange="document.stat_form.submit()">
          <!-- BEGIN subject -->
          <option value="{subject.ID}"<!-- IF subject.SELECTED --> selected<!-- ENDIF -->>{subject.HEADER}</option>
          <!-- END subject -->
        </select>
        {L_stat_range}
        <select name="range" onChange="document.stat_form.submit()">
          <!-- BEGIN range -->
          <option value="{range.ID}"<!-- IF range.SELECTED --> selected<!-- ENDIF -->>{range.HEADER}</option>
          <!-- END range -->
        </select>
        <input type="hidden" name="source" value="{SOURCE}" />
      </form>
    </th>
  </tr>

  <tr>
    <th class ="c_c" width="30">{L_stat_rank}</th>
    <th class ="c_c" width="30">{L_stat_rank_diff}</th>

    <!-- IF SUBJECT == 1 -->
      <th class ="c_c">{L_sys_player}</th>
      <!-- IF ! SOURCE -->
      <!--<th class ="c_c"><img src="{I_menu_empire_emperor}" border="0" alt="{L_stat_details}" title="{L_stat_details}" /></th>-->
      <th class ="c_c">{L_sys_alliance}</th>
      <!-- ENDIF -->
    <!-- ELSE -->
      <th class ="c_c">{L_sys_alliance}</th>
      <th class ="c_c">{L_stat_members}</th>
      <th class ="c_c">{L_stat_per_member}</th>
    <!-- ENDIF -->

    <th class ="c_c">{L_stat_points}</th>
    <!-- IF SUBJECT == 1 && ! STATS_HIDE_PM_LINK -->
    <th class ="c_c"><img src="design/images/icon_mail.gif" border="0" alt="{L_stat_message_write}" title="{L_stat_message_write}" /></th>
    <!-- ENDIF -->
  </tr>

  <!-- BEGIN stat -->
    <!-- IF stat.RANK_CHANGE > 0 -->
      <!-- DEFINE $RANK_CLASS = 'positive' -->
      <!-- DEFINE $RANK_SIGN = '+{stat.RANK_CHANGE}' -->
    <!-- ELSEIF stat.RANK_CHANGE < 0 -->
      <!-- DEFINE $RANK_CLASS = 'negative' -->
      <!-- DEFINE $RANK_SIGN = '{stat.RANK_CHANGE}' -->
    <!-- ELSE -->
      <!-- DEFINE $RANK_CLASS = 'zero' -->
      <!-- DEFINE $RANK_SIGN = '*' -->
    <!-- ENDIF -->
    <tr>
      <td class="c_r"><!-- IF stat.RANK == RANGE --><a name="{stat.RANK}"><span class="fl">&gt;</span></a><!-- ENDIF -->{stat.RANK}</td>
      <td class="c_r {$RANK_CLASS}">{$RANK_SIGN}</td>
      <!-- IF SUBJECT == 1 -->
        <td class="c_l<!-- IF USER_ID == stat.ID --> same_player<!-- ENDIF -->" nowrap>
          <a href="index.php?page=imperator&int_user_id={stat.ID}<!-- IF SOURCE -->&source={SOURCE}<!-- ENDIF -->" class="link">
            {stat.NAME}
          </a>
        </td>
        <!-- IF ! SOURCE -->
        <!--<td class ="c_c">-->
          <!--<a href="index.php?page=imperator&int_user_id={stat.ID}&lt;!&ndash; IF SOURCE &ndash;&gt;&source={SOURCE}&lt;!&ndash; ENDIF &ndash;&gt;">-->
            <!--<img src="{I_menu_empire_emperor}" border="0" alt="{L_stat_details}" title="{L_stat_details}"  />-->
          <!--</a>-->
        <!--</td>-->
        <td class="c_l" nowrap><!-- IF stat.ALLY_ID --><a href="alliance.php?mode=ainfo&a={stat.ALLY_ID}" class="link"><span class="<!-- IF USER_ALLY == stat.ALLY_ID -->same_alliance<!-- ENDIF -->">{stat.ALLY_NAME}</span></a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
        <!-- ENDIF -->
      <!-- ELSE -->
        <td class="c_l"><a href="alliance.php?mode=ainfo&a={stat.ID}"><span class="<!-- IF USER_ALLY == stat.ID -->same_alliance<!-- ENDIF -->">{stat.NAME}</span></a></td>
        <td class="c_r">{stat.MEMBERS}</td>
        <td class="c_r">{stat.POINTS_PER_MEMBER}</td>
      <!-- ENDIF -->
      <td class="c_r">{stat.POINTS}</td>

      <!-- IF SUBJECT == 1 && ! STATS_HIDE_PM_LINK -->
      <td class="c_c">
        <a href="messages.php?mode=write&id={stat.ID}">
          <img src="design/images/icon_mail.gif" border="0" alt="{L_stat_message_write}" title="{L_stat_message_write}" />
        </a>
      </td>
      <!-- ENDIF -->
    </tr>
  <!-- END stat -->

</table>
