<div id="tutorial_block">
  <div id="tutorial_container" class="border_image_small">
    <div id="tutorial_header" class="contFJ th">
      <div>Обучение</div>
      <div><img id="tutorial_close" class="fr pointer image_close" src="{I_r1}" alt="{L_sys_close}"
                title="{L_sys_close}"/></div>
    </div>
    <div id="tutorial_text">
      <img id="tutorial_text_adviser" src="design/images/adviser.gif"/>
      {
      Приветствуем вас в нашей Вселенной!<br/>
      Я - ваш советник, который поможет вам освоится с управлением вашей Империей.<br/>
      Вы всегда сможете отключить подсказки в "Настройках" игры - пункт меню "Настройки",<br/>
      вкладка "Интерфейс", подвкладка "Обучение", пункт "Полностью отключить обучение", нажать кноппку "Сохранить
      изменения".<br/>
      Там же можно включить подсказки обратно, сняв галочку с вышкуказанного пункта и сохранив изменения.
      }
    </div>
    <div style="clear:left;"></div>
    <div id="tutorial_buttons" class="contFJ">
      <input type="button" id="tutorial_prev" name="tutorial_prev" value="<< prev"/>
      <input type="button" id="tutorial_window" name="tutorial_window" value="window"/>
      <input type="button" id="tutorial_next" name="tutorial_next" value="next >>"/>
    </div>
    <div id="tutorial_footer">
      {Вы всегда можете отключить "Обучение" через пункт меню "Настройки"}
    </div>
  </div>
</div>
