<!-- IF ACT_SPY || ACT_MISSILE || ACT_WRITE || ACT_STATISTICS || ACT_INFO || ACT_FRIEND -->
  <!-- DEFINE $ACTION_PRESENT = '1' -->
<!-- ENDIF -->

<table id="universe_main" class="universe_main_new"><tbody>
<tr><th class="c_l" colspan="{COL_SPAN_NEW}">
  {L_sys_galaxy}&nbsp;[{galaxy}]&nbsp;<span class="ok">{GALAXY_NAME}</span>&nbsp;<span class="button_pseudo" go="galaxy" planet_system="0" mode="name"><!-- IF GALAXY_NAME -->{L_uni_rename}<!-- ELSE -->{L_uni_to_name}<!-- ENDIF --></span>
  <span class="fr notice link_action button_pseudo" id="universe_legend">{L_Legend}</span>
</th></tr>

<tr><th class="c_l" colspan="{COL_SPAN_NEW}">
  <span>{L_sys_system}&nbsp;[{galaxy}:{system}] <span class="ok">{SYSTEM_NAME}</span>&nbsp;<a class="link button_pseudo" href="galaxy.php?mode=name&galaxy={galaxy}&system={system}"><!-- IF SYSTEM_NAME -->{L_uni_rename}<!-- ELSE -->{L_uni_to_name}<!-- ENDIF --></a></span>
  <div style="height: 100%; display: inline-block; vertical-align: middle;"><!-- IF planets -->{L_gal_planets} {planets}<!-- ELSE -->{L_gal_planetNone}<!-- ENDIF --></div>
</th></tr>

<tr class="c_c">
  <th>{L_Name}</th>
  <th>
    {L_Player}<br />
    {L_sys_alliance}
  </th>
  <!-- IF $ACTION_PRESENT -->
  <th>{L_Actions}</th>
  <!-- ENDIF -->
</tr>

<!-- BEGIN galaxyrow -->

<!-- IF galaxyrow.USER_ID && USER_ID != galaxyrow.USER_ID -->
  <!-- DEFINE $DIFFERENT_USER = 1 -->
<!-- ELSE -->
  <!-- DEFINE $DIFFERENT_USER = 0 -->
<!-- ENDIF -->

<!-- IF     galaxyrow.DEBRIS >= 1000000000000 -->
  <!-- DEFINE $DEBRIS_BG_CLASS = 'error_bg' -->
<!-- ELSEIF galaxyrow.DEBRIS >= 1000000000 -->
  <!-- DEFINE $DEBRIS_BG_CLASS = 'warning_bg' -->
<!-- ELSEIF galaxyrow.DEBRIS >= 1000000 -->
  <!-- DEFINE $DEBRIS_BG_CLASS = 'notice_bg' -->
<!-- ELSEIF galaxyrow.DEBRIS >= 1000 -->
  <!-- DEFINE $DEBRIS_BG_CLASS = 'ok_bg' -->
<!-- ELSE -->
  <!-- DEFINE $DEBRIS_BG_CLASS = '' -->
<!-- ENDIF -->


<tr class="uni_planet_row" user_id="{galaxyrow.USER_ID}" ally_id="{galaxyrow.ALLY_ID}" planet_pos="{galaxyrow.PLANET_NUM}">
  <!-- IF galaxyrow.PLANET_ID -->
    <td class="c_c" nowrap>
      <div class="uni_show_planet uni_show_planet_new" planet_type="{galaxyrow.PLANET_TYPE}" id="planet_{galaxyrow.PLANET_ID}" style="position: relative;">
        <img src="{I_s_[galaxyrow.PLANET_IMAGE]}" />
        <!-- IF galaxyrow.PLANET_FLEET_ID -->
          <img class="alpha50 uni_own_fleet" src="{D_SN_ROOT_VIRTUAL}design/images/icon_fleet_own.png" />
        <!-- ENDIF -->
        <div class="uni_object_type">{L_sys_planet_type[D_PT_PLANET]}</div>
      </div>

      <!-- IF galaxyrow.MOON_DIAMETER -->
      <div class="uni_show_planet uni_show_planet_new" planet_type="{D_PT_MOON}">
        <img src="{I_s_[galaxyrow.MOON_IMAGE]}" />
        <!-- IF galaxyrow.MOON_FLEET_ID -->
          <img class="alpha50 uni_own_fleet" src="{D_SN_ROOT_VIRTUAL}design/images/icon_fleet_own.png" />
        <!-- ENDIF -->
        <div class="uni_object_type">{L_sys_planet_type[D_PT_MOON]}</div>
        <!--<div style="position: absolute; left: 0; top: 0; width: 100%;">Луна</div>-->
      </div>
      <!-- ENDIF -->

      <!-- IF galaxyrow.DEBRIS -->
      <div class="uni_show_debris uni_show_debris_new {$DEBRIS_BG_CLASS}">
        <img src="{I_s_debris}" />
        <!-- IF ! galaxyrow.DEBRIS_RESERVED_PERCENT -->
        <!-- DEFINE $DEBRIS_FONT_CLASS = 'error' -->
        <!-- ELSEIF galaxyrow.DEBRIS_RESERVED_PERCENT == 100 -->
        <!-- DEFINE $DEBRIS_FONT_CLASS = 'ok' -->
        <!-- ELSEIF galaxyrow.DEBRIS_GATHER_TOTAL_PERCENT == 100 -->
        <!-- DEFINE $DEBRIS_FONT_CLASS = 'notice' -->
        <!-- ELSE -->
        <!-- DEFINE $DEBRIS_FONT_CLASS = 'warning' -->
        <!-- ENDIF -->
        <span class="icon_alpha uni_debris_percent {$DEBRIS_FONT_CLASS}">{galaxyrow.DEBRIS_RESERVED_PERCENT}%</span>
        <div class="uni_object_type">{L_uni_debris}</div>
        <!--<div style="position: absolute; left: 0; top: 0; width: 100%;">Обломки</div>-->
      </div>
      <!-- ENDIF -->

      <div class="g_galaxy_row">
        <!-- IF galaxyrow.PLANET_DESTROYED -->
         [{galaxy}:{system}:{galaxyrow.PLANET_NUM}] {L_gl_destroyedplanet}
        <!-- ELSE -->
          <!-- DEFINE $PLANET_ACTIVITY = '' -->
          <!-- IF ! $DIFFERENT_USER -->
            <!-- DEFINE $PLANET_CLASS = 'myplanet' -->
          <!-- ELSE -->
            <!-- IF ALLY_ID == galaxyrow.ALLY_ID -->
              <!-- DEFINE $PLANET_CLASS = 'allymember' -->
            <!-- ELSE -->
              <!-- DEFINE $PLANET_CLASS = '' -->
            <!-- ENDIF -->

            <!-- IF galaxyrow.PLANET_ACTIVITY < 15 -->
              <!-- DEFINE $PLANET_ACTIVITY = '<15' -->
            <!-- ELSEIF galaxyrow.PLANET_ACTIVITY < 60 -->
              <!-- DEFINE $PLANET_ACTIVITY = '{galaxyrow.PLANET_ACTIVITY}' -->
            <!-- ELSE -->
              <!-- DEFINE $PLANET_ACTIVITY = '' -->
            <!-- ENDIF -->
          <!-- ENDIF -->

          <!-- IF PLANET_PHALANX && $DIFFERENT_USER -->
            <!-- DEFINE $PLANET_CLASS_BUTTON = ' button_pseudo' -->
            <!-- DEFINE $PLANET_GO = ' go="phalanx" target="_blank"' -->
          <!-- ELSE -->
            <!-- DEFINE $PLANET_CLASS_BUTTON = '' -->
            <!-- DEFINE $PLANET_GO = '' -->
          <!-- ENDIF -->
          <span class="{$PLANET_CLASS}{$PLANET_CLASS_BUTTON}"{$PLANET_GO} planet_type="{galaxyrow.PLANET_TYPE}" planet_planet="{galaxyrow.PLANET_NUM}">
            <!-- IF galaxyrow.IS_CAPITAL -->&#9813;<!-- ENDIF -->
            [{galaxy}:{system}:{galaxyrow.PLANET_NUM}] {galaxyrow.PLANET_NAME}<!-- IF $PLANET_ACTIVITY -->&nbsp;({$PLANET_ACTIVITY}&nbsp;{L_sys_min_short})<!-- ENDIF -->
          </span>
        <!-- ENDIF -->
      </div>
    </td>

    <!-- IF galaxyrow.USER_ACTIVITY >= 28 -->
      <!-- DEFINE $FONT_TYPE = 'longinactive' -->
    <!-- ELSEIF galaxyrow.USER_ACTIVITY >= 7 -->
      <!-- DEFINE $FONT_TYPE = 'inactive' -->
    <!-- ELSE -->
      <!-- DEFINE $FONT_TYPE = 'player_active' -->
    <!-- ENDIF -->

    <!-- IF galaxyrow.USER_BANNED -->
      <!-- DEFINE $USER_CLASS_BANNED = 'banned' -->
    <!-- ELSE -->
      <!-- DEFINE $USER_CLASS_BANNED = '' -->
    <!-- ENDIF -->

    <!-- IF galaxyrow.USER_PROTECTED -->
      <!-- DEFINE $USER_CLASS = 'protected' -->
    <!-- ELSEIF galaxyrow.USER_NOOB -->
      <!-- DEFINE $USER_CLASS = 'noob' -->
    <!-- ELSEIF galaxyrow.USER_STRONG -->
      <!-- DEFINE $USER_CLASS = 'strong' -->
    <!-- ELSE -->
      <!-- DEFINE $USER_CLASS = '' -->
    <!-- ENDIF -->

    <!-- IF galaxyrow.USER_BIRTHDAY -->
      <!-- DEFINE $USER_CLASS_BIRTHDAY = 'birthday' -->
    <!-- ELSE -->
      <!-- DEFINE $USER_CLASS_BIRTHDAY = '' -->
    <!-- ENDIF -->

    <th width=150 align=center nowrap>
      <!-- IF galaxyrow.USER_ID -->
      <div class="button_pseudo uni_show_user {$USER_CLASS_BIRTHDAY} {$USER_CLASS_BANNED}">
        <span class="{$USER_CLASS} {$FONT_TYPE}">{galaxyrow.USER_NAME}</span>&nbsp;(<!-- IF SHOW_ADMIN && galaxyrow.USER_AUTH && galaxyrow.USER_ADMIN --><span class="admin">{galaxyrow.USER_ADMIN}</span><!-- ENDIF --><!-- IF galaxyrow.USER_BANNED --><span class="banned">{L_banned_shortcut}</span><!-- ENDIF --><!-- IF galaxyrow.USER_ACTIVITY >= 28 --><span class="longinactive">{L_inactif_28_shortcut}</span><!-- ELSEIF galaxyrow.USER_ACTIVITY >= 7 --><span class="inactive">{L_inactif_7_shortcut}</span><!-- ELSE -->{L_active_shortcut}<!-- ENDIF --><!-- IF galaxyrow.USER_PROTECTED --><span class="protected">{L_uni_protected_player_shortcut}</span><!-- ENDIF --><!-- IF galaxyrow.USER_NOOB --><span class="noob">{L_weak_player_shortcut}</span><!-- ENDIF --><!-- IF galaxyrow.USER_STRONG --><span class="strong">{L_strong_player_shortcut}</span><!-- ENDIF -->)
      </div>

      <!-- IF galaxyrow.ALLY_ID -->
        <div class="button_pseudo uni_show_ally <!-- IF ALLY_ID == galaxyrow.ALLY_ID --> allymember<!-- ENDIF -->">[{galaxyrow.ALLY_TAG}]</div>
      <!-- ENDIF -->
      <!-- ELSE -->
      &nbsp;
      <!-- ENDIF -->
    </th>
  <!-- IF $ACTION_PRESENT -->
  <td>
    <!-- IF $DIFFERENT_USER -->
      <!-- IF ACT_SPY && (! galaxyrow.USER_NOOB || galaxyrow.USER_ATTACKABLE) -->
        <a class="button_pseudo" alt="{L_gl_espionner}" title="{L_gl_espionner}" onclick="doit({D_MT_SPY}, {galaxyrow.PLANET_NUM}, 1, {ACT_SPIO});">
          <img src="{D_SN_ROOT_VIRTUAL}design/images/icon_espionage.png" style="height: 1.5em" />
        </a>
      <!-- ENDIF -->
      <!-- IF ACT_MISSILE && (! galaxyrow.USER_NOOB || galaxyrow.USER_ATTACKABLE) -->
        <a class="button_pseudo missile_attack_prepare" planet_planet="{galaxyrow.PLANET_NUM}" alt="{L_gl_mipattack}" title="{L_gl_mipattack}" >
          <img src="{D_SN_ROOT_VIRTUAL}design/images/icon_missile.png" style="height: 1.5em" />
        </a>
      <!-- ENDIF -->
      <br />
      <!-- IF ACT_WRITE -->
        <a class="button_pseudo" href="messages.php?mode=write&id={galaxyrow.USER_ID}"><img src="{D_SN_ROOT_VIRTUAL}design/images/icon_mail.gif" alt="{L_gl_sendmess}" title="{L_gl_sendmess}" style="height: 1.5em" /></a>
      <!-- ENDIF -->
      <!-- IF ACT_INFO -->
        <a class="button_pseudo" href="index.php?page=imperator&int_user_id={galaxyrow.USER_ID}"><img src="{I_menu_empire_emperor}" alt="{L_stat_details}" title="{L_stat_details}" style="height: 1.5em" /></a>
      <!-- ENDIF -->
    <!-- ELSE -->
      &nbsp;
    <!-- ENDIF -->
  </td>
  <!-- ENDIF -->

  <!-- ELSE -->
    <td colspan="{COL_SPAN_NEW}" class="c_c">
      <!-- IF ! PLAYER_OPTION_UNIVERSE_DISABLE_COLONIZE -->
      <span class="button_pseudo" go="fleet" planet_planet="{galaxyrow.PLANET_NUM}" mission="{D_MT_COLONIZE}">
        {L_uni_colonize} {galaxyrow.PLANET_NUM}
      </span>
      <!-- ELSE -->
        [{galaxy}:{system}:{galaxyrow.PLANET_NUM}]
      <!-- ENDIF -->
    </td>
  <!-- ENDIF -->
</tr>
<!-- END galaxyrow -->
<tr>
  <th colspan="{COL_SPAN_NEW}" class="subheader">
    <span class="button_pseudo ownexpedition" go="fleet" planet_planet="{PLANET_EXPEDITION}" mission="{D_MT_EXPLORE}">
      {L_gf_unknowsp}
    </span>
  </th>
</tr>
<tr>
  <td colspan="{COL_SPAN_NEW}">
    <table width="100%" class="no_border_image">
      <tr>
        <td class=c width="33%">
          <span id="missile">{MIPs}</span> {L_gf_mi_title}
        </td>
        <td class=c width="33%">
          <span id="flt_recyclers">{PLANET_RECYCLERS_TEXT}</span> {L_gf_rc_title}
        </td>
        <td class=c>
          <span id="flt_spies">{SPs}</span> {L_gf_sp_title}
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr style="display: none;" id="fleetstatusrow"><th class=c colspan="{COL_SPAN_NEW}"><table width="100%" id="fleetstatustable" class="no_border_image"></table></th></tr>
</tbody></table>
