<br />
<table width="720">
  <tr>
    <td class="c">
      <span class="fl negative">{NAME}, {L_sys_vacation} {VACATION_END}!</span>
      <!-- IF CAN_LEAVE -->
      <!-- <span class="fr positive link" onclick="window.location.href = window.location.pathname + '?vacation=leave';">[ {L_sys_vacation_leave} ]</span> -->
      <span class="fr positive link" onclick="window.location.href = 'overview.php?vacation=leave';">[ {L_sys_vacation_leave} ]</span>
      <!-- ENDIF --> 
    </td>
  </tr>
  <tr><th class="errormessage"><img width="720" src="design/images/vacation{RANDOM}.jpg"></th></tr>
</table>
