<br />
<form method="get" action="index.php">
  <input type="hidden" name="page" value="battle_report">
  <table width="517">
    <tr>
      <td class="c">
        <span class="fl">{L_cr_view_title}</span>
        <a class="fr link" href="messages.php?mode=show&message_class=3">{L_cr_view_my}</a>
      </td>
    </tr>

    <tr>
      <th>
        <span class="fl">{L_cr_view_prompt}</span>
        <input type="text" name="cypher" maxlength=32 size=35>
        <input class="fr" type="submit" value="{L_cr_view_button}">
      </th>
    </tr>
  </table>
</form>

<!-- INCLUDE page_hint -->
