/*
                                 €€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€
                                 €€€±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±€€€±
                                 €€€±                                                  €€€±
                                 €€€±                SuperNova: SuperNova              €€€±
                                 €€€±                                                  €€€±
                                 €€€±                      V 2.0                       €€€±
                                 €€€±                                                  €€€±
                                 €€€±    Skin for "SuperNova.ws" ogame.supernova.ws    €€€±
                                 €€€±                                                  €€€±
                                 €€€±                                                  €€€±
                                 €€€±     The Emperor with 08.08.2009 22:44:47 Ivash   €€€±
                                 €€€±            Alliance: NewSTAR                     €€€±
                                 €€€±                                                  €€€±
                                 €€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€€±
                                  ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±
*/

body, form, table, input, select
{
  font-family : Tahoma, sans-serif;
  font-size : 11px;
}

body
{
  color                : #E6EBFB;
  margin-top           : 5px;
  margin-left          : 1px;
  background-color     : #80605D;
  background-image     : url(img/background.jpg);
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top;
  scrollbar-arrow-color: #80605D;
  scrollbar-base-color: #363636;
  scrollbar-track-color: #363636;
  scrollbar-face-color: #363636;
  scrollbar-highlight-color: #344566;
  scrollbar-3dlight-color: #80605D;
  scrollbar-darkshadow-color: #344566;
  scrollbar-shadow-color: #80605D;
}

img
{
  border               : 0px;
}

input, select, textarea, div.z
{
 color                : #D58000;
}

textarea
{
  width                : 98%;
}

th, td, input, select, textarea
{
  border               : 1px 	#483634 solid;
  background-color     : #242424;
  padding-left         : 3px;
  padding-right        : 3px;
  font-weight          : bold;
}

th.c_l, th.c_r, th.c_c, tr.c_l th, tr.c_r th, tr.c_c th, td.c
{
  font-weight          : bold;
  background-image     : url(img/bg1.gif);
}
/*
th, td.c_l, td.c_c, tr.c_l td, tr.c_r td, tr.c_c td
{
  text-align           : center;
}
*/
.c_c, th.c_c, td.c_c, tr.c_c td, tr.c_c th, .cell_center, tr.cell_center td, tr.cell_center th
{
  text-align: center;
}

.c_l, th.c_l, td.c_l, tr.c_l td, tr.c_l th, .cell_left, tr.cell_left td, tr.cell_left th, td.c
{
  text-align: left;
}

.c_r, th.c_r, td.c_r, tr.c_r td, tr.c_r th, .cell_right, tr.cell_right td, tr.cell_right th
{
  text-align: right;
}

td.l
{
  vertical-align       : top;
  padding              : 3px;
  background-image     : url(img/bg2.gif);
}

table table
{
  border               : 0px;
}

body form table th table input
{
  width: 60px;
}

div.z
{
  font-weight          : bold;
}

a
{
  text-decoration      : none;
  font-weight          : bold;
}

a:hover
{
  color                : #80605D;
  text-decoration      : underline;
}

.style td
{
  border-top           : 0px;
}

.style div a
{
  color                : #00AA00;
}

.style div a:link
{
  color                : #f2f2f2;
}

.style div a:visited
{
  color                : #f2f2f2;
}

.style div a:hover
{
  background-color     : #415680;
  text-decoration      : none;
}

h1
{
  font-size            : 200%;
  border-bottom        : 0px #F9C749 solid;

  margin-top: 16px;
}

.hint {
  text-align: justify;
}

.ov_user_total {color: #FF0000}
.ov_user_rank {color: #FFFF00}

#left_menu {
  font-weight: bold;
  width: 100%;
}

#left_menu #server_name {
  color: #00FF00;
  font-weight: bold;
}

#left_menu th {
  color: #63698c;
  background-image: url(img/bg1.gif);
  background-color: #212c42;
  text-align: center;
}

#menu_planet_overview, #menu_empire_overview, #menu_empire_mercenaries {
  color: #999933;
}

#menu_admin
{
  color: lime;
}

#menu_planet_fleets, #menu_empire_fleets
{
  color: #CC3333;
}

#menu_affiliates
{
  color: #993333;
}

#menu_rules
{
  color: orange;
}

#menu_faq
{
  color: yellow;
}

#menu_news
{
  color: lime;
}

#menu_planet_structures /* .lm_buildings */
{
  color: #669933;
}

#menu_planet_shipyard, #menu_planet_defense /* .lm_shipyard */
{
  color: #993399;
}

#menu_empire_emperor
{
  color: purple
}

#menu_info_research, #menu_empire_techtree /* .lm_techtree */
{
  color: #999933;
}

#menu_empire_universe /* .lm_universe */
{
  color: #999966;
}

#menu_ally_chat, #menu_comm_chat /* .lm_chatally, .lm_chat */
{
  color: #996699;
}

#menu_comm_forum /* .lm_forum */
{
  color: #0066CC;
}

#menu_utils_simulator /* .lm_simulator */
{
  color: #FF9966;
}

#menu_utils_search /* .lm_search */
{
  color: #887766;
}

#menu_options /* .lm_options */
{
  color: #CCCC66;
}

#menu_logout /* .lm_logout */
{
  color: #993333;
}

.link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/*  Patching this theme for ui-slider */
.style .ui-slider a:link { width: 1.2em; height: 1.2em; }
.style .ui-slider a:hover { width: 1.2em; height: 1.2em; }

/* Setting popup table background color */
div .ui-dialog-content table { background: #344055; }

/* Icon file */
.icons { background-image: url(images/icons.png); }

/* Que item */
.que_item
{
  cursor: pointer;

  border: 0px;

  position: relative;
  height: 60px;
  width: 60px;

  margin-right: 2px;
  margin-bottom: 2px;

  font-size: 100%;
}

/* Unit picture */
.unit_picture
{
  border: 0px;

  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;
}

/* Unit preview box on build pages */
.unit_preview
{
  cursor: pointer;

  border: 3px solid #483634;

  position: relative;
  height: 120px;
  width: 120px;

  font-size: 100%;
}

/* Pseudoelement to use colors from CSS in JS */
#style_probe
{
  border-top-color: #F9C749;  /* Reserved for unit_preview border color */
}

#sys_dark_matter_hint {color: #00CCFF; font-weight: bold; float: left}
#off_get_dark_matter { color: #ff8900; font-weight: bold;}

.ui-widget-content
{
  color: white;
}

/* Universe status styles */
.allymember {
  color: lime;
}

.myplanet {
  color: red;
}

.noob {
  color: #a0ffa0;
}

.protected {
  color: yellow;
}

.strong {
  color: #ffa0a0;
}

.vacation {
  color: skyblue;
}

.player_active {
  font-weight: bold;
}

.inactive {
/*  color: CCCCCC;*/
  font-weight: normal;
}

.longinactive {
/*  color: 999999;*/
  font-weight: normal;
  font-style: italic;
}

.banned {
  text-decoration: line-through;
}

.admin {
  text-decoration: blink;
  color: purple;
}

/* Flying fleet & message color coding */
.flight {
}

.return {
}

.holding {
}

*.ownattack, .mnl_attaque {
  color: yellow;
}

*.ownfederation {
  color: #33CC00;
}

*.owndestroy {
  color: gold;
}

*.ownhold {
  color: #80a0C0;
}

*.ownmissile {
  color: sienna;
}

*.ownespionage, *.mnl_spy, .mnl_spy td {
  color: orange;
}

*.owntransport, .mnl_transport {
  color: lime;
}

*.owndeploy {
  color: lightgreen;
}

*.ownharvest, .mnl_exploit {
  color: green;
}

*.owncolony {
  color: #C76838;
}

*.ownexpedition, .mnl_expedition {
  color: lightblue;
}

.flight .ownattack a, .flight .owncolony a, .flight .owndeploy a, .flight .owndestroy a,
.flight .ownespionage a, .flight .ownfederation a, .flight .ownharvest a, .flight .ownhold a,
.flight .ownmissile a, .flight .owntransport a, .flight .ownexpedition a
{
  color: #E6EBFB;
}

*.attack {
  color: red;
}

.flight .attack a {
  color: #E6EBFB;
}

*.colony {
  color: lime;
}

.flight .colony a {
  color: #E6EBFB;
}

*.deploy {
  color: lime;
}

.flight .deploy a {
  color: #E6EBFB;
}

*.destroy {
  color: gold;
}

.flight .destroy a {
  color: #E6EBFB;
}

*.espionage {
  color: red;
}

.flight .espionage a {
  color: #E6EBFB;
}

*.federation {
  color: #CC0000;
}

.flight .federation a {
  color: #E6EBFB;
}

*.harvest {
  color: lime;
}

.flight .harvest a {
  color: #E6EBFB;
}

*.hold {
  color: #80a0C0;
}

.flight .hold a {
  color: #E6EBFB;
}

*.missile {
  color: red;
}

*.transport {
  color: lime;
}

.flight .transport a {
  color: #E6EBFB;
}

.combatreport {
  color: red;
}

.espionagereport {
  color: orange;
}

.timeremaining {
  color: orange;
}

.mnl_outbox, .mnl_outbox *
{
  background-color: #000000;
}

.mnl_joueur, .mnl_joueur *
{
  background-color: #114444;
}

.mnl_exploit, .mnl_exploit *
{
/*  background-color: #999999;*/
}

.mnl_buildlist, .mnl_buildlist *
{
  color: #00B7F3;
}

.mnl_alliance, .mnl_alliance *
{
  background-color: #446666;
}

.msg_admin, .msg_admin *
{
  color: #9900ff !important;
  background-color: #ffffff;
}

.new_message, .new_message *
{
  color: #000000;
  background-color: #ffffff;
}

/* Message & numbers color coding */
.ok, .success, .positive {
  color: lime;
}

.notice, .zero, .neutral {
  color: yellow;
}

.warning {
  color: orange;
}

.error, .negative {
  color: red;
}

.ok_bg, .success_bg, .positive_bg {
  background-color: darkgreen;
}

.notice_bg, .zero_bg, .neutral_bg {
  background-color: #AAAA00;
}

.warning_bg {
  background-color: #924200;
}

.error_bg, .negative_bg {
  background-color: darkred;
}

.errormessage a, .success a, .notice a, .warning a, .error a {
  text-decoration: underline;
}

/* Resources color coding*/
.metal{
  color: darkgrey;
}

.crystal{
  color: cyan;
}

.deuterium{
  color: #800080;
}

.overall{
  color: white;
}

.metal_bg{
  background-color: darkgrey;
}

.crystal_bg{
  background-color: cyan;
}

.deuterium_bg{
  background-color: #800080;
}

.overall_ng{
  background-color: white;
}

.battle_report_link
{
  color: black;
  background-color: white;
}
