/*
                                 █████████████████████████████████████████████████████████
                                 ███▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒███▒
                                 ███▒                                                  ███▒
                                 ███▒                SuperNova: SuperNova              ███▒
                                 ███▒                                                  ███▒
                                 ███▒                      V 2.0                       ███▒
                                 ███▒                                                  ███▒
                                 ███▒    Skin for "SuperNova.ws" ogame.supernova.ws    ███▒
                                 ███▒                                                  ███▒
                                 ███▒                                                  ███▒
                                 ███▒     The Emperor with 08.08.2009 22:44:47 Ivash   ███▒
                                 ███▒            Alliance: NewSTAR                     ███▒
                                 ███▒                                                  ███▒
                                 █████████████████████████████████████████████████████████▒
                                  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

Color reference
~~~~~~~~~~~~~~~

JQ means "jQuery Theme Roller" http://jqueryui.com/themeroller/
You can look at actual JQ link for theme in /design/css/jquery-ui.css

#201410 - #13233E
  TH background
  JQ Header-Toolbar text & icon
- #233452
  Between TH and TD when you need mid-header in TD. Example - News header background and Survey header background
#242424 - #344566
  TD background
  JQ Content background
#483634 - #415680
  Highlighted background
  Active background
  JQ Hover state background
  JQ Active State background
  JQ Highlight Background
- #222D42
  Button default color
  JQ Clickable: Default State
- #dfeafd
  JQ Header/Toolbar background
#D58000 - #E6EBFB
  Input element color

*/

/* Desktops and laptops medium-res */
@media only screen and (min-width : 760px) {
  body {
    /*background-image     : url(img/background_medium.jpg);*/
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  body {
    /*background-image     : url(img/background.jpg);*/
  }
}

body {
  background-color     : #80605D;
  scrollbar-arrow-color: #80605D;
  scrollbar-base-color: #363636;
  scrollbar-track-color: #363636;
  scrollbar-face-color: #363636;
  scrollbar-highlight-color: #344566;
  scrollbar-3dlight-color: #80605D;
  scrollbar-darkshadow-color: #344566;
  scrollbar-shadow-color: #80605D;
}

input, select, textarea, div.z {
 color                : #D58000;
}

th, td, input, select, textarea {
  border-color         : #483634;
  background-color     : #242424;
}

/*th.c_l, th.c_r, th.c_c, tr.c_l th, tr.c_r th, tr.c_c th, td.c {*/
td.c, th.c_l, th.c_r, th.c_c, th.c_j, tr.c_l > th, tr.c_r > th, tr.c_c > th, tr.c_j > th {
  background-image     : url("img/bg1.gif");
}

td.l {
  background-image     : url("img/bg2.gif");
}

a:hover {
  color                : #80605D;
  text-decoration      : underline;
}

.style div a {
  color                : #00AA00;
}

.style div a:link {
  color                : #f2f2f2;
}

.style div a:visited {
  color                : #f2f2f2;
}

.style div a:hover {
  background-color     : #415680;
  text-decoration      : none;
}

#left_menu th {
  background-image: url("img/bg1.gif");
}

#left_menu th a {
  color: inherit;
}

#left_menu td a {
  color: #E6EBFB;
}

.link:hover {
  background-color     : #483634;
}

/* Setting popup table background color */
div .ui-dialog-content table {
  background: #242424;
}

/* Icon file */
.icons {
  background-image: url(images/icons.png) !important;
}

/* Unit preview box on build pages */
.unit_preview {
  border-color: #483634;
}

.unit_border_selected {
  border-color: #F9C749;  /* Reserved for unit_preview border color */
}

/* Flying fleet & message color coding */
*.owncolony {
  color: #C76838;
}

.mnl_buildlist, .mnl_buildlist * {
  color: #00B7F3;
}
