/*
                                 █████████████████████████████████████████████████████████
                                 ███▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒███▒
                                 ███▒                                                  ███▒
                                 ███▒                SuperNova: SuperNova              ███▒
                                 ███▒                                                  ███▒
                                 ███▒                      V 2.0                       ███▒
                                 ███▒                                                  ███▒
                                 ███▒    Skin for "SuperNova.ws" ogame.supernova.ws    ███▒
                                 ███▒                                                  ███▒
                                 ███▒                                                  ███▒
                                 ███▒     The Emperor with 08.08.2009 22:44:47 Ivash   ███▒
                                 ███▒            Alliance: NewSTAR                     ███▒
                                 ███▒                                                  ███▒
                                 █████████████████████████████████████████████████████████▒
                                  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

Color reference
~~~~~~~~~~~~~~~

JQ means "jQuery Theme Roller" http://jqueryui.com/themeroller/
You can look at actual JQ link for theme in /design/css/jquery-ui.css

#201410 - #13233E
  TH background
  JQ Header-Toolbar text & icon
#221C1A - #233452
  Between TH and TD when you need mid-header in TD. Example - News header background and Survey header background
#242424 - #344566
  TD background
  JQ Content background
#705955 - #415680
  Highlighted background
  Active background
  JQ Hover state background
  JQ Active State background
  JQ Highlight Background
- #222D42
  Button default color
  JQ Clickable: Default State
#786560 - #dfeafd
  JQ Header/Toolbar background
#D58000 - #E6EBFB
  Input element color

*/

.ui-widget-content, .ui-widget-content a,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited,
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
  color: #e6ebfb;
}


.ui-widget-header, .ui-widget-header a
{
  color: #201410; /* #13233E;*/
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
{
  color: #ecc504;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error,
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a,
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
{
  color: #ff0000;
}





.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
  /*background-color: #222D42;*/
  /*background-color: #363636;*/
  background-image: none;
  background-color: #483634;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
  /*background-color: #705955; /!* #415680; *!/*/
  background-image: none;
  background-color: #705955; /* #415680; */
}

.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
  /*background-color: #705955; /!* #415680; *!/*/
  background-image: none;
  background-color: #705955; /* #415680; */
}

.ui-widget-content {
  background-image: none;
  background-color: #242424; /* #344566; */
}

.ui-widget-header {
  /*background-color: #ecc504; /!* #dfeafd;*!/*/
  background-image: none;
  background-color: #786560;
}




.ui-button.ui-state-active, /* Hack */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
  border-color: #483634; /* #415680; */
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
  border-color: #ff0000;
}


.ui-widget-content,
.ui-widget-header,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
  border-color: #483634; /* #415680; */
}

.ui-button.ui-input-text {
  background-image: none;
  background-color: #786560;
}

body {
  background-color     : #80605D;
  scrollbar-arrow-color: #80605D;
  scrollbar-base-color: #363636;
  scrollbar-track-color: #363636;
  scrollbar-face-color: #363636;
  scrollbar-highlight-color: #344566;
  scrollbar-3dlight-color: #80605D;
  scrollbar-darkshadow-color: #344566;
  scrollbar-shadow-color: #80605D;
}

input, select, textarea, div.z {
 color                : #D58000;
}

.cell, .th, .td, th, td, input, select, textarea {
  border-color         : #483634;
  background-color     : #242424;
}

.header, .th, .td, td.c, th.c_l, th.c_r, th.c_c, th.c_j, tr.c_l > th, tr.c_r > th, tr.c_c > th, tr.c_j > th,
table.c_l th, table.c_c th, table.c_j th, table.c_r th
{
  background-image     : url("img/bg1.gif");
}

td.l {
  background-image     : url("img/bg2.gif");
}

a:hover {
  color                : #80605D;
  text-decoration      : underline;
}

.style div a {
  color                : #00AA00;
}

.style div a:link {
  color                : #f2f2f2;
}

.style div a:visited {
  color                : #f2f2f2;
}

.style div a:hover {
  /*background-color     : #415680;*/
  background-color     : #705955;
  text-decoration      : none;
}

#left_menu th {
  background-image: url("img/bg1.gif");
}

#left_menu th a {
  color: inherit;
}

#left_menu td a {
  color: #E6EBFB;
}

.link:hover {
  background-color     : #483634;
}

/* Setting popup table background color */
div .ui-dialog-content table {
  background: #242424;
}

/* Icon file */
.icons {
  background-image: url(images/icons.png) !important;
}

div.ui-slider-range {
  background: #f6a828; !important;
}

/* Unit preview box on build pages */
.unit_preview {
  border-color: #483634;
}

.unit_border_selected {
  border-color: #F9C749;  /* Reserved for unit_preview border color */
}

/* Flying fleet & message color coding */
*.owncolony {
  color: #C76838;
}

.mnl_buildlist, .mnl_buildlist * {
  color: #00B7F3;
}

.button_pseudo {
  border-color: #483634;
}


.button_pseudo:not(img):hover, .button_pseudo_pressed:not(img) {
  background-color: #705955; /* rgba(65,86,128,1) */
}

#left_menu a:not(.lm_with_image) {
  background-color: rgba(34, 28, 26, 0.5); /* #221C1A - #233452; */
  border: 1px solid #483634;
}
#left_menu.MENU_NARROW_CELLS a:not(.lm_with_image) {
  background-color: #221C1A; /* - #233452;*/
}

#left_menu td a:hover, #left_menu th a:hover, #left_menu.MENU_NARROW_CELLS td a:hover, #left_menu.MENU_NARROW_CELLS th a:hover {
  background-color: #705955;
}

.news_header, .survey_confirm {
  background-color: #221C1A; /*#233452;*/
}
.survey_header, .survey_voted {
  background-color: #221C1A; /*#233452;*/
}

.survey_block {
  border-color: #705955 /*#415680*/;
}

body:not(.no_border_image) table:not(.markup):not(.noborder):not(.no_border_image):not(.border_image_small),
body:not(.no_border_image) div#tab_container,
body:not(.no_border_image) div.market_services,
body:not(.no_border_image) .border_image_large
{
  /*border: solid transparent;*/
  /*border-radius: 0.5em;*/

  /*border-width: 2.181818181818em 1em 2.272727272727em 2.272727272727em;*/

  -moz-border-image:    url("images/border.png") 24 11 25 25 round round;
  -o-border-image:      url("images/border.png") 24 11 25 25 round round;
  -webkit-border-image: url("images/border.png") 24 11 25 25 round round;
  border-image:         url("images/border.png") 24 11 25 25 round round;
}

body:not(.no_border_image) .border_image_small, body:not(.no_border_image) .ui-dialog
{
  /*border: solid transparent;*/
  /*border-radius: 0.5em;*/

  /*border-width: 1em 1em 1em 1em;*/

  -moz-border-image:    url("images/border_small.png") 11 11 11 11 round round;
  -o-border-image:      url("images/border_small.png") 11 11 11 11 round round;
  -webkit-border-image: url("images/border_small.png") 11 11 11 11 round round;
  border-image:         url("images/border_small.png") 11 11 11 11 round round;
}

div#tab_container > div {
  background-color: #242424;
}

div.market_services {
  background-color: transparent;
  padding: 0;
}

.market_services div:first-child {
  background-color: #242424; /* #344566 */
  padding: 0.5em;
  margin-bottom: 0;
}

.ui-widget-header {
  background-color: #242424; /* #344566 */
  border: none;
  background-image: none;
}

.ui-tabs-active.ui-state-active {
  background-color: #242424; /* #344566 */
}

.ui-tabs .ui-tabs-panel {
  background-color: #242424;
}

#tab_tech_tree .tech_container {
  border-color: #483634;
}

.planet-manage-governor-hire-container {
  border-color: #483634;
}

.button_pseudo:not(img) {
  background-color: #483634;
}
input[type=checkbox] {
  background-image: none;
  background-color: #483634;
  color: #483634;
}
input[type=checkbox]:hover:not(:checked) {
  background-image: none;
  background-color: #786560;
  color: #786560;
}
.subheader, tr.subheader > td, tr.subheader > th {
  background-color: #221C1A;
}
.planet_list_fields {
  background-color: #242424;
}
.ov_struc_timer {
  background-color: #242424;
}

/* Setting dialog content background - which is 'transparent' in jQuery-UI */
.ui-dialog .ui-dialog-content {
  background-image: none;
  background-color: #705955;
}


/*
Break points:
< 480 - slow mobile devices
  No background at all
>= 480 - still slow mobile devices or portrait orientation
  Depends on size. 40kb - OK, 100kb - no background
>= 760 - Desktops and laptops medium-res
  800px background
>= 950 - Desktops and laptops medium-res, includes 960, 1024 width
  1024 background
>= 1224 - Desktops and laptops normal res
  1280 background
>= 1550 - Desktops and laptops above normal res. I.e. 1600x
  1600 background
>= 1824 - Desktops and laptops high res
  1920 background
*/

/*@media only screen and (min-width: 480px) {*/
/*body {*/
/*background-image: url(img/background_0800.jpg);*/
/*}*/
/*}*/

/* Desktops and laptops medium-res */
@media only screen and (min-width: 760px) {
  body {
    background-image: url(img/background_0800.jpg);
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 950px) {
  body {
    background-image: url(img/background_1024.jpg);
  }
}

@media only screen and (min-width: 1224px) {
  body {
    background-image: url(img/background_1280.jpg);
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1550px) {
  body {
    background-image: url(img/background_1600.jpg);
  }
}

@media only screen and (min-width: 1824px) {
  body {
    background-image: url(img/background_1920.jpg);
  }
}
