body
{
  overflow-y: scroll;
}

body, form
{
  margin: 0; padding: 0;
}

input.button
{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

@media screen
{
  input.frameles
  {
    border               : #ff0000;
    text-align           : center;
    font-size            : 11px;
  }
}

ul /* Unmarked list */
{
  margin: 0;
  padding-left: 20px;
  text-align: left;
}

li
{
  padding-top: 4px;
}

/* System classes */
.fl /* Float left */
{
  float: left;
}

.fr /* Float right */
{
  float: right;
}

.left /* Left align */
{
  text-align: left;
}

.right /* Right align */
{
  text-align: right;
}

.hide  /* Hide */
{
  display: none;
}

.tr /* Transparent */
{
  background-color: transparent;
  border: 0;
}

.strong /* strong tag emulation */
{
  font-weight: bold;
}

.icons
{
  width: 16px;
  height: 16px;
}

/* Icon file */
.icons { background-image: url(../images/icons.png); }

.icon-plus { background-position: 0px 0px; }
.icon-minus { background-position: -16px 0px; }
.icon-info { background-position: -32px 0px; }
.icon-cancel { background-position: -48px 0px; }
.icon-gather { background-position: -64px 0px; }

.icon_alpha, .alpha75 /* Partially transparent background for over-planet-image icons */
{
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.75 opacity */
  background: rgba(0, 0, 0, 0.75);
}

.alpha50
{
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.50 opacity */
  background: rgba(0, 0, 0, 0.50);
}

.alpha25
{
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.25 opacity */
  background: rgba(0, 0, 0, 0.25);
}

/* jQuery-UI */
/*--------------------------------------------------------*/
/* Patches */
/* Turning off headers in dialogs */
.ui-dialog .ui-dialog-titlebar { display: none; }
/* Turning off resize grapplers */
.ui-dialog .ui-resizable-se { display: none; }
/* Setting no-padding to content inside dialog */
.ui-dialog .ui-dialog-content { padding: 0; }

/* Hack: Setting no background and border for dialogs */
body .ui-dialog, div .ui-dialog-content { background: transparent; border: none; }

/* Coloring Slider Range */
.ui-slider-range { background: #f6a828; }

.table th, .table tr, .table td
{
  vertical-align: top;
  text-align: left;
}

.error
{
/*  text-align: left;*/
  color: red;
}

.noborder, .noborder tr, .noborder th
{
  border: 0px;
}

#chat_box
{
  width: 100%;
}

#copyright
{
  text-align: center;
}

#page_body
{
  margin-left: 150px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

#sn_navbar
{
/*  padding-left: 150px;*/
}

#sn_menu {
  float:left;
  width: 130px;
/*  text-align: center;*/
  padding-left:5px;
  padding-right:5px;
}

#resources
{
  margin: auto;
}

.affiliates
{
  color: #993333;
}

/* Message & numbers color coding */
.important
{
  color: red;
  text-decoration: blink;
  font-weight: bold;
}

.ok, .success, .positive {
  color: lime;
}

.notice, .zero, .neutral {
  color: yellow;
}

.warning {
  color: orange;
}

.error, .negative {
  color: red;
}

.ok_bg, .success_bg, .positive_bg {
  background-color: darkgreen;
}

.notice_bg, .zero_bg, .neutral_bg {
  background-color: #AAAA00;
}

.warning_bg {
  background-color: #924200;
}

.error_bg, .negative_bg {
  background-color: darkred;
}

.errormessage a, .success a, .notice a, .warning a, .error a {
  text-decoration: underline;
}

.nick_admin
{
  color: purple;
}

.nick_operator
{
  color: red;
}

.nick_moderator
{
  color: green;
}

.nick_premium, .bonus, #menu_premium
{
  color: gold;
}

.same_alliance, .same_player
{
  color: #33CCFF;
}

.element_fill_wrap
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%
}

.empire_cell
{
  cursor: pointer;
  position: relative;
  height: 100%;
}

.empire_cell_wrapper
{
  position: relative;
  width: 100%;
  height: 13px;
}

.empire_cell_filler
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.empire_cell_number
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.planet_list_wrap
{
  position: relative;
  border: 0px solid blue;
}

.planet_list_bar
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.planet_list_fields
{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  font-size: 9px;
  font-weight: bold;
}

.planet_list_moon_attack
{
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  cursor: pointer;
}

.planet_list_submoon_fields
{
  position: absolute;
  left: 0;
  width: 100%;
  top: 90%;
  height: 10%;
  overflow: hidden;
}

.planet_list_submoon_attack
{
  position: absolute;
  top: 26%;
  left: 26%;
  width: 48%;
  height: 48%;
}

.planet_list_fill_bar
{
  height: 9px;
  overflow: hidden;
  left: 0px;
  position: absolute;
}

.planet_list_res_bar
{
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.planet_list_governor_level
{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.left_top
{
  position: absolute;
  left: 0px;
  top: 0px;
}

.icon_25per_left_1
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 25%
}

.icon_25per_left_2
{
  position: absolute;
  top: 25%;
  left: 0px;
  width: 25%;
  height: 25%
}

.icon_25per_left_3
{
  position: absolute;
  top: 50%;
  left: 0px;
  width: 25%;
  height: 25%;
}

.icon_25per_left_4
{
  position: absolute;
  top: 75%;
  left: 0px;
  width: 25%;
  height: 25%;
}

.icon_25per_right_4
{
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon_25per_top_2
{
  position: absolute;
  top: 0px;
  left: 25%;
  width: 25%;
  height: 25%;
}

.icon_fill
{
  height: 100%;
  width: 100%;
  border-style: none;
  cursor: pointer;
}

#copyright #supernova_ws
{
  font-weight: normal;
}
/*
tr.c_l > th, tr.c_l > td
{
  text-align: left;
}
tr.c_r > th, tr.c_r > td
{
  text-align: right;
}
tr.c_c > th, tr.c_c > td, td.c
{
  text-align: center;
}
tr.c_j > th, tr.c_j > td
{
  text-align: justify;
}
*/
th.c_l, td.c_l
{
  text-align: left;
}
th.c_r, td.c_r
{
  text-align: right;
}
th.c_c, td.c_c, td.c
{
  text-align: center;
}
th.c_j, td.c_j
{
  text-align: justify;
}

.cell_left, .c_l
{
  text-align: left;
}
.cell_right, .c_r
{
  text-align: right;
}
.cell_center, .c_c
{
  text-align: center;
}
.cell_justify, .c_j
{
  text-align: justify;
}
