/* Login and Registration screens */
@media screen
{
  body {
      background-image: url(../images/bg-unauthorized.jpg);
      background-repeat: no-repeat;
  }
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#log_skipper {
  height: 200px;
}


#log_main, #copyright {
  position: relative;
  background-repeat: none;
  border:1px solid #FFFFFF;

  font-color: #0a1c25;
  color:  #b1daf2;

  background-color     : #000000;

  width: 450px;
}

#log_main {
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

#copyright
{
  font-weight: bold;

  color: #0a1c25;
  text-align: center;

  background-color     : #FFFFFF;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

#log_status, #log_title
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: #0a1c25;
  width: 100%;
  text-align: center;

  background-color     : #FFFFFF;
  filter               : alpha(opacity=90);
  -moz-opacity         : 0.9;
  -khtml-opacity       : 0.9;
  opacity              : 0.9;
}

#log_title
{
  font-size: 20px;
}

#log_description
{
  margin: 20px;
  color:  #b1daf2;
  text-align: justify;
}

#log_register {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;

  margin:20px;
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  color:#497ec7;
  cursor: pointer;

  background-color     : #000000;
  border:1px solid #FFFFFF;
}

#log_register:hover
{
  color:#ffffff;
}

#log_form {
  padding: 2%;
  height: 5em;
}

.log_input_wrapper
{
  float: left;
  margin-left: 2%;
  width: 46%;
  text-align: left;
}

.log_input
{
  border:1px solid #000000;
  background:#ffffff url(../design/images/bg_login.png) repeat-x;
  color: #000000;
  font-size:10px;
  width: 100%;
  left: 0px;
}

#log_menu {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px;
}
