/* Desktops and laptops medium-res */
@media only screen
and (min-width : 760px) {
  /* Styles */
  body
  {
    background-image     : url(img/background_medium.jpg);
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  body
  {
    background-image     : url(img/background.jpg);
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  body
  {
    background-image     : url(img/background.jpg);
  }
}
