<h2>{L_adm_er_ttle}</h2>
<a class="link" href="admin/adm_log_main.php?delete_update_info=1">{L_adm_log_delete_update_info}</a><br /><br />

<table width="600px">
  <tr class="c_l">
    <th width="60px">{L_adm_er_idmsg}</th>
    <th width="120px">{L_adm_er_time}</th>
    <th>{L_adm_er_type}</th>
    <th>{L_adm_er_play}</th>
    <th>{L_adm_er_page}</th>
    <th class="c_c" width="16px"><img src="design/images/r1.png"></th>
  </tr>

  <!-- BEGIN error -->
    <tr class="c_l">
      <td><a href="admin/adm_log_main.php?detail={error.LOG_ID}" class="link">{error.LOG_ID}</a></td>
      <td>{error.LOG_TIMESTAMP}</td>
      <td>[{error.LOG_CODE}] {error.LOG_TITLE}</td>
      <td>{L_adm_er_idmsg} {error.LOG_SENDER}<!-- IF error.LOG_USERNAME -->&nbsp;[{error.LOG_USERNAME}]<!-- ENDIF --></td>
      <td>{error.LOG_PAGE}</td>
      <td class="c_c"><a href="admin/adm_log_main.php?delete={error.LOG_ID}"><img src="design/images/r1.png"></a></td>
    </tr>

    <tr><td colspan="6" class="c_l error_message">{error.LOG_TEXT}</td></tr>
  <!-- END error -->

  <tr>
    <th class="c_l" colspan=6>
      {L_adm_er_nbs}&nbsp;{LOG_MESSAGES_VISIBLE}/{LOG_MESSAGES_TOTAL}
      <!-- <span class="fr">[<a href="admin/errors.php?deleteall=yes">{L_adm_er_clear}</a>]</span> -->
    </th>
  </tr>
</table>
