<h2>{L_adm_mm_title}</h2>

<form action="" method="post">
  <table width="305"><tbody>
    <tr class="c_c"><th colspan="2">{L_adm_mm_title}</th></tr>
    <tr class="c_c">
      <td>{L_adm_mm_user}</td>
      <td><input name="id_user" type="text" value="{ID_USER}" /><br />{L_adm_mm_change_hint}</td>
    </tr>
    <tr class="c_c">
      <td>{L_sys_metamatter}</td>
      <td><input name="points" type="text" value="{POINTS}" /></td>
    </tr>
    <tr class="c_c">
      <td>{L_adm_reason}</td>
      <td><input name="reason" type="text" value="{REASON}" /></td>
    </tr>
    <tr class="c_c"><th colspan="2"><input type="Submit" value="{L_adm_apply}" /></th></tr>
  </tbody></table>
</form>
