<h1>{L_adm_er_ttle}</h1>

<table width="auto">
  <tr class="c_l">
    <th nowrap>{L_adm_er_idmsg} {log_id}</th>
    <th nowrap>{L_adm_er_time} {log_timestamp} [{log_time}]</th>
    <th nowrap>[{log_code}] {log_title}</th>
    <th nowrap>{L_adm_er_play} <b>ID {log_sender}</b><!-- IF log_username --> [{log_username}]<!-- ENDIF --></th>
    <th nowrap>{log_page}</th>
  </tr>

  <tr class="c_l">
  </tr>

  <tr class="c_l">
    <th>{L_adm_er_text}</th>
    <td colspan="4"><div style="width: 800px">{log_text}</div></td>
  </tr>

  <!-- IF .vars -->
  <tr class="c_l">
    <th>{L_adm_er_bktr}</th>
    <td colspan="4">
      <div style="width: 800px">
        <!-- BEGIN vars -->
        {vars.VAR_VALUE}
        <!-- END vars -->
      </div>
    </td>
  </tr>
  <!-- ENDIF -->

</table>
