<h2>{L_adm_ov_count}</h2>

<table width="600">
  <tr class="c_c">
    <th><a href="admin/overview.php?cmd=sort&type=id">{L_adm_ul_id}</a></th>
    <th><a href="admin/overview.php?cmd=sort&type=username">{L_adm_ul_name}</a></th>
    <th><a href="admin/overview.php?cmd=sort&type=ally_name">{L_adm_ov_ally}</a></th>
    <th><a href="admin/overview.php?cmd=sort&type=total_points">{L_adm_ov_point}</a></th>
    <th><a href="admin/overview.php?cmd=sort&type=onlinetime">{L_adm_ov_activ}</a></th>
    <th><img src="design/images/icon_mail.gif" alt="{L_adm_ov_altpm}" title="{L_adm_ov_wrtpm}" border="0"></th>
  </tr>

  <!-- BEGIN user -->
  <tr class="c_c">
    <td class="c_r">{user.ID}</td>
    <td><a href= # title="{user.BROWSER}">{user.NAME}</a></td>
    <td>{user.ALLY}</td>
    <td class="c_r">{user.STAT_POINTS}</td>
    <td class="c_r">{user.ACTIVITY}</td>
    <td><a href="messages.php?mode=write&id={user.ID}"><img src="design/images/icon_mail.gif" alt="{L_adm_ov_altpm}" title="{L_adm_ov_wrtpm}" border="0"></a></td>
  </tr>
  <!-- END user -->

  <tr>
    <th class="c_c" colspan="6">{L_adm_ov_count}: {USERS}</th>
  </tr>
</table>

<!-- INCLUDE page_hint -->
