<h2>{L_adm_dm_title}</h2>

<form action="" method="post">
  <table width="305">
    <tbody>
    <tr>
      <td class="c" colspan="2">{L_adm_dm_title}</td>
    </tr>
    <tr>
      <th>{L_adm_dm_user}</th>
      <th>
        <input name="playerId" type="text" value="{PLAYER_ID}"/><br/>
        {L_adm_dm_change_hint}
      </th>
    </tr>
    <tr>
      <th>{L_dark_matter}</th>
      <th><input name="points" type="text" value="{POINTS}"/></th>
    </tr>
    <tr>
      <th>{L_adm_reason}</th>
      <th><input name="reason" type="text" value="{REASON}"/></th>
    </tr>
    <tr>
      <th colspan="2"><input type="Submit" value="{L_adm_apply}"/></th>
    </tr>
    </tbody>
  </table>
</form>
