<h2>[{id}] {username}</h2>

<table class="c_l">
<tr><th class="c_l" colspan="2">Основная информация</th></tr>
<tr>
  <td>id</td>
  <td>{id}</td>
</tr>
<tr>
  <td>username</td>
  <td>{username}</td>
</tr>
<tr>
  <td>password</td>
  <td>{password}</td>
</tr>
<tr>
  <td>user_agent</td>
  <td>{user_agent}</td>
</tr>
<tr>
  <td>user_lastip</td>
  <td>{user_lastip}</td>
</tr>
<tr>
  <td>user_proxy</td>
  <td>{user_proxy}</td>
</tr>
<tr>
  <td>register_time</td>
  <td>{register_time}</td>
</tr>
<tr>
  <td>onlinetime</td>
  <td>{onlinetime}</td>
</tr>
<tr>
  <td>authlevel</td>
  <td>{authlevel}</td>
</tr>
<tr>
  <td>admin_protection</td>
  <td>{admin_protection}</td>
</tr>


<tr>
  <td>id_planet</td>
  <td>{id_planet}</td>
</tr>
<tr>
  <td>galaxy</td>
  <td>{galaxy}</td>
</tr>
<tr>
  <td>system</td>
  <td>{system}</td>
</tr>
<tr>
  <td>planet</td>
  <td>{planet}</td>
</tr>
<tr>
  <td>current_planet</td>
  <td>{current_planet}</td>
</tr>


<tr><th class="c_l" colspan="2">Профиль пользователя</th></tr>
<tr>
  <td>email</td>
  <td>{email}</td>
</tr>
<tr>
  <td>email_2</td>
  <td>{email_2}</td>
</tr>
<tr>
  <td>sex</td>
  <td>{sex}</td>
</tr>
<tr>
  <td>avatar</td>
  <td>{avatar}</td>
</tr>
<tr>
  <td>sign</td>
  <td>{sign}</td>
</tr>
<tr>
  <td>user_birthday</td>
  <td>{user_birthday}</td>
</tr>


<tr><th class="c_l" colspan="2">Ресурсы</th></tr>
<tr>
  <td>metal</td>
  <td>{metal}</td>
</tr>
<tr>
  <td>crystal</td>
  <td>{crystal}</td>
</tr>
<tr>
  <td>deuterium</td>
  <td>{deuterium}</td>
</tr>
<tr>
  <td>dark_matter</td>
  <td>{dark_matter}</td>
</tr>
<tr>
  <td>metamatter</td>
  <td>{metamatter}</td>
</tr>
<tr>
  <td>metamatter_total</td>
  <td>{metamatter_total}</td>
</tr>
<tr>
  <td>player_race</td>
  <td>{player_race}</td>
</tr>



<tr><th class="c_l" colspan="2">Альянс</th></tr>
<tr>
  <td>ally_id</td>
  <td>{ally_id}</td>
</tr>
<tr>
  <td>ally_tag</td>
  <td>{ally_tag}</td>
</tr>
<tr>
  <td>ally_name</td>
  <td>{ally_name}</td>
</tr>
<tr>
  <td>ally_register_time</td>
  <td>{ally_register_time}</td>
</tr>
<tr>
  <td>ally_rank_id</td>
  <td>{ally_rank_id}</td>
</tr>
<tr>
  <td>user_as_ally</td>
  <td>{user_as_ally}</td>
</tr>








<tr><th class="c_l" colspan="2">Очки</th></tr>
<tr>
  <td>player_rpg_explore_xp</td>
  <td>{player_rpg_explore_xp}</td>
</tr>
<tr>
  <td>player_rpg_explore_level</td>
  <td>{player_rpg_explore_level}</td>
</tr>
<tr>
  <td>lvl_minier</td>
  <td>{lvl_minier}</td>
</tr>
<tr>
  <td>xpminier</td>
  <td>{xpminier}</td>
</tr>
<tr>
  <td>player_rpg_tech_xp</td>
  <td>{player_rpg_tech_xp}</td>
</tr>
<tr>
  <td>player_rpg_tech_level</td>
  <td>{player_rpg_tech_level}</td>
</tr>
<tr>
  <td>lvl_raid</td>
  <td>{lvl_raid}</td>
</tr>
<tr>
  <td>xpraid</td>
  <td>{xpraid}</td>
</tr>
<tr>
  <td>raids</td>
  <td>{raids}</td>
</tr>
<tr>
  <td>raidsloose</td>
  <td>{raidsloose}</td>
</tr>
<tr>
  <td>raidswin</td>
  <td>{raidswin}</td>
</tr>
<tr>
  <td>total_rank</td>
  <td>{total_rank}</td>
</tr>
<tr>
  <td>total_points</td>
  <td>{total_points}</td>
</tr>








<tr><th class="c_l" colspan="2">Блокировка, отпуск и удаление</th></tr>
<tr>
  <td>banaday</td>
  <td>{banaday}</td>
</tr>
<tr>
  <td>vacation</td>
  <td>{vacation}</td>
</tr>
<tr>
  <td>vacation_next</td>
  <td>{vacation_next}</td>
</tr>
<tr>
  <td>deltime</td>
  <td>{deltime}</td>
</tr>


















<tr><th class="c_l" colspan="2">Основные настройки интерфейса</th></tr>
<tr>
  <td>lang</td>
  <td>{lang}</td>
</tr>
<tr>
  <td>dpath</td>
  <td>{dpath}</td>
</tr>
<tr>
  <td>design</td>
  <td>{design}</td>
</tr>


<tr><th class="c_l" colspan="2">Новости и сообщения</th></tr>
<tr>
  <td>news_lastread</td>
  <td>{news_lastread}</td>
</tr>
<tr>
  <td>new_message</td>
  <td>{new_message}</td>
</tr>
<tr>
  <td>mnl_alliance</td>
  <td>{mnl_alliance}</td>
</tr>
<tr>
  <td>mnl_joueur</td>
  <td>{mnl_joueur}</td>
</tr>
<tr>
  <td>mnl_attaque</td>
  <td>{mnl_attaque}</td>
</tr>
<tr>
  <td>mnl_spy</td>
  <td>{mnl_spy}</td>
</tr>
<tr>
  <td>mnl_exploit</td>
  <td>{mnl_exploit}</td>
</tr>
<tr>
  <td>mnl_transport</td>
  <td>{mnl_transport}</td>
</tr>
<tr>
  <td>mnl_expedition</td>
  <td>{mnl_expedition}</td>
</tr>
<tr>
  <td>mnl_buildlist</td>
  <td>{mnl_buildlist}</td>
</tr>
<tr>
  <td>msg_admin</td>
  <td>{msg_admin}</td>
</tr>

<tr><th class="c_l" colspan="2">Прочие настройки</th></tr>
<tr>
  <td>noipcheck</td>
  <td>{noipcheck}</td>
</tr>
<tr>
  <td>options</td>
  <td>{options}</td>
</tr>
<tr>
  <td>planet_sort</td>
  <td>{planet_sort}</td>
</tr>
<tr>
  <td>planet_sort_order</td>
  <td>{planet_sort_order}</td>
</tr>
<tr>
  <td>spio_anz</td>
  <td>{spio_anz}</td>
</tr>
<tr>
  <td>settings_tooltiptime</td>
  <td>{settings_tooltiptime}</td>
</tr>
<tr>
  <td>settings_fleetactions</td>
  <td>{settings_fleetactions}</td>
</tr>
<tr>
  <td>settings_esp</td>
  <td>{settings_esp}</td>
</tr>
<tr>
  <td>settings_wri</td>
  <td>{settings_wri}</td>
</tr>
<tr>
  <td>settings_bud</td>
  <td>{settings_bud}</td>
</tr>
<tr>
  <td>settings_mis</td>
  <td>{settings_mis}</td>
</tr>
<tr>
  <td>settings_rep</td>
  <td>{settings_rep}</td>
</tr>
<tr>
  <td>settings_statistics</td>
  <td>{settings_statistics}</td>
</tr>
<tr>
  <td>settings_info</td>
  <td>{settings_info}</td>
</tr>


<tr><th class="c_l" colspan="2">Системные поля</th></tr>
<tr>
  <td>que_processed</td>
  <td>{que_processed}</td>
</tr>
<tr>
  <td>user_time_measured</td>
  <td>{user_time_measured}</td>
</tr>
<tr>
  <td>user_time_diff</td>
  <td>{user_time_diff}</td>
</tr>
<tr>
  <td>user_time_utc_offset</td>
  <td>{user_time_utc_offset}</td>
</tr>
<tr>
  <td>user_time_diff_forced</td>
  <td>{user_time_diff_forced}</td>
</tr>
<tr>
  <td>user_birthday_celebrated</td>
  <td>{user_birthday_celebrated}</td>
</tr>
<tr>
  <td>player_que</td>
  <td>{player_que}</td>
</tr>

</table>
