<h1>{PAGE_NAME}</h1>

<!-- IF ACTIVE_STATUS == 1 -->
<!-- DEFINE $ACTIVE_SELECTED_1 = 'checked' -->
<!-- ELSEIF ACTIVE_STATUS == 2 -->
<!-- DEFINE $ACTIVE_SELECTED_2 = 'checked' -->
<!-- ELSEIF ACTIVE_STATUS == 0 -->
<!-- DEFINE $ACTIVE_SELECTED_0 = 'checked' -->
<!-- ENDIF -->

<script type="text/javascript">
  $(document).on('click', "[name='ACTIVE_STATUS'],[name='SORT_BY']", function () {
    $("#filterForm").submit();
  })
</script>

<form action="" method="get" id="filterForm">
  <input type="hidden" name="page" value="admin/admin_mining"/>

  <div>
    { Players activity }
    <input type="radio" name="ACTIVE_STATUS" id="activeAll" value="0" {$ACTIVE_SELECTED_0}/>
    <label for="activeAll"> { activeAll } </label>
    <input type="radio" name="ACTIVE_STATUS" id="activeLong" value="1" {$ACTIVE_SELECTED_1}/>
    <label for="activeLong"> { activeLong } </label>
    <input type="radio" name="ACTIVE_STATUS" id="activeShort" value="2" {$ACTIVE_SELECTED_2}/>
    <label for="activeShort"> { activeShort } </label>
  </div>

  <div>
    { Sort by }
    <!-- BEGIN sorting -->

    <!-- IF sorting.CHECKED -->
    <!-- DEFINE $CHECKED = 'checked' -->
    <!-- ELSE -->
    <!-- DEFINE $CHECKED = '' -->
    <!-- ENDIF -->
    <input type="radio" name="SORT_BY" id="{sorting.HTML_ID}" value="{sorting.ID}" {$CHECKED}/>
    <label for="{sorting.HTML_ID}"> { {sorting.HTML_NAME} } </label>

    <!-- END sorting -->
  </div>

</form>

<!-- DEFINE $PAGER_COL_SPAN = '9' -->
<table>
  <!-- IF .production && PAGER_MESSAGES -->
  <tr class="c_c">
    <td class="subheader" colspan="{$PAGER_COL_SPAN}">
      {PAGER_MESSAGES}
    </td>
  </tr>
  <!-- ENDIF -->

  <tr class="c_l">
    <th>'ID'</th>
    <th>'NAME'</th>
    <th>'POINTS'</th>
    <th>'RANK'</th>
    <th>'TOTAL(metal)'</th>
    <!--<th>'TOTAL_CALC'</th>-->
    <th>'METAL'</th>
    <th>'CRYSTAL'</th>
    <th>'DEUTERIUM'</th>
    <th>'PERCENT'</th>
  </tr>

  <!-- BEGIN production -->
  <tr class="c_r">
    <td class="c_l">{production.ID}</td>
    <td class="c_l">{production.NAME}</td>
    <td>{production.POINTS|num|format}</td>
    <td>{production.RANK|num|format}</td>
    <td>{production.TOTAL|num|format}</td>
    <!--<td>{production.TOTAL_CALC|num|format}</td>-->
    <td>{production.METAL|num|format}</td>
    <td>{production.CRYSTAL|num|format}</td>
    <td>{production.DEUTERIUM|num|format}</td>
    <td>{production.PERCENT}</td>
  </tr>
  <!-- END production -->

  <!-- IF .production && PAGER_MESSAGES -->
  <tr class="c_c">
    <td class="subheader" colspan="{$PAGER_COL_SPAN}">
      {PAGER_MESSAGES}
    </td>
  </tr>
  <!-- ENDIF -->
</table>
