<style type="text/css">
  .admin_alliances {
    cursor: pointer;
  }
</style>

<h1>{PAGE_HEADER}</h1>

<!-- DEFINE $COLSPAN = '14' -->
<table id="js_admin_alliance" class="admin_alliances">
  <tr class="c_c">
    <th>ID</th>
    <th>TAG</th>
    <th>NAME</th>
    <th>CREATED</th>
    <th>OWNER</th>
    <th>LOGO</th>
    <th>REQ_LOCK</th>
    <th>OWNER_RANK_NAME</th>
    <th>MEMBERS</th>
    <th>POSITION</th>
    <th>POINTS</th>
  </tr>

  <!-- BEGIN ally -->
  <!-- IF ally.OWNER_ID -->
  <!-- DEFINE $ALLY_CLASS = '' -->
  <!-- ELSE -->
  <!-- DEFINE $ALLY_CLASS = 'notice' -->
  <!-- ENDIF -->


  <tr data-ally-id="{ally.ID}" class="highlight {$ALLY_CLASS}">
    <td class="c_r">{ally.ID}</td>
    <td class="c_l">{ally.TAG}</td>
    <td class="c_l">{ally.NAME}</td>
    <td>{ally.CREATED_TEXT}</td>
    <td class="c_l">
      <!-- IF ally.OWNER_NAME_SAFE -->
      [{ally.OWNER_ID}] {ally.OWNER_NAME_SAFE}
      <!-- ELSE -->
      { N/A }
      <!-- ENDIF -->
    </td>
    <td>{ally.HAVE_LOGO}</td>
    <td>{ally.REQUESTS_NOT_ALLOWED}</td>
    <td>{ally.OWNER_RANK_NAME}</td>
    <td>{ally.MEMBER_COUNT}</td>
    <td class="c_r">{ally.STAT_POSITION}</td>
    <td class="c_r">{ally.STAT_POINTS_TEXT}</td>
  </tr>
  <!-- BEGINELSE ally -->
  <tr>
    <td colspan="{$COLSPAN}">{ НЕТ АЛЬЯНСОВ }</td>
  </tr>
  <!-- END ally -->

</table>

<script type="text/javascript">
  $('#js_admin_alliance').on('click', 'td', function (e) {
    sn_redirect("index.php?page=admin/admin_ally&ally_id=" + $(this).parent().data('ally-id'));
  });
</script>
