<table id="ptl_test_table">
  <tr class="c_c">
    <th>{Конструкция}</th>
    <th>{Ожидание}</th>
    <th>{Результат}</th>
    <th>{OK?}</th>
    <th>{Комментарий}</th>
  </tr>
  <tr>
    <td>Testing JS code</td>
    <td class="ptl_etalon">ETALON</td>
    <td class="ptl_result">RESULT</td>
    <td class="ptl_status"></td>
    <th>Self-test - always should FAIL</th>
  </tr>
  <tr class="c_c">
    <th colspan="5">Test is <span id="ptl_global_status"></span></th>
  </tr>
  <tr>
    <td>&#123;VAR_VALUE&#125;</td>
    <td class="ptl_etalon">VAR_VALUE</td>
    <td class="ptl_result">{VAR_VALUE}</td>
    <td class="ptl_status"></td>
    <th>Root variable - existing</th>
  </tr>
  <tr>
    <td>&#123;TEST_NOT_EXISTS&#125;</td>
    <td class="ptl_etalon"></td>
    <td class="ptl_result">{TEST_NOT_EXISTS}</td>
    <td class="ptl_status"></td>
    <th>Root variable - non-existing</th>
  </tr>
  <tr>
    <td>&#123;АБВГД&#125;</td>
    <td class="ptl_etalon">&#123;АБВГД&#125;</td>
    <td class="ptl_result">{АБВГД}</td>
    <td class="ptl_status"></td>
    <th>Root variable - wrong name</th>
  </tr>
  <tr>
    <td>&#123;$VAR&#125;</td>
    <td class="ptl_etalon">$VARVALUE</td>
    <!-- DEFINE $VAR = '$VARVALUE' -->
    <td class="ptl_result">{$VAR}</td>
    <td class="ptl_status"></td>
    <th>DEFINE-d root variable - existing</th>
  </tr>
  <tr>
    <td>&#123;$VAR_NOT_EXISTS&#125;</td>
    <td class="ptl_etalon"></td>
    <td class="ptl_result">{$VAR_NOT_EXISTS}</td>
    <td class="ptl_status"></td>
    <th>DEFINE-d root variable - non-existing</th>
  </tr>
  <tr>
    <td>&#123;LA_admin_ptl_test_la_&#125;</td>
    <td class="ptl_etalon">Single\'Double\"Zero\0End</td>
    <td class="ptl_result">{LA_admin_ptl_test_la_}</td>
    <td class="ptl_status"></td>
    <th>JavaScript-safe language string</th>
  </tr>
  <tr>
    <td>&#123;LA_surely_not_exists_string_test&#125;</td>
    <td class="ptl_etalon">&#123; LA_surely_not_exists_string_test &#125;</td>
    <td class="ptl_result">{LA_surely_not_exists_string_test}</td>
    <td class="ptl_status"></td>
    <th>JavaScript-safe language string - non-existing</th>
  </tr>

  <tr>
    <th colspan="5" class="c_c">
      Image compilation
    </th>
  </tr>
  <tr>
    <td>&#123;I_NO_IMAGE&#125;</td>
    <td class="ptl_etalon">{D_SN_ROOT_VIRTUAL}design/images/_no_image.png</td>
    <td class="ptl_result">{I_NO_IMAGE}</td>
    <td class="ptl_status"></td>
    <th>No image exists</th>
  </tr>

  <tr>
    <td>&#123;I_navbar_research&#125;</td>
    <td class="ptl_etalon">{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png</td>
    <td class="ptl_result">{I_navbar_research}</td>
    <td class="ptl_status"></td>
    <th>Image URL translation</th>
  </tr>
  <tr>
    <td>&#123;I_navbar_research|html&#125;</td>
    <td class="ptl_etalon"><img src="{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png"/></td>
    <td class="ptl_result">{I_navbar_research|html}</td>
    <td class="ptl_status"></td>
    <th>General image</th>
  </tr>
  <tr>
    <td>&#123;I_navbar_research|html|height="20%"|width="20%"&#125;</td>
    <td class="ptl_etalon"><img src="{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png" height="20%" width="20%"/></td>
    <td class="ptl_result">{I_navbar_research|html|height="20%"|width="20%"}</td>
    <td class="ptl_status"></td>
    <th>General image with attributes - height 20%, width 20%</th>
  </tr>

  <!--<tr>-->
    <!--<td>&#123;I_navbar_research|html&#125;</td>-->
    <!--<td class="ptl_etalon"><img src="{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png"/></td>-->
    <!--<td class="ptl_result">{I_navbar_research|html}</td>-->
    <!--<td class="ptl_status"></td>-->
    <!--<th>General image</th>-->
  <!--</tr>-->



  <!--<tr>-->
    <!--<td>&#123;I_NO_IMAGE&#125;</td>-->
    <!--<td class="ptl_etalon">{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png</td>-->
    <!--<td class="ptl_result">-->
      <!--&lt;!&ndash; BEGIN q &ndash;&gt;-->
      <!--&lt;!&ndash; BEGIN w &ndash;&gt;-->
      <!--&lt;!&ndash; BEGIN e &ndash;&gt;-->
      <!--{I_[e.E1]}-->
      <!--&lt;!&ndash; END e &ndash;&gt;-->
      <!--&lt;!&ndash; END w &ndash;&gt;-->
      <!--&lt;!&ndash; END q &ndash;&gt;-->
    <!--</td>-->
    <!--<td class="ptl_status"></td>-->
    <!--<th>No image exists</th>-->
  <!--</tr>-->


  <tr>
    <td>&#123;I_navbar_research|skin=supernova-ivash&#125;</td>
    <td class="ptl_etalon">{D_SN_ROOT_VIRTUAL}skins/supernova-ivash/navbar/navbar_research_64x64.png</td>
    <td class="ptl_result">{I_navbar_research|skin=supernova-ivash}</td>
    <td class="ptl_status"></td>
    <th>No image exists</th>
  </tr>

  <tr>
    <td>&#123;I_navbar_research|skin=supernova-ivash|html&#125;</td>
    <td class="ptl_etalon"><img src="http://localhost/supernova_trunk/skins/supernova-ivash/navbar/navbar_research_64x64.png" /></td>
    <td class="ptl_result">{I_navbar_research|skin=supernova-ivash|html}</td>
    <td class="ptl_status"></td>
    <th>Image param 'skin' - directly get image from other skin</th>
  </tr>

  <!--<tr>-->
    <!--<td>&#123;I_[$PLANET_GOVERNOR_ID]|html|height="100%"&#125;</td>-->
    <!--<td class="ptl_etalon"><img src="{D_SN_ROOT_VIRTUAL}design/images/navbar_research_64x64.png" height="100%" /></td>-->
    <!--<td class="ptl_result">{I_[$PLANET_GOVERNOR_ID]|html|height="100%"}</td>-->
    <!--<td class="ptl_status"></td>-->
    <!--<th>General image with attributes - height 100%</th>-->
  <!--</tr>-->

</table>

<script type="text/javascript">
  var ptlFailCount = 0;

  function ptlTestResult(element, isOk) {
    element.text((isOk ? "" : "NOT ") + 'PASSED').css('color', isOk ? 'lightgreen' : 'red');
  }

  $(".ptl_etalon").each(function () {
    var parentCell = $(this).parent();
    var isOk = parentCell.find(".ptl_etalon").html() === parentCell.find(".ptl_result").html();
    !isOk ? ptlFailCount++ : false;
    ptlTestResult(parentCell.find(".ptl_status"), isOk);
  });

  ptlTestResult($("#ptl_global_status"), ptlFailCount == 1);
</script>
