<h1>{PAGE_HEADER}</h1>

<div style="display: inline-block;">
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_INFO_PHP}" class="button_pseudo w100">phpinfo()</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_INFO_SQL}" class="button_pseudo w100">{L_adm_tool_sql_page_header}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_CONFIG_RELOAD}" class="button_pseudo w100">{L_adm_tools_reloadConfig}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_MD5}" class="button_pseudo w100">{L_adm_tool_md5_header}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_FORCE_LAST}" class="button_pseudo w100">{L_adm_update_repeat}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_TOOL_FORCE_ALL}" class="button_pseudo w100">{L_adm_update_force}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_PTL_TEST}" class="button_pseudo w100">{L_adm_ptl_test}</a>
  </div>
  <div>
    <a href="admin/tools.php?mode={D_ADM_COUNTER_RECALC}" class="button_pseudo w100">{L_adm_counter_recalc}</a>
  </div>
</div>