<script type="text/javascript">
  jQuery(document).on('click', '.i_icon_mail_userlist', function(){
    document.location = "messages.php?mode=write&id=" + jQuery(this).parent().parent().attr('uid');
  });

  jQuery(document).on('click', '.i_icon_delete_userlist', function(){
    if(confirm('!{LA_adm_ul_delete_confirm} ' + jQuery(this).parent().parent().attr('uname'))) {
      document.location = "admin/userlist.php?sort={SORT}&action={D_ACTION_DELETE}&uid=" + jQuery(this).parent().parent().attr('uid');
    }
  });

  jQuery(document).on('click', '.i_icon_impers_userlist', function(){
    document.location = "admin/userlist.php?sort={SORT}&action={D_ACTION_USE}&uid=" + jQuery(this).parent().parent().attr('uid');
  });

  jQuery(document).on('click', '#user_list tr td:first-child, #user_list tr td:nth-child(2)', function(){
    document.location = "index.php?page=admin/user_view&uid=" + jQuery(this).parent().attr('uid');
  });

  jQuery(document).on('click', '.js_admin_ban', function(){
    document.location = "admin/banned.php?name=" + jQuery(this).parent().attr('uname');
  });

  jQuery(document).on('click', '.js_admin_whois', function(){
    openInNewTab("{GEOIP_WHOIS_URL}" + jQuery(this).parent().attr('uip'));
  });
</script>

<h2>{PAGE_HEADER} ({USER_COUNT})</h2>

<table id="user_list">
  <tr class="c_c">
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_ID}">{L_sys_id}</a></th>
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_NAME}">{L_sys_user_name}</a></th>
    <!-- IF METAMATTER -->
    <th rowspan="2">{L_sys_metamatter_sh}</th>
    <!-- ENDIF -->
    <th colspan="2">{L_adm_ul_referral}</th>
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_TIME_REGISTERED}">{L_adm_ul_time_registered}</a></th>
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_TIME_LAST_VISIT}">{L_adm_ul_time_played}</a></th>
    <th rowspan="2">{L_adm_ov_activ}</th>
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_TIME_BAN_UNTIL}">{L_adm_ul_time_banned}</a></th>
    <!-- IF ! RESTRICTED -->
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_VACATION}">{L_sys_vacation_in}</a></th>
    <th rowspan="2">{L_adm_ul_mail}</th>
    <th rowspan="2"><a href="{PAGE_URL}?sort={D_SORT_IP}">{L_sys_ip}</a></th>
    <!-- IF GEOIP -->
    <th rowspan="2">{L_geoip}</th>
    <!-- ENDIF -->
    <!-- ENDIF -->
    <th rowspan="2">{L_adm_sys_actions}</th>
  </tr>

  <tr class="c_c">
    <th><a href="{PAGE_URL}?sort={D_SORT_REFERRAL_COUNT}">{L_adm_ul_players}</a></th>
    <th><a href="{PAGE_URL}?sort={D_SORT_REFERRAL_DM}">{L_adm_ul_dms}</a></th>
  </tr>

  <!-- IF GEOIP_WHOIS_URL -->
  <!-- DEFINE $GEOIP_CLASS = 'js_admin_whois' -->
  <!-- ENDIF -->

  <!-- BEGIN user -->
  <tr uid="{user.ID}" uname="{user.NAME_HTML}" uip="{user.IP}" class="highlight">
    <td>{user.ID}</td>
    <td class="c_l">{user.NAME}</td>
    <!-- IF METAMATTER -->
    <td>{user.METAMATTER}</td>
    <!-- ENDIF -->
    <td class="c_r">{user.REFERRAL_COUNT}</td>
    <td class="c_r">{user.REFERRAL_DM}</td>
    <td>{user.TIME_REGISTERED}</td>
    <td>{user.TIME_PLAYED}</td>
    <td>{user.ACTIVITY}</td>
    <!-- IF user.BANNED -->
    <!-- DEFINE $BAN_CLASS = ' warning' -->
    <td class="js_admin_ban {$BAN_CLASS}" title="{user.BAN_ISSUER} {L_adm_ban_msg_issued_date} {user.BAN_DATE}. {L_adm_bn_reas}: '{user.BAN_REASON}'">{user.BANNED}</td>
    <!-- ELSE -->
    <!-- DEFINE $BAN_CLASS = '' -->
    <td class="js_admin_ban">{L_sys_no}</td>
    <!-- ENDIF -->
    <!-- IF ! RESTRICTED -->
    <td>{user.VACATION}</td>
    <td>{user.EMAIL}</td>

    <!-- IF user.IP_MULTI -->
    <!-- DEFINE $IP_CLASS = ' error' -->
    <!-- ELSE -->
    <!-- DEFINE $IP_CLASS = '' -->
    <!-- ENDIF -->
    <td class="{$GEOIP_CLASS}{$IP_CLASS}">{user.IP}<!-- IF user.IP_MULTI -->  ({user.IP_MULTI})<!-- ENDIF --></td>
    <!-- IF GEOIP -->
    <th>{user.COUNTRY}</th>
    <!-- ENDIF -->
    <!-- ENDIF -->

    <td>
      <div class="i_icon_mail_userlist"></div>
      <!-- IF user.ACTION -->
      <div class="i_icon_delete_userlist"></div>
      <div class="i_icon_impers_userlist"></div>
      <!-- ENDIF -->
    </td>
  </tr>
  <!-- END user -->
</table>
