<Files cfg.php>
order allow,deny
deny from all
</Files>

<Files ses.php>
order allow,deny
deny from all
</Files>

<Files tmpl.php>
order allow,deny
deny from all
</Files>

<Files sxd.lic.php>
order allow,deny
deny from all
</Files>