<?php
if(!defined("INSIDE")){ die("attemp hacking"); }

$dbsettings = array(
  'sn_driver'  => 'db_mysql_v5',    // db_mysql_v5 - MySQLi, db_mysql_v4 - простой MySQL. Можно написать свой драйвер
  "server"     => "localhost",      // MySQL сервер.
  "user"       => "supernova_user", // Логин доступа MySQL сервера.
  "pass"       => "MYSQL_PASSWORD", // Пароль доступа MySQL сервера.
  "name"       => "supernova",      // Название MySQL базы.
  "prefix"     => "sn_",            // Префикс для таблиц в базе и для xCache. ИСПОЛЬЗУЙТЕ РАЗНЫЕ ПРЕФИКСЫ, ЕСЛИ НА ОДНОМ СЕРВЕРЕ РАБОТАЕТ НЕСКОЛЬКО КОПИЙ SN!!!
  "secretword" => "SUPERNOVA",      // Ключевое слово для создания Cookies. (Не забудьте изменить на своё!)
);

$game['prefix'] = $dbsettings['prefix'];
